.maps_table                     {text-align: left; margin-right: auto; margin-left: auto; width: 50%}
.maps_table td                  {padding-top: 20px; width: 50%}
.maps_table td:nth-child(2)     {text-align: right}

.green                          {color:#00F014}
.red                            {color:#D20014}
.blue                           {color:#0078FF}
.purple                         {color:#780078}
.orange                         {color:#FFB114}

