{% extends "base.html" %}
{% load humanize %}

{% block description %}{{ request.display_user.username }}'s 8710 data{% endblock%}

{% block title %}8710{% endblock %}

{% block javascript %}
<script type="text/javascript">NAVBAR_HIGHLIGHT = "est-sel";</script>
{% endblock %}

{% block canvas %}
{% autoescape off %}
<table summary="8710 Data" id="est">
	<thead>
		<tr>

			<th>&nbsp;</th>
			<th>Total</th>
			<th>Instruction Received</th>
			<th>Solo</th>
			<th>Pilot in Command (PIC)</th>
			<th>Cross Country Instruction Recieved</th>
			<th>Cross Country Solo</th>
			<th>Cross Country PIC</th>
			<th>Instrument</th>
			<th>Night Instruction Received</th>
			<th>Night Take-off/<br />Landings</th>
			<th>Night PIC</th>
			<th>Night Take-off/<br />Landings PIC</th>
			<th>Number of Flights</th>
			<th>Number of Aero-Tows</th>
			<th>Number of Ground Launches</th>
			<th>Number of Powered Launches</th>
		</tr>

	</thead>

	<tbody>                                             {# AIRPLANE ROW #}
		<tr>
			<th rowspan="2">Airplanes</th>
			<td rowspan="2">{{ airplane.total|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ airplane.dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ airplane.solo|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ airplane.pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ airplane.xc_dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ airplane.xc_solo|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ airplane.xc_pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ airplane.inst|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ airplane.night_dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ airplane.night_l|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ airplane.night_pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ airplane.night_l_pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
		</tr>
		<tr>
			<td>{{ airplane.sic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td>{{ airplane.sic_xc|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td>{{ airplane.sic_night|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td>{{ airplane.sic_night_l|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
		</tr>

                                                        {# ROTORCRAFT ROW #}

		<tr>
			<th rowspan="2">Rotor-<br>craft</th>
			<td rowspan="2">{{ rotorcraft.total|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ rotorcraft.dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ rotorcraft.solo|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ rotorcraft.pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ rotorcraft.xc_dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ rotorcraft.xc_solo|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ rotorcraft.xc_pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ rotorcraft.inst|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ rotorcraft.night_dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ rotorcraft.night_l|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ rotorcraft.night_pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ rotorcraft.night_l_pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
		</tr>
		<tr>
			<td>{{ rotorcraft.sic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td>{{ rotorcraft.sic_xc|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td>{{ rotorcraft.sic_night|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td>{{ rotorcraft.sic_night_l|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
		</tr>
		
		                                                {# POWERED LIFT ROW #}
		
		<tr>
			<th rowspan="2">Powered<br />Lift</th>
			<td rowspan="2">{{ pl.total }}</td>
			<td rowspan="2">{{ pl.dual_r }}</td>
			<td rowspan="2">{{ pl.solo }}</td>
			<td rowspan="1">{{ pl.pic }}</td>
			<td rowspan="2">{{ pl.xc_dual_r}}</td>
			<td rowspan="2">{{ pl.xc_solo }}</td>
			<td rowspan="1">{{ pl.xc_pic }}</td>
			<td rowspan="2">{{ pl.inst }}</td>
			<td rowspan="2">{{ pl.night_dual_r }}</td>
			<td rowspan="2">{{ pl.night_l }}</td>
			<td rowspan="1">{{ pl.night_pic }}</td>
			<td rowspan="1">{{ pl.night_l_pic }}</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
		</tr>
		<tr>
			<td>{{ pl.sic }}</td>
			<td>{{ pl.sic_xc }}</td>
			<td>{{ pl.sic_night }}</td>
			<td>{{ pl.sic_night_l }}</td>
		</tr>
		                                                {# GLIDER ROW #}

		<tr>
			<th rowspan="2">Gliders</th>
			<td rowspan="2">{{ glider.total|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ glider.dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ glider.solo|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ glider.pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ glider.xc_dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ glider.xc_solo|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2">{{ glider.xc_pic|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2">&nbsp;</td>
			<td rowspan="2">&nbsp;</td>
			<td rowspan="2">&nbsp;</td>
			<td rowspan="2">&nbsp;</td>
		</tr>
		<tr>
		    <td style="display:none"></td>
		</tr>
		
		                                             {# LIGHTER THAN AIR ROW #}
		
		<tr>
			<th rowspan="2">Lighter Than Air</th>
			<td rowspan="2">{{ lta.total }}</td>
			<td rowspan="2">{{ lta.dual_r }}</td>
			<td rowspan="2">{{ lta.solo }}</td>
			<td rowspan="2">{{ lta.pic }}</td>
			<td rowspan="2">{{ lta.xc_dual_r}}</td>
			<td rowspan="2">{{ lta.xc_solo }}</td>
			<td rowspan="2">{{ lta.xc_pic }}</td>
			<td rowspan="2">{{ lta.inst }}</td>
			<td rowspan="2">{{ lta.night_dual_r }}</td>
			<td rowspan="2">{{ lta.night_l }}</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2">{{ lta.num_of_flights }}</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
			<td rowspan="2" class="greyed">&nbsp;</td>
		</tr>
		<tr>
		    <td style="display:none"></td>
		</tr>

		                                                {# SIMULATOR TRI-ROW #}

		<tr>
			<th rowspan="1">Simulator</th>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="1">{{ sim.dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="1">{{ sim.inst|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
			<td rowspan="3" class="greyed">&nbsp;</td>
		</tr>
		<tr>
			<th rowspan="1">FTD</th>
			<td rowspan="1">{{ ftd.dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ ftd.inst|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
		</tr>
		<tr>
			<th rowspan="1">PCATD</th>
			<td rowspan="1">{{ pcatd.dual_r|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>
			<td rowspan="1">{{ pcatd.inst|floatformat:1|intcomma|default:"&nbsp;"|safe }}</td>

		</tr>
	</tbody>


</table>
<div id='instruction'>
    <h2>How each field is calculated:</h2>

    <ul>
        <li>All values in the 'Airplane' row is a calculated from time logged in
        planes marked as either "Airplane/SEL", "Airplane/MEL", "Airplane/SES", or
        "Airplane/MES". Any other flights are ignored, including Airplane/Simulator
        and planes with an unknown category/class. The rest of the rows are
        calculated in the same manner.</li>
            
        <li>"Total", "Instruction Received", "Solo", "Pilot in Command (PIC)", and
        "Night Take-off/Landings" are calculated exactly as they are entered.
        
        <li>"Cross Country Instruction Recieved", and "Night Instruction Received"
        are calculated by first removing all flights where Dual Received is not
        logged. From the flights remaining, it calculates the total Cross
        Country and Night for these flights. The same method is used for
        "Cross Country Solo", "Cross Country PIC", "Night Take-off/Landings
        PIC", "Night PIC", and all the SIC fields. This assumes, for insatnce,
        that <em>all</em> Cross Country time logged in a flight where PIC time
        is also logged is what the FAA defines as "Cross Country PIC".</li>
        
        <li>"Instrument" time is calculated by adding "Simulated Instrument" with 
        "Actual Instrument".</li>
        
    </ul>
</div>
    
    
{% endautoescape %}
{% endblock %}
