{% extends "base.html" %}

{% block description %}{{ request.display_user.username }}'s badges{% endblock%}

{% block javascript %}
    
    <script type="text/javascript">
        var NAVBAR_HIGHLIGHT = "badges-sel";
	</script>
	
{% endblock %}

{% block title %}Badges{% endblock %}


{% block canvas %}

<div>
    {% for badge in badges %}
    <div class="badge">
        <h3>{{ badge.title }} ({{ badge.level }})</h3>
        <span class="awarded_flight">{{ badge.awarded_flight }}</span>
    </div>
    {% endfor %}
</div>

{% endblock %}
