{% extends "base.html" %}
{% load profile_lists %}
{% block description %}{{ r|upper }} route profile{% endblock%}

{% block title %}Route Profile - {{ r|upper }}{% endblock %}

{% block canvas %}

<h1>{{ r|upper }}</h1>

{% url single_route-kml route.pk "r" as kml_url %}
{% include "gmaps.html" %}


<table id="route_table">
{% for rb in rbs %}
    <tr>
        {{ rb|routebase_row }}
    </tr>
{% endfor %}
    <tr>
        <th colspan="2">Total distance: {{ route.total_line_all|floatformat:1 }} NM</th>
    </tr>
</table>

<table id="item_profile">
    <tr>
        <th>Users who have flown this route</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total number of flights logged with this route</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that have flown this route:</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
    <tr>
        <th>Types that have flown this route</th>
        <td>{{ types|list_types }}</td>
    </tr>
</table>

{% endblock %}
