{% extends "base.html" %}
{% block bargraphs-sel %}nav_selected{% endblock%}

{% block description %}{{ request.display_user.username }}'s bar graphs{% endblock%}

{% block javascript %}

    <script type="text/javascript" src="{% static "js/sprintf.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bargraphs.js" %}"></script>
    
    <script type="text/javascript">
        date_button = "{% static "images/calendar.gif" %}";
        year_range = "1990:2013";
        var NAVBAR_HIGHLIGHT = "bargraphs-sel";
	</script>
	
{% endblock %}

{% block title %}Line Graphs{% endblock %}

{% block canvas %}
    <select id="func">
        <option value="Sum">Sum</option>
        <option value="Avg">Average</option>
        <option value="Max">Maximum</option>
        <option value="Min">Minimum</option>
        <option value="StdDev">Standard Deviation</option>
    </select>

    <select id="bar_column">
    {{ column_options }}
    </select>
    
    <select id="agg">
    {{ agg_options }}
    </select>

    <input id="bar_graph" class="render_button png" name="line_render" value="Render" type="submit">
    
    <br> <br> <br>
    <img src="" id="image" style="display:none; margin-right: auto; margin-left: auto">

{% endblock %}
