{% extends "base.html" %}

{% block description %}{{ request.display_user.username }}'s line graphs{% endblock%}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/ui-lightness/jquery-ui.css">
    <script type="text/javascript" src="{% static "js/sprintf.js" %}"></script>
    <script type="text/javascript" src="{% static "js/graphs.js" %}"></script>
    
    <script type="text/javascript">
    date_button = "{% static "images/calendar.gif" %}";
    year_range = "1990:2009";
	NAVBAR_HIGHLIGHT = "linegraphs-sel";
	</script>
{% endblock %}

{% block title %}Line Graphs{% endblock %}


{% block canvas %}

    <select id="line_column">
    {{ column_options }}
    </select>
    
    <div style="padding: 10px">
    Start: <input type="date" class="date" id="line_start">
    End: <input type="date" class="date" id="line_end">
    <br>
    Include rate? <input type="checkbox" id="do_rate">
    Filter out spikes? <input type="checkbox" id="filter_spikes">
    </div>
    <input id="line_graph" class="render_button png" name="line_render" value="PNG" type="submit">
    <a href="" target="_blank" id="svg_link"><input id="line_graph" class="render_button svg" value="SVG" type="button"></a>        
    
    {#################################}
    
    <br><br>
    <img src="" id="image" style="display:none; margin-right: auto; margin-left: auto"> {# id="object" height="480" width="640">#}
    </object>


{% endblock %}
