{% extends "base.html" %}
{% load profile_lists %}
{% block description %}{{ r|upper }} route profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/gmaps.css">
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ GOOGLE_MAPS_KEY }}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/item_profile.js"></script>
<script>
    {% url single_route-kml route.pk "r" as url %}
    var kml_url = "http://flightlogg.in{{ url }}"
</script>
{% endblock %}

{% block title %}Route Profile - {{ r|upper }}{% endblock %}


{% block canvas %}

<h1>{{ r|upper }}</h1>
<div id="view_in_googleearth">
    {% url single_route-kml route.pk "r" as url %}
    <a href="{{ url }}">View in Google Earth</a>
</div>

<div id="gmap" class="short">
</div>

<table id="route_table">
{% for rb in rbs %}
    <tr>
        {{ rb|routebase_row }}
    </tr>
{% endfor %}
    <tr>
        <td colspan="2">Total distance: {{ route.total_line_all|floatformat:1 }} NM</td>
    </tr>
</table>

<table class="main">
    <tr>
        <th>Users who have flown this route</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total number of flights logged with this route</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that have flown this route:</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
    <tr>
        <th>Types that have flown this route</th>
        <td>{{ types|list_types }}</td>
    </tr>
</table>

{% endblock %}
