
#popup                                      {width: 480px}
				 
#new_entry_popup td                         {padding: 0}

#flying_div                                 {padding: 5px}

#table_holder                               {overflow: hidden;
                                             width: 100%}

#flight_left_table                          {width: 53\%;
                                             border: 0px solid black;
                                             float: left;
                                             margin-right: -10px}

/* the person/route/etc boxes */
#flight_left_table input[type=text],
textarea, select                            {width: 145px}

/* the remarks box */
#flight_left_table textarea                 {height: 5.5em}
#flight_left_table tr td:first-child        {text-align: right; padding-right: 5px}
#flight_left_table tr td:last-child	        {text-align: left}

#flight_right_table                         {width: 47%;
                                             border: 0px solid black;
                                             float: right}
                                             
/* flight time input boxs */
#flight_right_table input[type=text]		{width: 2.9em}

/* auto buttons */
#flight_right_table input[type=button]		{margin: 0; margin-left: 5px}
#flight_right_table tr td:last-child		{text-align: left; padding-left: 5px}
#flight_right_table tr td:first-child		{text-align: right}

#landings_table                             {width: 100%; margin-top: 5px; margin-bottom: 5px}
#landings_table input[type=text]            {width: 2em}

#flight_events_table                        {width: 99%;
                                             border:1px solid black;
                                             margin-left: auto;
                                             margin-right: auto;
                                             margin-bottom: 5px;
                                             background: #FFC0C0}
                                             
/* the box with all the checkboxes at the bottom */
#flight_events_table td                     {text-align: left;}

#flight_buttons, #non_buttons               {width:100%; float: left; margin-bottom: 10px}


#flight_left_table tr:first-child           {display:none}
