
#results_table              {margin: 0 auto 0 auto;
                             min-width: 50%;
                             margin-top: 10px;
                             border: 1px solid black}
#results_table td,
#results_table th           {text-align: left}

#results_table th           {background: #DDDDDD}

p#count                     {font-weight: bold}
p.pagination                {margin: 5px}

#results_table tr:nth-child(odd)      {background: #EEE2EE;)
