
#canvas                                   {max-width: 100%}

table.mass_table                          {width: 100%; border-collapse: collapse}
table.mass_table input                    {font-size: small}

tr.header_row td                          {font-size: x-small; background: white; padding: 0}
table.mass_table tr:nth-child(even)       {background: #DDDDDD}

input.route_line                          {width: 8em}
input.person_line                         {width: 8em}
input.vDateField                          {width: 8em;}
input.float_line                          {width: 2.4em; margin: 1px}
