{% extends "base.html" %}

{% block description %}{{ request.display_user.username }}'s flight time milestones{% endblock%}

{% block title %}Milestones{% endblock %}

{% block javascript %}
<script type="text/javascript">NAVBAR_HIGHLIGHT = "milestones-sel";</script>
{% endblock %}

{% block canvas %}
{% for curr in currencies %}
<h2>{{ curr.top_title }}</h1>
<table class="milestone_table">
    {% for item in curr.result %}
        <tr>
            <td>
                {{ item.icon|safe }}
            </td>
            
            <td>
                {% if item.reg %}
                    {{ item.reg }}
                {% endif %}
            </td>
            
            <td>
                {{ item.title }}
            </td>
            {% if not item.bool %}
            
                <td>
                    {{ item.mine }} / {{ item.goal }}
                </td>
                
                <td>
                    {% url 'smallbar' item.mine item.goal as url %}
                    <img src="{{ url }}">
                </td>
                
            {% else %}
            
                <td colspan="2">
                    {{ item.mine|safe }}
                </td>
            
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endfor %}

<br>
<div class="instructions">
* Don't worry, FlightLogg.in's method of finding these flights is not perfect.
If you logged the flight in question across more than one entry, FlightLogg.in'
will not recognize it and will display "Not Found".
<br><br>
** FlightLogg.in' has no way of knowing if you have this requirement met due
to the limitations of the way flights are logged. This requirement is listed
here for completeness.
<br><br>
{% if private.dual_60.valid %}
*** You are good to go for 3 hours of dual for the next
<strong>{{ private.dual_60.days }}</strong> days
{% else %}
*** You lost your 60 day dual currency
<strong>{{ private.dual_60.days }}</strong> days ago
{% endif %}
</div>

{% endblock %}
