<!DOCTYPE html>
<html>
{% load humanize %}
    <head>
        <title>FlightLogg.in' - Online Pilot Logbook</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
        <meta property="og:title" content="FlightLogg.in&#039;" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://flightlogg.in" />
        <meta property="og:image" content="http://flightlogg.in/static/css/style-2/logo.png" />
        <meta property="og:site_name" content="FlightLogg.in&#039;" />
        <meta property="fb:admins" content="12314662" />
        <meta name="google-site-verification" content="xe-f505ZHR6pNZzKFyeK5PNnZSkSZ8LlW979worOSHM" />
        <meta name="tinfoil-site-verification" content="3c18536f6a6ba0da54d0b86499640c24e81cef25" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="DESCRIPTION" content="FlightLoggin' is an online pilot logbook application Gone are the days of using a paper booklet to manage your aviation career data.">
        <meta name="KEYWORDS" content="Airline, Travel, Aircraft, Aviation, Pilot Logbook, Open Source, GPL, Pilot Log, Flight Logbook, web application, Flight Training, Private Pilot">
        <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
        <link rel='stylesheet' href='{% static 'bootstrap/css/bootstrap-responsive.min.css' %}' />
        <link rel='stylesheet' href='{% static 'bootstrap/css/bootstrap.css' %}' />
    </head>
    <body>
        <div class="container-narrow">

            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="muted">FlightLogg.in</h3>
            </div>

            <hr>

            <div class="jumbotron">
                <h1>Pilot Logbook software done right.</h1>
                <p class="lead">For both pros and hobby fliers</p>
                <a class="btn btn-large btn-success" href="">Signup Now!</a>
            </div>

            <hr>

            <div class="row-fluid marketing">
                <div class="span6">
                    <h4>Web-based</h4>
                    <p>Works on any modern browser. On a computer or from your mobile phone.</p>

                    <h4>Email backups</h4>
                    <p>Never worry again about losing your flight data. FightLogg.in' sends you your logbook data to your email at the end of each day so you are always in control of your flight data.</p>

                    <h4>Charts and Graphs</h4>
                    <p>Create graphs and charts to visualize your flight data.</p>
                </div>

                <div class="span6">
                    <h4>Automatically calculate flight times</h4>
                    <p>Ever wondered how many multi-engine hours you have at night? Or how many hours of PIC you have in seaplanes? Answer these questions and more</p>

                    <h4>Efficient Interface</h4>
                    <p>FlightLoggin's user interface has been designed specifically to create an efficient user experience.
                     Spend less time logging, and more time flying.</p>

                    <h4>Open Source</h4>
                    <p>The technology that drives FLightLoggin is open source. So </p>
                </div>
            </div>

            <hr>

            <div class="footer">
                <p>&copy; FlightLogg.in` 2013</p>
            </div>

        </div>

        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331657940258873";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
    </body>
</html>