<html>
{% load humanize %}
  <head>
    <title>FlightLogg.in'</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="DESCRIPTION" content="FlightLoggin' is an online pilot logbook application Gone are the days of using a paper booklet manage your aviation career data.">
        <meta name="KEYWORDS" content="Airline, Travel, Aircraft, Aviation, Pilot Logbook, Open Source, GPL, Pilot Log, Flight Logbook, web application, Flight Training, Private Pilot">
        <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
  </head>
  <body>
    
  <div id="content">
    <div id="logo-wrapper">
    <img id="logo" src="{% static CSS_URL %}/logo.png" alt="FlightLogg.in' Logo" />
    </div>

    <h3>FlightLoggin' is an online pilot logbook application. Gone are the days of
    using a paper booklet manage your aviation career data.</h3>
    
    <p style="text-align: center; color: brown">
      Currently serving <strong>{{ stats.total_logged|intcomma }}</strong> flights from <strong>{{ stats.users|intcomma }}</strong> users.
    </p>

    <div id="register">
      <h2>Register</h2>
      <form action='.' method='post'>
        <table>
          {{ form.as_table }}
        </table>
        <br>
        <input type="submit">
      </form>
      <a href="{% url logbook username='demo' %}">Click here to see the demo account</a>
    </div>

    <br>
    Key features of FlightLogg.in' include:
    <ul>
      <li><strong>Web-based</strong> - Access your data from any internet enabled device</li>
      <li><strong>Email Backups</strong> - Automatically sends you a copy of all your logbook data to your email for redundantcy and piece of mind.</li>
      <li><strong>Sinple, no-nonsense user interface</strong> - designed for efficiency and easy of use
      <li><strong>Open Source</strong> - The code that runs FlightLogg.in' is completely open source
      <li><strong>No lock-in</strong> - Export your data at any time in a format that con be read by any program</li>
      <li><strong>Ad supported</strong> - No subscription fees</li>
      <li><strong>Create Data visualization</strong> such as graphs and histograms</li>
      <li><strong>Location Awareness</strong> - automatically calculates the diatance of your flights based on the airport identifiers in the 'route' column</li>
    </ul>

    <div id="login">
      <strong>Sign-in</strong>
      <form action='{% url new_login %}' method='post'>
        <label>Username: <input type="text" name='login_username'></label><br>
        <label>Password: <input type="password" name='login_password'></label>
        <br>
        <input type="submit">
      </form>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <a href="{%url reset_password %}">Reset Password</a><br>
      <a href="{% url openid_login %}">Click here to login with OpenID</a>
    </div>

  </div>
  <hr>
  {% include 'footer.html' %}
  {% load analytics %}
  {% googleanalyticsjs %}

</html>