<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
        <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
    </head>
    <body>
        <div id="content">
            <div id="register">
                <form method="post" action=".">
                    <label>Email or username<input type="text" name="data"></label>
                    <input type="submit">
                </form>
            </div>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
        </div>
    </body> 
</html>