<!DOCTYPE html>{% load analytics %}
<html>
    <head>
        <meta name="description" content="Reset your password.">
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
        <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
        <title>FlightLogg.in' - Reset Password</title>
        <script>
            window.google_analytics_uacct = "UA-501381-5";
        </script>
    </head>
    <body>
        <div id="content">
            <div id="logo-wrapper">
                <img id="logo" src="{% static CSS_URL %}/logo.png" alt="FlightLogg.in' Logo" />
            </div>
            <div id="reset">
                <h2>Reset Password</h2>
                <form method="post" action="{% url reset_password %}">
                    <label>Email or username<input type="text" name="data"></label>
                    <br>
                    <input type="submit">
                </form>
            
                {% if messages %}
                <ul class="messages" style="list-style-type: none; padding-left: 0">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% googleanalyticsjs %}
    </body> 
</html>