{% extends "base.html" %}

{% block description %}{{ request.display_user.username }}'s events{% endblock%}

{% block javascript %}
    <script type="text/javascript" src="{% static "js/popup.js"%}"></script>
    <script type="text/javascript" src="{% static "js/event_popup.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/ui-lightness/jquery-ui.css">
    <script type="text/javascript">NAVBAR_HIGHLIGHT = "events-sel";</script>
{% endblock %}

{% block title %}Events ({{ request.display_user.username }}){% endblock %}

{% block canvas %}

{% if not request.shared %}
    <input type="button" id="new_event" value="New Event">
{% endif %}

    <table class="minor_table">
        <thead>
       <tr>
           <td>Date</td>
           <td>Type</td>
           <td>Remarks</td>
       </tr>
       </thead>
    {% for nf in nonflights %}
       <tr id="row_{{nf.id}}">
           <td class="date" title="Date (click to edit)">
                <span class="unformatted_date">{{ nf.date|date:'Y-m-d' }}</span>
                <a class="nonflight_click" id="n{{ nf.id }}" href="">{{ nf.date|date:date_format }}</a>
           </td>
           <td class="non_flying">{{ nf.get_non_flying_display }}</td>
           <td class="remarks">{{ nf.remarks }}</td>
       </tr>
    {% empty %}
    
       <tr><td class="nothing" colspan="3">Nothing to show here, sorry</td></tr>
       
    {% endfor %}    
    </table>
<br><br>
<div class="instructions">
Above is a list of events that impact your flight currency but do not
occur at same time as a logged flight.  Notably, issuances of medical
certificates should be added here so that you can be reminded of when
they will expire.
<br><br>
Other flight related certifications, such as checkrides and flight
reviews, should be tracked on the Flights tab by adding/editing the
corresponding flight and selecting the corresponding checkbox.
</div>

<div id="popup" class="event" title="New Event">
    <table id="dragbar">
        <tr>
            <td><span id="titlebar">New Event</span></td>
            <td><span id="close_x" title="Close this popup">[X]</span></td>
        </tr>
    </table>
    
    <form id="new_plane_form" action="{% url 'events' request.display_user.username %}" method="post">
        {% csrf_token %}
        <table class="single_column">
            <tbody>
                <tr>
                    <td>        
                        <input type="hidden" name="user" id="id_user" value="{{ user.id }}" />
                        <input type="hidden" name="id" id="id_id" value="" />
                    </td>
                </tr>
                <tr>
                    <th>{{ form.date.label_tag }}</th>
                    <td>{{ form.date }}{{form.user}}<br><span class="help_text">{{form.date.help_text}}</span></td>
                </tr>
                <tr>
                    <th>Event</th>
                    <td>{{ form.non_flying }}<br><span class="help_text">{{form.non_flying.help_text}}</span></td>
                </tr>
            
                <tr>
                    <th>{{ form.remarks.label_tag }}</th>
                    <td>{{ form.remarks }}<br><span class="help_text">{{form.remarks.help_text}}</span></td>
                </tr>
            </tbody>
        </table>
        
        <div id="new_buttons">
            <input type="submit" name="submit" value="Create New Event" />
        </div>
        {% if not request.shared %}
        <div id="edit_buttons">
            <input type="submit" name="submit" value="Submit Changes" />
            <input type="submit" name="submit" value="Delete Event" />
        </div>
        {% endif %}
    </form>
</div>


{% endblock %}
