{% extends "base.html" %}
{% load logbook_tags %}
{% load cache %}

{% block description %}{{ request.display_user.username }}'s flights{% endblock%}

{% block javascript %}
<script type="text/javascript" src="{% static "js/popup.js" %}"></script>
<script type="text/javascript" src="{% static "js/flight_popup.js" %}"></script>
<script type="text/javascript" src="{% static "js/logbook.js" %}"></script>
<script type="text/javascript" src="{% static "js/sprintf.js" %}"></script>

<script type="text/javascript">
    NAVBAR_HIGHLIGHT = "logbook-sel";
    $(document).ready(function() {
        page_totals({{cols.agg_list|safe}})  // pass in the names of each column that needs a page total
    });
    
    date_button = "{% static "images/calendar.gif" %}"
    auto_button = {{ auto_button.as_jslist|safe|default:"[]" }}
</script>

<style type="text/css">
    div#canvas {width: 98%; max-width: 98%}
</style>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/ui-lightness/jquery-ui.css">
<link rel="alternate" title="{{ request.display_user.username }}'s flights feed" href="/feeds/flights/{{request.display_user.username}}" type="application/rss+xml">

{% endblock %}

{% block title %}Flights{% endblock %}

{% block canvas %}
    {% if not request.shared %}
    <input id="new_flight_button" type="button" value="New Flight" />
    {% endif %}
    
    {% include "pagination_table.html" %}
        
    <table id="logbook_table">
        <thead>
            <tr class="header">
                    {{ cols.header_row|safe }}
            </tr>
        </thead>
        {% if get %}
            {% include "logbook_totals_part.html" %}
        {% else %}
        
            {% cache 10800 logbook_totals request.display_user %}
                {% include "logbook_totals_part.html" %}
            {% endcache %}
            
        {% endif %}
        <tbody>
        {% if get %}
        
            {% include "logbook_cells_part.html" %}
            
        {% else %}
        
            {% cache 10800 logbook page request.display_user %}
                {% include "logbook_cells_part.html" %}
            {% endcache %}
            
        {% endif %}
        
        {# header row at the bottom #}
        <tr class='header'>
            {{ cols.header_row|safe }}
        </tr>
        
        </tbody>
    </table>

    
    {% for row in page_of_flights.object_list %}
        <div class="small_popup" id="s{{row.pk}}">
        
            <a href="" class="edit_popup_link" id="x{{row.pk}}">Edit this flight</a>

            <br>
            
            {% url profile-route row.route.simple_rendered as pr %}
            <a href="{{pr}}">More info about this route</a>
            
            <br>
            
            {% url profile-tailnumber row.plane.tailnumber|upper as pt%}
            <a href="{{pt}}">More info about this tailnumber</a>      
            
        </div>
    {% endfor %}
    
    {% include "pagination_table.html" %}
    <hr>
    <div style="overflow:hidden">
        <div style="float:left">
            <a href="" id="filter_swap">Filter Flights</a>
        </div>
        {% if page_of_flights.object_list and not request.shared %}
        <div style="float:right">
            <a href="{% url mass-edit username=request.display_user.username page=page_of_flights.number %}">Mass Edit this page</a>
        </div>
        {% endif %}
    </div>
    
    
    {% include "filter_table.html" %}
{% include "new_flight.html" %}
{{ff.errors}}
{% endblock %}

