<!DOCTYPE html>{% load analytics %}
<html>
    <head>
        <title>New Flight</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css">
        <link rel="stylesheet" href="{% static 'mobile_app.css' %}">
        <link rel="stylesheet" href="http://jquerymobile.com/demos/1.2.0/docs/_assets/css/jqm-docs.css">
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

        <script src="{% static 'js/jquery.jclock.js' %}"></script>
        <script src="{% static 'js/suncalc.min.js' %}"></script>
        <script src="{% static 'js/mobilelogger.js' %}"></script>
        <script>
            var username = "{{ request.display_user.username }}";
            window.google_analytics_uacct = "UA-501381-5";
            $.mobile.ignoreContentEnabled = true;
        </script>
    </head>
    <body>
        <div data-role="page" id="one" data-theme="c">
            <div data-role="header">
                <h1>New Flight</h1>
            </div>
            <div data-role="content">
                <label for="person">Person:</label>
                <input type="text" id="person" name="person">

                <label for="plane">Plane:</label>
                <select placeholder="plane" id="plane" name="new-plane"></select>

                <div id="currency_display">
                    Day Currency: <span class="day"></span><br>
                    Night Currency: <span class="night"></span><br>
                    Instrument Currency: <span class="instrument"></span>
                </div>

                <label for="purpose">Role:</label>
                <select id="purpose">
                    <option value="captain">Captain</option>
                    <option value="fo">First Officer</option>
                    <option value="instructor">Instructor</option>
                    <option value="student">Student</option>
                    <option value="training">Training</option>
                    <option value="solo">Solo</option>
                </select>
                <a href="#two" data-role="button" id="start_button" data-theme="e">Start</a>
                <div id="saved_flights_button_container"></div>
            </div>
            <div data-role="footer">
                <h4><a href="/logbook" rel="external">Back to logbook</a> - <a href="#four">Instructions</a></h4>
            </div>
        </div>

        <div data-role="page" id="two" data-theme="c">
            <div data-role="header">
                <h1 id="outer_clock"><span id="clock"></span> Z</h1>
            </div>
            <div data-role="content">
                <table class="current_times">
                    <tr>
                        <th>Total</th> <th>Night</th> <th>Hood</th> <th>Actual</th>
                    </tr>
                    <tr>
                        <td><div class="time_container dec" id="total_time">0.0</div></td>
                        <td><div class="time_container dec" id="night_time">0.0</div></td>
                        <td><div class="time_container dec" id="hood_time">0.0</div></td>
                        <td><div class="time_container dec" id="actual_time">0.0</div></td>
                    </tr>
                </table>
                <table class="current_times">
                    <tr>
                        <th>Day Landings</th> <th>Night Landings</th> <th>Approaches</th>
                    </tr>
                    <tr>
                        <td><div class="time_container" id="day_landings">0</div></td>
                        <td><div class="time_container" id="night_landings">0</div></td>
                        <td><div class="time_container" id="approaches">0</div></td>
                    </tr>
                </table>

                <div data-role="controlgroup" data-type="horizontal">
                    <button id="landing_button" data-icon="add">Land</button>
                    <button id="waypoint_button" data-icon="add">WP</button>
                    <button id="approach_button" data-icon="add">App</button>
                </div>
                <fieldset data-role="controlgroup" data-type="horizontal" id="inst_condition">
                    <input type="radio" name="inst_condition" id="radio-choice-21" value="visual" checked="checked">
                    <label for="radio-choice-21">Visual</label>

                    <input type="radio" name="inst_condition" id="radio-choice-22" value="hood">
                    <label for="radio-choice-22">Hood</label>

                    <input type="radio" name="inst_condition" id="radio-choice-23" value="actual">
                    <label for="radio-choice-23">Actual</label>
                </fieldset>
                <a href="#three" data-role="button" data-theme="e" id="shutdown">Shutdown</a>
                <div id="day_night"></div>
                <div id="next">
                    <table>
                        <tr class="bucket_0">
                            <td class='title'>title</td>
                            <td><span>number</span> Z</td>
                        </tr>
                        <tr class="bucket_1">
                            <td class='title'>title</td>
                            <td><span>number</span> Z</td>
                        </tr>
                        <tr class="bucket_2">
                            <td class='title'>title</td>
                            <td><span>number</span> Z</td>
                        </tr>
                        <tr class="bucket_3">
                            <td class='title'>title</td>
                            <td><span>number</span> Z</td>
                        </tr>
                        <tr class="bucket_4">
                            <td class='title'>title</td>
                            <td><span>number</span> Z</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div data-role="footer">
                <h4><a href="/logbook">Back to logbook</a></h4>
            </div>
        </div>
        <div data-role="page" id="three" data-theme="c">
            <div data-role="header">
                <h1>Finished Flight</h1>
            </div>
            <div data-role="content">
                <div id="date"></div>
                <controlgroup data-enhance="false">
                    <table id="results_table">
                        <tr>
                            <td>
                                <div><button>Total</button><input type="number" name="total"></div>
                                <div><button>PIC</button><input type="number" name="pic"></div>
                                <div><button>Dual R.</button><input type="number" name="dual_r"></div>
                                <div><button>Hood</button><input type="number" name="sim_inst"></div>
                                <div><button>XC</button><input type="number" name="xc"></div>
                                <div><button>Day L.</button><input type="number" name="day_l"></div>
                                <div><button>Fuel</button><input type="text" name="fuel_burn"></div>
                            </td>
                            <td>
                                <div><button>Night</button><input type="number" name="night"></div>
                                <div><button>SIC</button><input type="number" name="sic"></div>
                                <div><button>Dual G.</button><input type="number" name="dual_g"></div>
                                <div><button>Actual</button><input type="number" name="act_inst"></div>
                                <div><button>Solo</button><input type="number" name="solo"></div>
                                <div><button>Night L.</button><input type="number" name="night_l"></div>
                                <div><button>App.</button><input type="number" name="app"></div>
                            </td>
                        </tr>
                    </table>
                </controlgroup>
                <textarea name="remarks" placeholder="remarks"></textarea>
                <div id="raw_route"></div>
                <input type="text" name="route_string" id="route_box">
                <a href="#" data-role="button" data-theme="a" id="calc_route">Calculate Route (requires data connection)</a>
                <a href="#" data-role="button" data-theme="e" id="submit">Submit (requires data connection)</a>
                <a href="#one" data-role="button" data-theme="e" id="save">Save (submit later)</a>
                <a href="#" data-role="button" data-theme="b" id="discard">Discard Flight</a>
            </div>
            <div data-role="popup" id="failed_popup" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all">
                <div data-role="header" data-theme="a" class="ui-corner-top">
                    <h1>Send Failed</h1>
                </div>
                <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                    <h3 class="ui-title">Connection to server could not be established.</h3>
                    <p>Try again now, or later when you have better connectivity?</p>
                    <a href="#" id="now" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="c">
                        Now
                    </a>
                    <a href="#one" id="later" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">
                        Later
                    </a>
                </div>
            </div>
            <div data-role="footer">
                <h4><a href="/logbook">Back to logbook</a></h4>
            </div>
        </div>
        <div data-role="page" id="four" data-theme="e">
            <div data-role="header">
                <h1>Instructions</h1>
            </div>
            <div data-role="content" id="instructions">
                <p>
                    This mobile application is for logging flights to your logbook as they happen.
                    The software is still in beta phase, so there may still be bugs.
                    Please report all bugs to either the github issue tracker,
                    or the FlightLoggin Google Groups.
                </p>

                <h2>Page 1</h2>

                <p>
                    This first page is intended to be filled out before you enter the plane.
                    This page requires an internet connection for it to work properly.
                    Select the plane that you will be flying in.
                    If this is the first time you are flying in a particular aircraft,
                    exit the mobile app, and enter the plane through the
                    <a href="{% url "planes" request.display_user %}">planes section</a>.
                    The <strong>Role</strong> selector is a to describe what role the logging pilot plays in this flight.
                    This option only effects how the times are automatically copied on the last page.
                </p>

                <h2>Page 2</h2>

                <p>
                    This page is intended to be used while the airplane is airborne.
                    It has been designed to work without needing an internet connection.
                </p>
                <p>
                    At the top of the page, there is a timer that displays the current time in UTC.
                </p>
                <p>
                    Press the <strong>Land</strong> button to increment the "Landing" counter.
                    If it is past evening civil twilight, the landing will be added to "Night Landings".
                    Whenever you press the landing button, the app also internally records your coordinates.
                    When you are finished with the flight,
                    these coordinates are compiled to construct the 'route' portion of the logbook entry.
                    The <strong>WP</strong> button (way-point) is used to denote flying over a way-point.
                    This way-point can be a Navaid, or an airport. The app polls your phone's GPS when this
                    button is pressed, and the coordinates are stored internally.
                    When constructing the logbook entry, the airport or navaid nearest to where the button
                    was pressed is added to the route field.
                </p>
                <p>
                    The night timer will start counting up when the current time passes sunset.
                    Night time stops counting up when the sun rises.
                    Total time always counts up, starting when you click on the <strong>Start</strong> button,
                    and ending with clicking on the <strong>Shutdown</strong> button.
                    The app polls your GPS every 30 minutes to update the sunset/sunrise times,
                    as this calculation depends on your current coordinates.
                </p>
                <p>
                    The <strong>App</strong> button is used to increment the "approaches" counter.
                    If you press the <strong>Hood</strong> button, the Hood time timer will start counting up.
                    The is used to keep track of how long you have been under the hood.
                    The <strong>Actual</strong> timer works the same way as the Hood timer.
                    It is for keeping track of how long you have been flying in actual instrument conditions.
                </p>
                <p>
                    The <strong>Shutdown</strong> button is pressed when the aircraft engine is shut down,
                    and the loggable time has stopped. Pressing this button advances the app to page 3.
                </p>

                <h2>Page 3</h2>

                <p>
                    This page is intended to be completed after you have finished your flight.
                    It requires an internet connection, so wait until you have a signal before completing this page.
                    If you can not get to a signal before your next flight, complete page 3 anyways.
                    When the app tries to send the flight data to the FlightLogggin' servers, the send will fail,
                    and the data will be saved locally and can be retried again once your phone has a signal.
                </p>
                <p>
                    Depending on the role you selected on page 1, certain fields will contain numbers.
                    These numbers are filled in from the timers and counters from page 2.
                    To erase these numbers, press the button containing the labels of each number field.
                    You can enter any number you wish into these fields.
                    The route fields should contain identifiers of airports that you started and ended at,
                    as well as any way-points you have declared enroute.
                </p>
                <p>
                    When you have finished, click the <strong>Submit</strong> button.
                    This will send the flight data to the FlightLoggin' servers.
                    If you now view your logbook, you'll see the new flight listed.
                </p>

            </div>
            <div data-role="footer">
                <h4><a href="#one">Back</a></h4>
            </div>
        </div>
        {% googleanalyticsjs %}

        <script>

        var mct, ect, sunrise, sunset;
        var updater_id;
        var actual_start;
        var actual_acc = [0, 0, 0];
        var hood_start;
        var hood_acc = [0, 0, 0];
        var start_time, night_start, night_stop;
        var route_points = [];

        $(document).ready(function() {
            get_planes(); // fill in the plane select box (hits the API)
            $("#clock").jclock({utc: true});
            reset_app();
            set_role();

            update_sun_table = function(callback) {
                get_location(function(res) {
                    var data = SunCalc.getTimes(new Date(), res.coords.latitude, res.coords.longitude);
                    var times = [];

                    mct = [data.dawn.getUTCHours(), data.dawn.getUTCMinutes(), 0];
                    ect = [data.dusk.getUTCHours(), data.dusk.getUTCMinutes(), 0];
                    sunrise = [data.sunrise.getUTCHours(), data.sunrise.getUTCMinutes(), 0];
                    sunset = [data.sunset.getUTCHours(), data.sunset.getUTCMinutes(), 0];

                    var sorter = function(a_with_label, b_with_label) {
                        // a_with_label = ['Sunset', [12, 4, 0]]
                        var a = a_with_label[1], b = b_with_label[1];
                        var value = function(x) {return x[0] + (x[1] / 60) + (x[2] / 3600);};
                        var aa = value(a), bb = value(b);
                        if(aa == bb) {
                            return 0;
                        } else if(aa > bb) {
                            return 1;
                        } else if(aa < bb) {
                            return -1;
                        }
                    }

                    times = [['Morning Civil Twilight', mct],
                             ['Sunset', sunset],
                             ['Sunrise', sunrise],
                             ['Evening Civil Twilight', ect],
                             ['Takeoff', start_time]].sort(sorter);

                    for(i in times) {
                        var time = times[i];
                        var label = time[0];
                        var numbers = time[1];
                        var disp = numbers[0] + ":" + zeroFill(numbers[1], 2);
                        var bucket = $('#next .bucket_' + i);
                        bucket.find('span').text(disp);
                        bucket.find('td.title').text(label);
                    }
                    if(callback) {
                        callback();
                    }
                });
            }

            // page 1

            $('select#plane').change(function() {
                // when the plane selector changes, change the currency display.
                var selected = $(this).val();
                for(var p in planes) {
                    var plane = planes[p];
                    if(plane['id'] == selected) {
                        set_currency_display(plane['currency'])
                    }
                }
            });

            $('#purpose').change(function() {
                // when the role box is changes, store the value locally so
                // it remembered for next time.
                var role = $(this).val();
                localStorage[username + '_role'] = role
            });


            $("#start_button").click(function() {
                start_time = get_current_time();

                setInterval(update_sun_table, 1800000); // every 30 minutes

                update_sun_table(function() {
                    // after sun table has been updated, determine if it's
                    // day or night
                    if(is_it_day_or_night('flight') == 'night') {
                        night_start = start_time;
                    }
                });

                get_location(function(res) {
                    route_points.push(['land', res.coords]);
                });

                updater_id = setInterval(function() {
                    var now = get_current_time();
                    update_night_decimal(now);
                    update_total_decimal(now);
                    update_hood_decimal(now);
                    update_actual_decimal(now);
                }, 5000);
            });

            // page 2


            function update_actual_decimal(now) {
                var new_actual = [0, 0, 0];
                if(actual_start) {
                    new_actual = get_difference(actual_start, now);
                }
                var actual = add_times(actual_acc, new_actual);
                decimal = tuple_to_display(actual);
                $('#actual_time').text(decimal);
            }


            function update_hood_decimal(now) {
                var new_hood = [0, 0, 0];
                if(hood_start) {
                    new_hood = get_difference(hood_start, now);
                }
                var hood = add_times(hood_acc, new_hood);
                decimal = tuple_to_display(hood);
                $('#hood_time').text(decimal);
            }


            function update_total_decimal(now) {
                var elapsed = get_difference(start_time, now);
                $("#total_time").text(tuple_to_display(elapsed));
            }

            function update_night_decimal(now) {
                var currently = is_it_day_or_night('flight');
                if(night_start && !night_stop && currently == 'day') {
                    // just switched from night to day
                    night_stop = now;
                } else if(!night_start && currently == 'night') {
                    // just switched from day to night
                    night_start = now;
                }

                var duration, decimal;
                if(night_start && !night_stop) {
                    // day timer is still going
                    duration = get_difference(night_start, now);
                    decimal = tuple_to_display(duration);
                }
                if(!night_start) {
                    // day timer has not been started yet.
                    decimal = '0.0';
                }
                if(night_start && night_stop) {
                    // night timer is done. Complete.
                    duration = get_difference(night_start, night_stop);
                    decimal = tuple_to_display(duration);
                }
                $('#night_time').text(decimal);
            }

            function close_out_hood(now) {
                if(hood_start) {
                    var new_hood = get_difference(hood_start, now);
                    hood_acc = add_times(new_hood, hood_acc);
                    hood_start = undefined;
                }
            }

            function close_out_actual(now) {
                if(actual_start) {
                    var new_actual = get_difference(actual_start, now);
                    actual_acc = add_times(new_actual, actual_acc);
                    actual_start = undefined;
                }
            }

            $('input[name=inst_condition]:radio').click(function() {
                var cond = $('input[name=inst_condition]:radio:checked').attr('value');
                var now = get_current_time();
                if(cond == 'visual') {
                    close_out_actual(now);
                    close_out_hood(now)
                }
                if(cond == 'actual') {
                    if(!actual_start) {
                        actual_start = now;
                    }
                    close_out_hood(now);
                }
                if(cond == 'hood') {
                    if(!hood_start) {
                        hood_start = now;
                    }
                    close_out_actual(now);
                }
            });


            $('#landing_button').click(function() {
                var div = "#" + is_it_day_or_night('land') + "_landings";
                // increment the correct landing box by one landing.
                var prev = Number($(div).text());
                $(div).text(prev + 1);
                get_location(function(res) {
                    route_points.push(['land', res.coords])
                });
            });

            $('#waypoint_button').click(function() {
                get_location(function(res) {
                    route_points.push(['waypoint', res.coords]);
                });
            });

            $('#approach_button').click(function() {
                // increment the approach box by one.
                var prev = Number($('#approaches').text());
                $('#approaches').text(prev + 1);
            });

            $('#shutdown').click(function() {
                // the timer has stopped, quit updating the display. Fill in data to page 3.
                clearInterval(updater_id);
                var data = get_data(2);
                get_location(function(res) {
                    route_points.push(['land', res.coords]);
                    fill_in_form(data);
                    prefill_purpose(data);
                });
            });

            // page 3

            $('#results_table button').click(function() {
                // handle auto buttons on page 3
                var total = $('input[name=total]').val();
                var inp = $(this).parent().find('input');
                if(inp.val() == total) {
                    inp.val('');
                } else if(inp.val() == '') {
                    inp.val(total);
                }
            });

            $("#calc_route").click(function() {
                var data = get_data(3);
                make_route_selection(data.route_points)
            });

            $('#submit').click(function() {
                // the button on the last page that sends data to the flightloggin server.
                send_data(get_data(3));
            });

            $('#save').click(function() {
                // the button on the last page that is an alternate to the submit button
                // used for when you don't have a data signal and need to log another flight.
                save_locally(get_data(3));
                reset_app();
            });

            $("#discard").click(function() {
                reset_app();
            });

            $("#failed_popup #now").click(function() {
                // send failed, and we want to retry immediately.
                send_data(get_data(3));
            });

            $("#failed_popup #later").click(function() {
                // send failed, and we want to save the data to the queue to be retried later.
                save_locally(get_data(3));
                reset_app();
            });
        });
        </script>
    </body>
</html>
