<!DOCTYPE html>
<html>
    <head>
        <title>New Flight</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

        <script type="text/javascript" src="{% static 'js/jquery.jclock.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/suncalc.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mobilelogger.js' %}"></script>
        
        <style>
            div {text-align: center}
            div.time_container {font-size: x-large}

            div#total_time { color: black}
            div#day_landings {color: black}
            div#night_landings {font-size: x-large; color: white; background: navy}
            div#approaches {font-size: x-large; color: black}
            div#hood_time {font-size: x-large; color: black}
            div#actual_time {font-size: x-large; color: black}

            div#page_two {border: 1px solid black; width: 300px}
            div#page_one {border: 1px solid black; width: 300px}
            div#page_three {border: 1px solid black; width: 300px}

            div#clock {width: 100%; text-align: center}

            table {width: 100%}
            td {border: 1px solid black }
        </style>
    </head>
    <body>
        <div data-role="page" id="one" data-theme="c">
            <div data-role="header">
                <h1>New Flight</h1>
            </div>
            <div data-role="content">
                <label for="person">Person:</label><input type="text" id="person" name="person">
                <br>    
                <label for="plane">Plane:</label><input type="text" id="plane" name="plane">
                <br>
                <label for="purpose">Purpose:</label>
                <select id="purpose" name="purpose">
                    <option>Captain</option>
                    <option>First Officer</option>
                    <option>Instructor</option>
                    <option>Student</option>
                    <option>Solo</option>
                </select>
                <a href="#two" data-role="button" id="start_button" data-theme="e">Start</button>
            </div>
            <div data-role="footer">
                <h4><a href="/logbook">Back to logbook</a></h4>
            </div>
        </div>

        <div data-role="page" id="two" data-theme="c">
            <div data-role="header">
                <h1>Flight In Progress</h1>
            </div>
            <div data-role="content">
                <div id="clock"></div>
                <div id="day_night"></div>
                <div id="next">
                    Next Morning Twilight: <span id="morning_twilight"></span><br>
                    Next Sunrise: <span id="sunrise"></span><br>
                    Next Sunset: <span id="sunset"></span><br>
                    Next Evening Twilight: <span id="evening_twilight"></span><br>
                </div>
                <hr>
                <table>
                    <tr>
                        <th>Total</th> <th>Night</th> <th>Hood</th> <th>Actual</th>
                    </tr>
                    <tr>
                        <td><div class="time_container" id="total_time">0.0</div></td>
                        <td><div class="time_container" id="night_time">0.0</div></td>
                        <td><div class="time_container" id="hood_time">0.0</div></td>
                        <td><div class="time_container" id="actual_time">0.0</div></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Day Landings</th> <th>Night Landings</th> <th>Approaches</th>
                    </tr>
                    <tr>
                        <td><div class="time_container" id="day_landings">0</div></td>
                        <td><div class="time_container" id="night_landings"></div></td>
                        <td><div class="time_container" id="approaches">0</div></td>
                    </tr>
                </table>

                <button id="landing_button">Land</button>
                <button id="approach_button">Approach</button>

                <fieldset data-role="controlgroup" data-type="horizontal" id="inst_condition">
                    <input type="radio" name="inst_condition" id="radio-choice-21" value="visual" checked="checked">
                    <label for="radio-choice-21">Visual</label>

                    <input type="radio" name="inst_condition" id="radio-choice-22" value="hood">
                    <label for="radio-choice-22">Hood</label>

                    <input type="radio" name="inst_condition" id="radio-choice-23" value="actual">
                    <label for="radio-choice-23">Actual</label>
                </fieldset>

                <br>
                <a href="#three" data-role="button"  data-theme="e" id="shutdown_button">Shutdown</button>
            </div>
            <div data-role="footer">
                <h4><a href="/logbook">Back to logbook</a></h4>
            </div>
        </div>

        <div data-role="page" id="three" data-theme="c">
            <div data-role="header">
                <h1>Submit Flight</h1>
            </div>
            <div data-role="content">
                <form>
                    <label for="total">Total</label>
                    <input type="number" name="total"><br>
                    <label for="pic">PIC</label>
                    <input type="number" name="pic"><br>
                    <label for="sic">SIC</label>
                    <input type="number" name="sic"><br>
                    <label for="solo">Solo</label>
                    <input type="number" name="solo"><br>
                    <label for="dual_r">Dual Recieved</label>
                    <input type="number" name="Dual Received"><br>
                    <label for="dual_g">Dual Given</label>
                    <input type="number" name=""><br>
                    <label for="act_inst">Actual</label>
                    <input type="number" name="actual_inst"><br>
                    <label for="sim_inst">Hood</label>
                    <input type="number" name="sim_inst"><br>
                    <label for="day_l">Day Landings</label>
                    <input type="number" name="day_l"><br>
                    <label for="night_l">Night Landings</label>
                    <input type="number" name="night_l"><br>
                    <label for="approaches">Approaches</label>
                    <input type="number" name="approaches"><br>
                </form>
            </div>
            <div data-role="footer">
                <h4><a href="/logbook">Back to logbook</a></h4>
            </div>
        </div>

        <script>
        $("#clock").jclock({utc: true, fontSize: "36px"});

        var mct, ect, sunrise, sunset;
        get_location(function(res) {
            var times = SunCalc.getTimes(new Date(),res.coords.latitude, res.coords.longitude);
            mct = [times.dawn.getUTCHours(), times.dawn.getUTCMinutes()];
            ect = [times.dusk.getUTCHours(), times.dusk.getUTCMinutes()];
            sunrise = [times.sunrise.getUTCHours(), times.sunrise.getUTCMinutes()];
            sunset = [times.sunset.getUTCHours(), times.sunset.getUTCMinutes()];
            $('#next #morning_twilight').text(mct[0] + ":" + mct[1]);
            $('#next #sunset').text(sunset[0] + ":" + sunset[1]);
            $('#next #evening_twilight').text(ect[0] + ":" + ect[1]);
            $('#next #sunrise').text(sunrise[0] + ":" + sunrise[1]);
        });

        var start_time, night_start, night_stop;
        $("#start_button").click(function() {
            start_time = get_current_time();
            if(is_it_day_or_night('flight') == 'night') {
                night_start = start_time
            }

            setInterval(function() {
                var now = get_current_time();
                var elapsed = get_difference(start_time, now);
                $("#total_time").text(tuple_to_display(elapsed));
            }, 30000);

            setInterval(function() {
                var now = get_current_time();
                var currently = is_it_day_or_night('flight');
                if(night_start && currently == 'day') {
                    // just switched from night to day
                    night_stop = now
                } else if(!night_start && currently == 'night') {
                    // just switched from day to night
                    night_start = now
                }

                var duration, decimal;
                if(night_start && !night_stop) {
                    // day timer is still going
                    duration = get_difference(night_start, now);
                    decimal = tuple_to_display(duration);
                }
                if(!night_start) {
                    // day timer has not been started yet.
                    decimal = '0.0';
                }
                if(night_start && night_stop) {
                    // night timer is done. Complete.
                    duration = get_difference(night_start, night_stop);
                    decimal = tuple_to_display(duration);
                }
                $('#night_time').text(decimal);
            }, 30000);
        });

        var hood_tup = [0, 0, 0];
        var actual_tup = [0, 0, 0];
        setInterval(function() {
            var cond = $('input[name=inst_condition]:radio:checked').attr('value');
            if(cond == 'hood') {
                hood_tup[2] = hood_tup[2] + 1;
                decimal = tuple_to_display(hood_tup);
                $('#hood_time').text(decimal);
            } else if(cond == 'actual') {
                actual_tup[2] = actual_tup[2] + 1;
                decimal = tuple_to_display(actual_tup);
                $('#actual_time').text(decimal);
            }
        }, 1000);

        $('#landing_button').click(function() {
            var div = "#" + is_it_day_or_night('landing') + "_landings";
            // increment the landing box by one landing.
            var prev = Number($(div).text());
            $(div).text(prev + 1);
        });

        $('#approach_button').click(function() {
            // increment the approach box by one landing.
            var prev = Number($('#approaches').text());
            $('#approaches').text(prev + 1);
        });

        </script>
    </body>
</html>