
{% if do_pagination %}
<table style="width: 100%; border: 0px solid blue; font-weight: bold" summary="pagination">
	<tr>
		<td style="width:20%;text-align:left;border:0;">
			{% if edit %}
			<span class="first_page_index"><a href="{% url mass-edit 1 %}">First Page</a></span>
			{% else %}
			<span class="first_page_index"><a href="{% url logbook-page username=request.display_user.username page=1 %}{{get}}">First Page</a></span>
			{% endif %}
		</td>
		
		<td style="width:60%;border:0;">
			<div class="center_page_index">
				{% for p in before_block %}
					{% if edit %}
				    <a href="{% url mass-edit p %}">{{ p }}</a>
				    {% else %}
					<a href="{% url logbook-page username=request.display_user.username page=p %}{{get}}">{{ p }}</a>
					{% endif %}
				{% endfor %}
											
				{{ page_of_flights.number }}
				
				{% for p in after_block %}
				    {% if edit %}
				    <a href="{% url mass-edit p %}">{{ p }}</a>
				    {% else %}
					<a href="{% url logbook-page username=request.display_user.username page=p %}{{get}}">{{ p }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</td>
		
		<td style="width:20%;text-align:right;border:0;">
		    {% if edit %}
			<span class="last_page_index"><a href="{% url mass-edit page_of_flights.paginator.num_pages %}">Last Page</a></span>
			{% else %}
			<span class="last_page_index"><a href="{% url logbook-page username=request.display_user.username page=page_of_flights.paginator.num_pages %}{{get}}">Last Page</a></span>
			{% endif %}
		</td>
	</tr>
</table>
{% endif %}
