{% extends "base.html" %}

{% block title %}Sign in using OpenID{% endblock %}

{#############################################################################}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/openid-realselector/js/jquery.openid.min.js"></script>	
<link rel="stylesheet" href="{{ MEDIA_URL }}/openid-realselector/css/style.css">

<script type="text/javascript">
		$(document).ready(function() {
			$('#openid').openid({
       			img_path: '{{ MEDIA_URL }}/openid-realselector/img/',
      });
	});
</script>
{% endblock %}

{#############################################################################}

{% block canvas %}
<div class="instructions">
    To create a Flightlogg.in' account, you must have an OpenID account. Don't worry, 
    you probably already have an OpenID account. If you have an account set up with an
    OpenID provider (such as Google, Yahoo, AOL, LiveJournal and a bunch others), then
    you already have an OpenID account.
    <br><br>
    To make a new account, click the button below that corresponds to the OpenID
    provider you wish to use. From there just follow the directions. A new FlightLogg.in'
    account will be made for you that is tied to your OpenID provider account.
    <br><br>
    To log in, select the OpenID provider you used wen you created your account. You
    will then be automatically logged in.
    <br><br>
    <a href="http://openidexplained.com/" target="_blank">Click here for more Information about OpenID</a>
</div>
<br>

<h1>Sign in with your OpenID</h1>
<table border=1>
    <tr>
        <td><strong>To use this provider</strong></td>
        <td><strong>enter this into the box below</strong></td>
    </tr>
    <tr>
        <td>Google:</td>
        <td>https://www.google.com/accounts/o8/ud</td>
    </tr>
    
    <tr>
        <td>Yahoo:</td>
        <td>yahoo.com</td>
    </tr>
    
    <tr>
        <td>AOL:</td>
        <td>http://openid.aol.com/[your username]</td>
    </tr>
    
       <tr>
        <td>MySpace:</td>
        <td>your profile url such as http://www.myspace.com/[numbers or username]</td>
    </tr>
    
</table>

</table>
{% if form.errors %}
<p class="errors">Please correct errors below:<br />
	{% if form.openid_identifier.errors %} 
		<span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
	{% endif %}
	{% if form.next.errors %} 
		<span class="error">{{ form.next.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
<form name="fopenid" action="{{ action }}" method="post">
	<fieldset>
		<legend>Sign In Using Your OpenID</legend>
        <div class="form-row">
            <label for="id_openid_identifier">OpenID:</label><br />
            {{ form.openid_identifier }}
        </div>
        <div class="submit-row "><input name="bsignin" type="submit" value="Sign in"></div>

 {% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
 {% endif %}

	</fieldset>

{% endblock %}
