{% extends "base.html" %}

{% block title %}Sign in using OpenID{% endblock %}

{#############################################################################}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/openid-realselector/js/jquery.openid.min.js"></script>	
<link rel="stylesheet" href="{{ MEDIA_URL }}/openid-realselector/css/style.css">

<script type="text/javascript">
		$(document).ready(function() {
			$('#openid').openid({
       			img_path: '{{ MEDIA_URL }}/openid-realselector/img/',
      });
	});
</script>
{% endblock %}

{#############################################################################}

{% block canvas %}
<div class="instructions">
    To create a Flightlogg.in' account, you must have an OpenID account. Don't worry, 
    you probably already have an OpenID account. If you have an account set up with an
    OpenID provider (such as Google, Yahoo, AOL, LiveJournal and a bunch others), then
    you already have an OpenID account.
    <br><br>
    To make a new account, click the button below that corresponds to the OpenID
    provider you wish to use. From there just follow the directions. A new FlightLogg.in'
    account will be made for you that is tied to your OpenID provider account.
    <br><br>
    To log in, select the OpenID provider you used wen you created your account. You
    will then be automatically logged in.
    <br><br>
    <a href="http://openidexplained.com/" target="_blank">Click here for more Information about OpenID</a>
</div>
<br>
<form method="post" action="." id="openid">
    <div><input type="hidden" name="action" value="verify" /></div>
</form>

{% endblock %}
