{% extends "base.html" %}

{% block title %}Sign in using OpenID{% endblock %}

{#######################################################################################}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/openid-realselector/js/jquery.openid.min.js"></script>	
<link rel="stylesheet" href="{{ MEDIA_URL }}/openid-realselector/css/style.css">

<script type="text/javascript">
		$(document).ready(function() {
			$('#openid').openid({
       			img_path: '{{ MEDIA_URL }}/openid-realselector/img/',
      });
	});
</script>


{% endblock %}

{% block edit %}{%endblock %}

{% block canvas %}

<form method="post" action="." id="openid">
		<div><input type="hidden" name="action" value="verify" /></div>
</form>

<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Vq0R1Y1A2rE&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Vq0R1Y1A2rE&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
<br><br>
<a href="http://openidexplained.com/">Click here for more Information about OpenID</a>

{% endblock %}
