# m h  dom mon dow   command

01 */3 *         * * /srv/flightloggin2/manage.py calc_stats
30 5   1         * * /srv/flightloggin2/manage.py email_backup
30 4   1,7,14,21 * * /srv/flightloggin2/manage.py email_backup --weekly
30 3   1,14      * * /srv/flightloggin2/manage.py email_backup --biweekly 
50 23  *         * * /srv/flightloggin2/manage.py email_backup --daily
30 */6 *         * * /srv/flightloggin2/manage.py make_dump
10 11  *         * * /srv/flightloggin2/manage.py rotate_dumps