django==1.4
hg+http://bitbucket.org/offline/django-annoying
git+http://github.com/dcramer/django-devserver.git
django-extensions
git+https://github.com/priestc/django-gravatar2.git
bzr+http://bazaar.launchpad.net/~django-openid-auth/django-openid-auth/trunk/@65#egg=django_openid_auth-0.2
django-pagination==1.0.5
svn+http://django-tagging.googlecode.com/svn/trunk@185#egg=django_tagging-0.4.dev1-py2.6-dev_r185
django-test-utils==0.3
ipython
numpy
psycopg2
git+http://github.com/sciyoshi/pyfacebook.git@7ba3654569e2b3d7ecddbe2e05693c24e6d36c24#egg=pyfacebook-0.1-py2.6-dev
python-openid==2.2.4
python-dateutil
reportlab==2.4
termcolor==0.1.2
yolk
boto
debug
PIL
django-pipeline==1.2.1
django-easydump
raven==1.7.3
