<!DOCTYPE html>
{% load gravatar %}{% load analytics %}
<html lang="en">
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="DESCRIPTION" content="{% block description %}{% endblock %}">
        <meta name="KEYWORDS" content="Airline, Travel, Aircraft, Aviation, Pilot Logbook, Open Source, GPL, Pilot Log, Flight Logbook, web application, Flight Training, Private Pilot">
        <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
        
        <script type="text/javascript">
            MEDIA_URL = "{{ STATIC_URL }}";
	        window.google_analytics_uacct = "UA-501381-5";
        </script>

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
        <script src="{% static "js/master.js" %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        {% load compressed %}
        {% compressed_css 'main' %}
        {% compressed_js 'main' %}

        {% block javascript %}{% endblock %}

        <title>{% block title %}{% endblock %} - FlightLogg.in - Electronic Pilot Logbook</title>
    </head>
	
    <body>
        <div id="content">

            {% with navbar_user as user %}
            {% include "navbar.html" %}
            {% endwith %}

            <div id="userbox">
                {% if DEMO %}
                    <span id="demo">** VIEWING THE DEMO ACCOUNT **</span>
                {% endif %}

                {% if user.is_authenticated %}
                    Logged in as: <span class="logged_user">{{ user.username }}</span>
                {% endif %}

                {% if request.user != request.display_user and request.display_user%}
                    <br>Viewing the logbook of: <span class="display_user">{{ request.display_user }}</span>
                {% endif %}

                {% if not user.is_authenticated %}
                    <br><a href="{% url landingpage %}">Sign-in/Register</a>
                {% else %}
                    <br><a href="/logout">Log Out</a>
                {% endif %}
            
                {% if request.display_user %}
                    {% gravatar request.display_user %}
                {% elif user.is_authenticated %}
                    {% gravatar user %}
                {% endif %}
            </div>
        		    
            {% block no_canvas %}
            <div id="canvas" class="">
                <div id="vertbox">
                {# from the ad context processor #}
                {{ proper_ad|safe }}
                </div>
                {% block canvas %}{% endblock %}
            </div>
            {% endblock %}
            
		</div>

		{% include 'footer.html' %}
        {% googleanalyticsjs %}
	</body>
</html>
