<!DOCTYPE html>
{% load gravatar %}{% load analytics %}
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="DESCRIPTION" content="{% block description %}{% endblock %}">
        <meta name="KEYWORDS" content="Airline, Travel, Aircraft, Aviation, Pilot Logbook, Open Source, GPL, Pilot Log, Flight Logbook, web application, Flight Training, Private Pilot">
        <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
        
        <script type="text/javascript">
            MEDIA_URL = "{{ STATIC_URL }}";
	        window.google_analytics_uacct = "UA-501381-5";
        </script>

        <link rel="stylesheet" type="text/css" href="{% static CSS_URL %}/screen.css">
		
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{% static "js/master.js" %}"></script>
        {% block javascript %}{% endblock %}
		
        <title>{% block title %}{% endblock %} - FlightLogg.in - Electronic Pilot Logbook</title>
    </head>
	
    <body>
    <div id="holder">

        <div id="logo_header" style="overflow: hidden">

            <div id="inner_header">
            
                <a href="/"><img id="logo" src="{% static CSS_URL %}/logo.png" alt="FlightLogg.in' Logo" /></a>
                
                <div id="userbox" style="float: right; overflow: hidden">
                    <div style="float: left; margin-top: 10px">
                    {% if DEMO %}
                        <span id="demo">** VIEWING THE DEMO ACCOUNT **</span>
                    {% endif %}

                    {% if user.is_authenticated %}
	                    Logged in as: <span class="logged_user">{{ user.username }}</span>
                    {% endif %}

                    {% ifnotequal request.user request.display_user %}
                    {% if request.display_user %}
	                    <br>Viewing the logbook of: <span class="display_user">{{ request.display_user }}</span>
	                {% endif %}
                    {% endifnotequal %}

                    {% if not user.is_authenticated %}
                        <br><a href="{% url landingpage %}">Sign-in/Register</a>
                    {% else %}
                        <br><a href="/logout">Log Out</a>
                    {% endif %}
                    </div>
                    
                    <div style="margin-left: 3px; margin-top: 2px; float: right">
                        {% if request.display_user %}
                            {% gravatar request.display_user %}
                        {% else %}
                        
                            {% if user.is_authenticated %}
                                {% gravatar user %}
                            {% endif %}
                            
                        {% endif %}
                    </div>
                
                </div>
            </div>
            
            

		</div>
        
        <div id="navbar_header">
            {% with navbar_user as user %}
            {% include "navbar.html" %}
            {% endwith %}
        </div>
        
        <div id="main_content">
		    
            {% block no_canvas %}
            <div id="canvas" class="">
                <div style="text-align: center; margin: auto auto 10px">
                {# from the ad context processor #}
                {{ proper_ad|safe }}
                </div>
                {% block canvas %}{% endblock %}
            </div>
            {% endblock %}
            
		</div>

		{% include 'footer.html' %}
		
	</div>
    {% googleanalyticsjs %}
	</body>
</html>
