<div id="footer">
      <a href="{% url news %}">News</a> -
      <a href="{% url help %}">Help</a> -
      <a href="{% url site_stats %}">Site Stats</a> -
      <a href="https://groups.google.com/forum/#!forum/flightloggin">Google Groups</a> -
      <a href="http://twitter.com/flightloggin" target="_blank">Twitter</a> -
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=9683553" target="_blank">Donate</a> -
      <a href="http://github.com/priestc/flightloggin2" target="_blank">Code</a> -
      <a href="{% url privacy %}">Privacy Policy</a>
      <br>&copy; 2013 FlightLogg.in'
</div>