{% extends "base.html" %}
{% load profile_lists %}
{% load cache %}

{% block description %}{{ loc.name }} - {{ loc.location_summary }} - {{ ident|upper }} location profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}{{ lc|capfirst }} Profile - {{ ident|upper }}{% endblock %}

{% block canvas %}

<h1>{{ ident|upper }}</h1>
<strong>{{ loc.name }} - {{ loc.location_summary }}</strong>

{% url routes_for_location-kml loc.identifier as kml_url %}
{% include "gmaps.html" %}

{% cache 10800 loc_profile ident %}
<table class="main">
    <tr>
        <th>Users who have flown to this {{ lc }}</th>
        <td>{{ users|list_users }}</td>
    </tr>

    <tr>
        <th>Total number of flights logged to this {{ lc }}</th>
        <td><big><strong>{{ t_flights|default:0 }}</strong></big></td>
    </tr>

    <tr>
        <th>Tailnumbers that have flown to this {{ lc }}</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
</table>
{% endcache %}

{% endblock %}
