{% extends "base.html" %}
{% load profile_lists %}
{% load humanize %}
{% load cache %}

{% block description %}{{ model|upper }} model profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/gmaps.css">
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ GOOGLE_MAPS_KEY }}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/item_profile.js"></script>
<script type="text/javascript">
    {% url routes_for_model-kml model=url_model as url %}
    var routes_kml_url = "http://flightlogg.in{{ url }}"
</script>
{% endblock %}

{% block title %}Model Profile - {{ model }}{% endblock %}

{% block canvas %}

<h1>{{ model }}</h1>

<div id="view_in_googleearth">
    <a href="{% url routes_for_model-kml model as url %}{{ url }}">View in Google Earth</a>
</div>
<div id="gmap">
</div>

{% cache 10800 model_profile model %}
<table class="main">
    <tr>
        <th>Users who have flown a {{ model }}</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total hours logged in a {{ model }}</th>
        <td><big><strong>{{ t_hours|floatformat:1|intcomma }}</strong></big></td>
    </tr>
    <tr>
        <th>Total number of flights logged in a {{ model }}</th>
        <td><big><strong>{{ t_flights|intcomma }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that are a {{ model }}</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
</table>
{% endcache %}

<br>
<img src="{% url histogram-model model %}" alt="Speed Histogram">

{% endblock %}
