{% extends "base.html" %}
{% load profile_lists %}
{% load cache %}

{% block description %}{{ tn|upper }} tailnumber profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Tailnumber Profile - {{ tn|upper }}{% endblock %}

{% block canvas %}

<h1>{{ tn|upper }}</h1>

{% url routes_for_tailnumber-kml tn as kml_url %}
{% include "gmaps.html" %}

{% cache 10800 tn_profile tn %}
<table class="main">
    <tr>
        <th>Users who have flown an aircraft with this tailnumber</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total hours logged in {{ tn }}</th>
        <td><big><strong>{{ t_hours }}</strong></big></td>
    </tr>
    <tr>
        <th>Total number of flights logged in {{ tn }}</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Types {{ tn }} has been registered to</th>
        <td>{{ types|list_types }}</td>
    </tr>
    <tr>
        <th>Models {{ tn }} has been registered to</th>
        <td>{{ models|list_models }}</td>
    </tr>
</table>
{% endcache %}

{% endblock %}
