{% extends "base.html" %}
{% load profile_lists %}
{% load cache %}

{% block description %}{{ ty|upper }} type profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/gmaps.css">
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/item_profile.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ GOOGLE_MAPS_KEY }}"></script>
<script type="text/javascript">
    {% url routes_for_type-kml ty as url %}
    var routes_kml_url = "http://flightlogg.in{{ url }}"
</script>
{% endblock %}

{% block title %}Type Profile - {{ ty|upper }}{% endblock %}

{% block canvas %}

<h1>{{ ty|upper }}</h1>

<div id="view_in_googleearth">
    <a href="{% url routes_for_tailnumber-kml tn as url %}{{ url }}">View in Google Earth</a>
</div>
<div id="gmap">
</div>

{% cache 10800 ty_profile ty %}
<table class="main">
    <tr>
        <th>Users who have flown a {{ ty }}</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total hours logged in a {{ ty }}</th>
        <td><big><strong>{{ t_hours }}</strong></big></td>
    </tr>
    <tr>
        <th>Total number of flights logged in a {{ ty }}</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Number of unique airports a {{ ty }} has visited</th>
        <td><big><strong>{{ u_airports }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that are a {{ ty }}</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
</table>
<br>
<img src="{% url histogram-type ty %}" alt="Speed Histogram">
{% endcache %}

{% endblock %}
