{% extends "base.html" %}
{% block linegraphs-sel %}nav_selected{% endblock%}

{% block javascript %}
    <style>
        .date       {width: 8em}
        select      {font-size: small}
    </style>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/sprintf.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/bargraphs.js"></script>
    
    <script type="text/javascript">
    date_button = "{{MEDIA_URL}}/images/calendar.gif";
    year_range = "1990:2009";
	
	</script>
{% endblock %}

{% block title %}Line Graphs{% endblock %}


{% block canvas %}
    <select id="bar_column">
    {{ column_options }}
    </select>
    
    <select id="agg">
    {{ agg_options }}
    </select>

    <input id="bar_graph" class="render_button png" name="line_render" value="Render" type="submit">
 
    {#################################}
    
    <br> <br> <br>
    <img src="" id="image" style="display:none; margin-right: auto; margin-left: auto">

{% endblock %}
