<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="DESCRIPTION" content="{% block description %}{% endblock %}">
        <meta name="KEYWORDS" content="Aircraft, Pilot Logbook, Open Source, GPL, Pilot Log, Flight Logbook, web application, Private Pilot">
        <meta name="google-site-verification" content="xe-f505ZHR6pNZzKFyeK5PNnZSkSZ8LlW979worOSHM">
		<link rel="icon" type="image/png" href="/icons/favicon.png">
        
        <script type="text/javascript">
	        MEDIA_URL = "{{ MEDIA_URL }}";
	        window.google_analytics_uacct = "UA-501381-5";
	    </script>
	
        <link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/base.css">
		
        <script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-1.4.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-ui-1.7.1.custom.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/master.js"></script>
        {% block javascript %}{% endblock %}
		
        <title>{% block title %}{% endblock %} - FlightLogg.in - Electronic Pilot Logbook</title>
    </head>
	
    <body>
    <div id="holder">

        <div id="logo_header">

            <div id="inner_header">
            
                <a href="/"><img id="logo" src="{{ CSS_URL }}/logo.png" alt="FlightLogg.in' Logo" /></a>
            
                {% if DEMO %}
                    <span id="demo">** VIEWING THE DEMO ACCOUNT **</span>
                {% endif %}

                {% if user.is_authenticated %}
	                Logged in as: <span class="logged_user">{{ user.username }}</span>
                {% endif %}

                {% ifnotequal request.user request.display_user %}
                {% if request.display_user %}
	                <br>Viewing the logbook of: <span class="display_user">{{ request.display_user }}</span>
	            {% endif %}
                {% endifnotequal %}

                {% if not user.is_authenticated %}
                    <br><a href="/openid/login">Sign-in/Register</a>
                {% else %}
                    <br><a href="/logout">Log Out</a>
                {% endif %}

            </div>

		</div>
        
        <div id="navbar_header">
            {% block navbar %}
	        {% endblock %}
        </div>
        
        <div id="main_content">
		    
            {% block no_canvas %}
            <div id="canvas">
                <div style="text-align: center; margin: auto auto 10px">
                {# from the ad context processor #}
                {{ proper_ad|safe }}
                </div>
                {% block canvas %}{% endblock %}
            </div>
            
            {% endblock %}
		</div>

		<div id="footer">
            <a href="{% url news %}">News</a> -
            <a href="{% url help %}" target="_blank">Help</a> -
            <a href="{% url site_stats %}" target="_blank">Site Stats</a> -
            <a href="http://forums.flightlogg.in" target="_blank">Forums</a> -
            <a href="http://twitter.com/flightloggin" target="_blank">Twitter</a> -
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=9683553" target="_blank">Donate</a> -
            <a href="http://github.com/nbv4/flightloggin" target="_blank">Code</a>
            <br>&copy; 2009 FlightLogg.in'
		</div>
		
	</div>
	<script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-501381-5");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
	</body>
</html>
