{% extends "base-no-nav.html" %}

{% block navbar %}
    {# do not render the navbar when there is no logged in user (url tags will fail) #}
    {% if request.display_user %}
    <div id="nav_bar" summary="Top navigation bar">
    
        {% if not request.shared or request.display_user.get_profile.logbook_share %}
        <span class="big {% block logbook-sel %}{% endblock%}" >
        <a href="{% url logbook request.display_user.username %}">Flights</a></span>
        {% endif %}
        
        {% if not request.shared or request.display_user.get_profile.logbook_share %}
        &#8226;
        <span class="big {% block planes-sel %}{% endblock%}" >
        <a href="{% url planes request.display_user.username %}">Planes</a></span>
        {% endif %}
        
        {% if not request.shared or request.display_user.get_profile.events_share %}
        &#8226;
        <span class="big {% block events-sel %}{% endblock%}" >
        <a href="{% url events request.display_user.username %}">Events</a></span>
        {% endif %}
        
        {% if not request.shared or request.display_user.get_profile.logbook_share %}
        &#8226;
        <span class="big {% block locations-sel %}{% endblock%}" >
        <a href="{% url locations request.display_user.username %}">Locations</a></span>
        {% endif %}
        
        {% if not request.shared or request.display_user.get_profile.records_share %}
        &#8226;
        <span class="big {% block records-sel %}{% endblock%}" >
        <a href="{% url records request.display_user.username %}">Records</a></span>
        {% endif %}
        
        <br>
        
        {% if not request.shared or request.display_user.get_profile.other_share %}
        <span class="{% block linegraphs-sel %}{% endblock%}" >
        <a href="{% url linegraphs request.display_user.username %}">Line Graphs</a></span>
        
        <span class="{% block bargraphs-sel %}{% endblock%}" >
        <a href="{% url bargraphs request.display_user.username %}">Bar Graphs</a></span>
        
        <span class="{% block maps-sel %}{% endblock%}" >
        <a href="{% url maps request.display_user.username %}">Maps</a></span>
        
        <span class="{% block est-sel %}{% endblock%}" >
        <a href="{% url est request.display_user.username %}">8710</a></span>
        
        <span class="{% block sigs-sel %}{% endblock%}" >
        <a href="{% url sigs request.display_user.username %}">Sigs</a></span>

        <span class="{% block currency-sel %}{% endblock%}" >
        <a href="{% url currency request.display_user.username %}">Currency</a></span>
        
        <span class="{% block milestones-sel %}{% endblock%}" >
        <a href="{% url milestones request.display_user.username %}">Milestones</a></span>
        {% endif %}
        
        {% if not request.shared %}
        <span class="{% block mass-sel %}{% endblock%}" >
        <a href="{% url mass-entry request.display_user.username %}">Mass Entry</a></span>

        <span class="{% block import-sel %}{% endblock%}" >
        <a href="{% url import request.display_user.username %}">Import</a></span>
        
        <span class="{% block export-sel %}{% endblock%}" >
        <a href="{% url export request.display_user.username %}">Export</a></span>

        <span class="{% block profile-sel %}{% endblock%}" >
        <a href="{% url profile request.display_user.username %}">Preferences</a></span>
        
        <span>
        <a href="/logout">Log Out</a></span>
        {% endif %}

    </div>
    {% endif %}
{% endblock %}
