{% extends "base.html" %}
{% block currency-sel %}nav_selected{% endblock%}

{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/{{ title|lower }}.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/currency.css">
{% endblock %}

{% block title %}Currency{% endblock %}

{% block canvas %}

{#################################################}

{% for currbox in cat_classes_out %}
    {% if forloop.first %}
        <h2>Category/Class:</h2>
    {% endif %}

    {{currbox.render}} 

{% endfor %}

{#################################################}

{% for currbox in tailwheels_out %}
    {% if forloop.first %}
        <h2>Tailwheel:</h2>
    {% endif %}

    {{currbox.render}} 

{% endfor %}

{#################################################}

{% for currbox in types_out %}
    {% if forloop.first %}
        <h2>Types:</h2>
    {% endif %}

    {{currbox.render}} 

{% endfor %}

{#################################################}

{% if cert_currbox %}
    <h2>Certificates:</h2>
    {{cert_currbox.render}}
{% endif %}

{#################################################}


{% if medi_currbox %}
    <h2>Medical:</h2>
    {{medi_currbox.render}}
{% endif %}

{#################################################}

{% if not types_out and not tailwheels_out and not cat_classes_out and not medi_currbox and not certs_out %}
<div class="nothing">Nothing to show here, sorry.</div>
{% endif %}

{% endblock %}
