{% extends "base.html" %}
{% block currency-sel %}nav_selected{% endblock%}

{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/{{ title|lower }}.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/currency.css">
{% endblock %}

{% block title %}Currency{% endblock %}


{% block canvas %}

{% for currbox in cat_classes_out %}
    {% if forloop.first %}
        <h2>Category/Class:</h2>
    {% endif %}

    {{currbox.render}} 

{% endfor %}

{% for currbox in tailwheels_out %}
    {% if forloop.first %}
        <h2>Tailwheel:</h2>
    {% endif %}

    {{currbox.render}} 

{% endfor %}

{% for currbox in types_out %}
    {% if forloop.first %}
        <h2>Types:</h2>
    {% endif %}

    {{currbox.render}} 

{% endfor %}

{% if not types_out and not tailwheels_out and not cat_classes_out%}
<span>Nothing to show here, sorry.</span>
{% endif %}

{% endblock %}
