{% extends "base.html" %}
{% block export-sel %}nav_selected{% endblock%}
{% block title %}Export{% endblock %}

{% block description %}{{ display_user.username }}'s export options{% endblock%}

{% block canvas %}

Download zipped CSV file:<br>
    <button onclick="window.location = '{% url backup display_user %}'; return false;">CSV</button>
<hr>

Email me a zipped CSV file:<br>
    <button onclick="window.open('{% url email-backup display_user %}');">Send Email</button>

<hr>

Export flights as PDF:<br>
    <button onclick="window.location = '{% url pdf display_user %}'; return false;">PDF</button>
    
{% endblock %}
