<form method="get" action="{% url logbook request.display_user %}" id="filterform">
<table id="filter_box">
    <tr>
        <td id="date_filter_pane">

                {#<input type="hidden" name="c" value="t">#}
                {{ ff.start_date.label_tag }} {{ ff.start_date }}
                <br><br>
                {{ ff.end_date.label_tag }} {{ ff.end_date }}


        </td>
        
        <td id="time_filter_pane">
            {# produces a table with id='center_filter_table' #}
            {{ ff.render_table }}
            
            <br>
            
            <table id="text_filters">
                <tr>
                    <td>{{ ff.person.label_tag }}</td><td>{{ ff.person }}</td>
                </tr>
                <tr>
                    <td>{{ ff.remarks.label_tag }}</td><td>{{ ff.remarks }}</td>
                </tr>
                <tr>
                    <td>{{ ff.route__fancy_rendered.label_tag }}</td><td>{{ ff.route__fancy_rendered }}</td>
                </tr>
            </table>
            
        </td>
        
        <td id="plane_filter_pane">
            By Plane Tags<br>
            {{ ff.plane__tags }}
            
            <br><br>
            
            By Plane Type<br>
            {{ ff.plane__type }}
            
            <br><br>
            
            By Tailnumber<br>
            {{ ff.plane__tailnumber }}
            
            <br><br>
            
            By Category/Class<br>
            {{ ff.plane__cat_class }}
            
        </td>
    </tr>
    <tr>
        <td colspan="3"><input type="submit" onclick="cleanup_filter_get()"></td>
    </tr>
    
</table>
