{% extends "base.html" %}
{% load i18n %}

{% block javascript %}

<link rel="alternate" type="application/rss+xml" title="{% trans "All Latest Posts via RSS" %}" href="{% url forum_index %}rss/" />
<link rel="alternate" type="application/atom+xml" title="{% trans "All Latest Posts via ATOM" %}" href="{% url forum_index %}atom/" />
<link rel="stylesheet" type="text/css" href="{{ CSS_URL}}/forum.css">
{% block extrahead %}{% endblock %}

{% endblock %}


{% block canvas %}

<div id='djangoForumBody'>
<h1>{% block pagetitle %}{% trans "Welcome to the Forums" %}{% endblock %}</h1>
<div id='djangoForumBreadcrumbs'><a href='/'>{% trans "Home" %}</a> &raquo; <a href='{% url forum_index %}'>{% trans "Forums" %}</a>{% block breadcrumbs %}{% endblock %}</div>
{% block content %}{% endblock %}
</div>

{% endblock %}
