<style type="text/css">
.current			{border:1px solid black; background: #5dc7e9; float:left; font-size:small; margin-bottom:10px;
				 margin-right:10px; margin-top: 10px; padding:3px; width:18em; height:6em}
				 
.almost_expired			{background: #f184a3}

.not_current			{background: #AAAAAA;}

.current big			{text-decoration: underline; font-size: large}
.current small			{font-size:x-small}

</style>

<div class="landings_currency_container">
{% for currency in currency_list %}
	{% ifequal currency.type "landing" %}
		
		{% ifequal currency.status "current" %}
		
			<div class="current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Last day of currency: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "expired" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Expired since: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "almost" %}
		
			<div class="current almost_expired">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Last day of currency: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
		
		{% endifequal %}
		{% ifequal currency.status "never" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						You have not yet logged 3 landings in this Category/Class
					</small>
			</div>
		
		{% endifequal %}
			
	{% endifequal %}
		
	{#--------------------------------------------------------------------------------------------------------------#}

	{% ifequal currency.type "fr" %}
	
		{% ifequal currency.status "current" %}
		
			<div class="current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Last day of currency: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "expired" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Expired since: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "almost" %}
		
			<div class="current almost_expired">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Last day of currency: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
		
		{% endifequal %}
		{% ifequal currency.status "never" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						No Checkrides or Flight Reviews found in your logbook
					</small>
			</div>
		
		{% endifequal %}
		
	{% endifequal %}
	
	{#--------------------------------------------------------------------------------------------------------------#}
	
	{% ifequal currency.type "cfi" %}
	
		{% ifequal currency.status "current" %}
		
			<div class="current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Last day of currency: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "expired" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Expired since: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "almost" %}
		
			<div class="current almost_expired">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Last day of currency: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
		
		{% endifequal %}
		{% ifequal currency.status "never" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						No CFI information found in your logbook
					</small>
			</div>
		
		{% endifequal %}
		
	{% endifequal %}

	{#--------------------------------------------------------------------------------------------------------------#}

	{% ifequal currency.type "medical" %}
	
		{% ifequal currency.status "current" %}
		
			<div class="current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						{% ifequal currency.medical_class 3 %}
							Last day of currency:
						{% else %}
							Last day before next downgrade:
						{% endifequal %} <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "expired" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						Expired since: <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
			
		{% endifequal %}
		{% ifequal currency.status "almost" %}
		
			<div class="current almost_expired">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						{% ifequal currency.medical_class 3 %}
							Last day of currency:
						{% else %}
							Last day before next downgrade:
						{% endifequal %} <strong>{{ currency.expire_date|date:"d M Y" }}</strong>
					</small>
			</div>
		
		{% endifequal %}
		{% ifequal currency.status "never" %}
		
			<div class="current not_current">
				<big>{{ currency.display }}</big>
				<br />
					<small>
						No medical information found in your logbook
					</small>
			</div>
		
		{% endifequal %}
		
	{% endifequal %}
{% endfor %}
</div>
