{% extends "base.html" %}
{% block graphs-sel %}nav_selected{% endblock%}

{% block javascript %}
    <style>
        .date       {width: 8em}
        select      {font-size: small}
    </style>
    <script type="text/javascript">
    date_button = "{{MEDIA_URL}}/images/calendar.gif"
    year_range = "1990:2009"

    function render_line_graph(ext) {

        column = $("#line_column").val();
        
        start = $("#line_start").val().replace(/-/g,'.');         //change all dashes to dots
        end = $("#line_end").val().replace(/-/g,'.');
        
        if(start && end)
            url = "line-pr-"+ column +"--" + start + "-" + end + "." + ext;
        else
            url = "line-pr-"+ column + "." + ext;
            
        if(ext=="png")
      	    $("#image").attr("src", url).css("display", "block")
      	else if(ext=="svg")
      	    window.open(url) //$("#svg_link").attr("href", url)

    }

    $(document).ready(function() {
        
        $(".render_button").click(function() {
        
            ext=$(this).attr('class').split(' ').slice(-1);
        
            if(this.id == "line_graph")
                render_line_graph(ext);
            
            if(this.id == "bar_graph")
                render_bar_graph(ext);
        
        });
        
        $(".date").datepicker({			// add the date pickers
	            dateFormat: "yy-mm-dd",
	            yearRange: year_range, 
	            showOn: "button", 
	            buttonImage: date_button,
	            buttonImageOnly: true,
	            changeYear: true
        }).addClass("embed");

    });
	
	</script>
{% endblock %}

{% block title %}Graphs{% endblock %}


{% block canvas %}
    <h2>Progression with Rate:</h2>
        <select id="line_column">
        {{ column_options }}
        </select>
        <div style="padding: 10px">
        Start: <input type="date" class="date" id="line_start">   End: <input type="date" class="date" id="line_end">
        </div>
        <input id="line_graph" class="render_button png" name="line_render" value="PNG" type="submit">
        <a href="" target="_blank" id="svg_link"><input id="line_graph" class="render_button svg" value="SVG" type="button"></a>
        <br>
        <hr>
    <h2>Compare Progression:</h2>
        <select id="line_column">
        {{ column_options }}
        </select>
        <div style="padding: 10px">
        Start: <input type="date" class="date" id="line_start">   End: <input type="date" class="date" id="line_end">
        </div>
        <input id="line_graph" class="render_button png" name="line_render" value="PNG" type="submit">
        <a href="" target="_blank" id="svg_link"><input id="line_graph" class="render_button svg" value="SVG" type="button"></a>
        <br>
        <hr>
    <h2>Compare Rate:</h2>
        <select id="line_column">
        {{ column_options }}
        </select>
        <div style="padding: 10px">
        Start: <input type="date" class="date" id="line_start">   End: <input type="date" class="date" id="line_end">
        </div>
        <input id="line_graph" class="render_button png" name="line_render" value="PNG" type="submit">
        <a href="" target="_blank" id="svg_link"><input id="line_graph" class="render_button svg" value="SVG" type="button"></a>
        <br>
        
        
    {#################################}
    
    <br>
    <img src="" id="image" style="display:none; margin-right: auto; margin-left: auto"> {# id="object" height="480" width="640">#}
    </object>


{% endblock %}
