{% extends "base.html" %}
{% block graphs-sel %}nav_selected{% endblock%}

{% block javascript %}
    <style>
        .date       {width: 8em}
    </style>
	<script type="text/javascript">
	date_button = "{{MEDIA_URL}}/images/calendar.gif"
	year_range = "1990:2008"
	
	function render_line_graph(ext) {
	
	    column = $("#line_column").val();
	    
	    start = $("#line_start").val().replace(/-/g,'.');         //change all dashes to dots
	    end = $("#line_end").val().replace(/-/g,'.');
	    url = "line-"+ column +"--" + start + "-" + end + "." + ext;
	    
  	    $("#object").attr("data", url).css("display", "block")

	}
	
	$(document).ready(function() {
        
        $(".render_button").click(function() {
        
            ext=$(this).attr('class').split(' ').slice(-1);
        
            if(this.id == "line_graph")
                render_line_graph(ext);
            
            if(this.id == "bar_graph")
                render_bar_graph();
        
        });
        
        $(".date").datepicker({			// add the date pickers
			    dateFormat: "yy-mm-dd",
			    yearRange: year_range, 
			    showOn: "button", 
			    buttonImage: date_button,
			    buttonImageOnly: true,
			    changeYear: true
	    }).addClass("embed");

    });
	
	</script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block canvas %}
    <h2>Line Graph:</h2>
        <select id="line_column">
        {{ column_options }}
        </select>
        <input type="date" class="date" id="line_start"> <input type="date" class="date" id="line_end">
        <input id="line_graph" class="render_button png" name="line_render" value="PNG" type="button">
        <input id="line_graph" class="render_button svg" name="line_render" value="SVG" type="button"><br>
        
        
    {#################################}
    
    <br>
    <object style="display:none; margin-right: auto; margin-left: auto" id="object" data="blank.svg" height="480" width="640" type="image/svg+xml">
    </object>


{% endblock %}
