{% extends "base-no-nav.html" %}

{% block title %}Help{% endblock %}
{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/help.css">
{% endblock %}
{% block canvas %}

<h2>How do I log the route for my flights?</h2>

You are supposed to put the identifier of each you flew to. All places in the
route where a landing did not take plaxce, a "@" should prefix the identifier.
So if your flight was from La Guardia in New
York to Boston via the Bradley VORTAC, you would log the flight as
"LGA-@BDL-BOS". When the "@" is present, it first tries to match the identifier
with a navaid. If it does not find a navaid, it will try to match it with an
airport.

<h2>What do the colors mean in the route?</h2>

Purple is for airports, green is for navaids, dark blue is for custom locations,
and grey is for identifiers that the site can't figure out it's coordinates.
Identifiers that are underlines means a landing took place there. No underline
measn it was just flown over.

<h2>How do I handle custom locations?</h2>

If you landed some place which isn't an airport with as assigned identifier,
you first must create a custom location. Go to the
"Locations" section of the site and enter the coordinates of the place you flew
to and then make up an identifier. When you want to log a flight to that
location, use the identifier. If the identifier you want to use also happens to
be an identifier some other airport uses, just prefix the identifier with an
exclamation point when logging the flight. For instance if you had a custom
identifier that you want to call "DEN", then you must log all flights using that
custom location as "!DEN". The exclamation point tell the system "Use my custom
definition for this one".

<h2>How do I get time to show up in the Complex and High Performance columns?
I don't see any Complex or High Performance fields in the new flight popup
window...</h2>

You need to make sure the plane you logged the flight in is tagged as "Complex"
and "High Performance". Since it's impossible to log Complex time in a plane
that is not complex, and any time logged in a complex plane is complex time, it
makes sense to control complex time based on the plane the flight is logged in.
This is also how the site keeps track of Seaplane, Multi-Engine, Jet, Turbine 
and the rest of the columns you see that don't have a corresponding entry field
in the new flight window. Make sure you surround all two word tags with
quitation marks (""), or else it will treat both words as seperate tags.

<h2>What other plane tags do special things?</h2>

The following are special tags: "Complex", "High Performance" (or just "HP"),
"Turbine", "Jet", "Type Rating" (or just "TR"), and "Currency". The last two
control which
types are kept track of in the currency section. If you want to keep track of
your Boeing 757 landings (as per the FAA regs), just tag one of your Boeing
757's as "Type Rating". Now all 757's (even the ones no specifically tagged)
will be used to determine your 90 day landing currency for the Boeing 757. If
you want to keep track of your C-172 landings, you can either tag a C-172 as
"Type Rating" (which doesn't really make sense), or you can log it as
"currency", which has the same effect. Also, none of the special tags are case
sensitive.

<h2>How is Point to Point time calculated?</h2>

It analyzes the route to determines if it depicts a flight that lands at a
point other than the origin airport. If it does, it takes the time in the total
column, and uses it in the P2P column. All Navaids are ignored, and all custom
identifiers are assumed to be depicting a landing. If you logged a flight as
"KLGA-@BDL-KLGA" it will determine this flight to be a local flight, and
therefore not eligable as P2P time. On the other hand, "KLGA-BDL-KLGA" will be
considered a P2P flight, because it assumes a landing at BDL.

<h2>What does "filter out spikes" and "include rate" do in the line graphs?</h2>

"Include rate" will add a red line that represents the total hours of flight time
in the past 30 days for any given date. The "filter out spikes" option will
exclude any flights where the amount of time logged exceeds 24 hours. Such flights
are most likely "adjustment entries" that represent carried over totals from
previous logbooks. Filtering out spikes will give a more accurate the shape of
the graph at the cost of some of the values being less than they actually are.

<h2>There is a typo or other incorrect information in some of the airport names
and locations, how can I fix this?</h2>

FlightLogg.in' gets all it's airport and navaid data from
<a href="http://ourairports.com">OurAirports</a>. If you want to fix something, 
register an account at OurAirports, navigate to the page for that airport, and
make the change. Eventually the change will make it's way back to FlightLogg.in.

{% endblock %}
