{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/popup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/new_entry_popup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/logbook.js"></script>
{% endblock %}
<style>
{% block css %}
    .flying_event                   {color: darkred; font-weight: bold}
    #canvas                         {max-width: 100% !important}
    .preview                        {border-collapse: collapse; border: 1px solid gray; margin: 10px auto auto auto}
    .preview td                     {font-size: x-small; border: 1px solid gray}
    tr.bad td                       {background: pink}


{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block canvas %}

    <form action="/import.html" method="post" enctype="multipart/form-data">
    <div>
        <ul>
        {{fileform.as_ul}}
        </ul>
        <input type="submit" value="Preview" name="submit">  <input type="submit" value="Import" name="submit">
    </div>
    </form>
    {{fileform.errors}}

    {% if flight_out %}
        <table class="preview">
        {{official_header|safe}}
        {% for l in flight_out %}
        {{l|safe}}
        {% endfor %}
        </table>
    {% endif %}
    
    {% if non_out %}
        <h2>Non Flying Events:</h2>
        <table class="preview">
        {% for l in non_out %}
        {{l|safe}}
        {% endfor %}
        </table>
    {% endif %}
    
    {% if plane_out %}
        <h2>Planes:</h2>
        <table class="preview">
        {% for l in plane_out %}
        {{l|safe}}
        {% endfor %}
        </table>
    {% endif %}
    
    {{count}}
	
{% endblock %}

