{% extends "base.html" %}
{% block realtime-sel %}nav_selected{% endblock%}

{% block description %}{{ pk|upper }} location profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}{{ loc.get_loc_class_display }} Profile - {{ pk|upper }}{% endblock %}


{% block canvas %}

<h1>{{ pk|upper }}</h1>
<strong>{{ loc.name }} - {{ loc.location_summary }}</strong>

<br><br>
{% ifnotequal t_flights 0 %}
<a href="{% url s-location-kml pk|upper %}">View all flights to this {{ loc.get_loc_class_display|lower }} with Google Earth</a>
{% endifnotequal %}


<h2>Users who have flown to this location</h2>

{% spaceless %}
{% for user in users %}
    
    {# the span is so it works with spaceless better #}
    {% if not forloop.first %}<span>, </span>{% endif %}
    
    {% if user.get_profile.logbook_share %}
    
        <a title="This user does not allow others to view his/her logbook"
           class="noshare" href="">{{user.username}}</a>
           
    {% else %}
    
        <a href="{% url logbook user.username %}"
           title="Click to see this user's logbook">{{user.username}}</a>
           
    {% endif %}
    
{% empty %}

    (None)

{% endfor %}
{% endspaceless %}

<h2>Total number of flights logged to this {{ loc.get_loc_class_display|lower }}</h2>
<big><strong>{{t_flights}}</strong></big>

<h2>Tailnumbers that have flown to this {{ loc.get_loc_class_display|lower }}</h2>
{% spaceless %}
    {% for tn in tailnumbers %}
        {% url profile-tailnumber tn as url %}
        
        {% if not forloop.first %}<span>, </span>{% endif %}
        
        <a href="{{ url }}">{{ tn }}</a>
    {% endfor %}
{% endspaceless %}

{% endblock %}
