{% extends "base.html" %}
{% block locations-sel %}nav_selected{% endblock%}

{% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/popup.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/custom_popup.js"></script>
	<script type="text/javascript">

    
	</script>
	
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/popup.css">
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/locations.css">
{% endblock %}

{% block title %}Locations{% endblock %}

{% block canvas %}

{% if user.is_authenticated and not shared %}
<input type="button" id="new_custom" value="New Location">
{% endif %}


<table id="custom_table" class="minor_table">
    <thead>
    <tr>
        <td>Identifier</td>
        <td>Name</td>
        <td>Coordinates</td>
        <td>Type</td>
        <td>Municipality</td>
        <td>Region</td>
        <td>Country</td>
    </tr>
    </thead>
    {% for place in customs %}
    <tr>
        <td id="p{{ place.id }}_identifier"><a href="" class="custom_click" id="p{{place.id}}">{{place.identifier}}</a></td>
        <td id="p{{ place.id }}_name">{{place.name}}</td>
        {% if place.location.y and place.location.x %}
        <td id="p{{ place.id }}_coordinates">
            <a href="http://maps.google.com/?q={{place.location.y}},{{place.location.x}}" target="_blank">{{place.location.y}}, {{place.location.x}}</a>
            {# "http://runwayfinder.com/?x={{place.location.x}}&y={{place.location.y}}&z=11" #}
        </td>
        {% else %}
        <td>None</td>
        {% endif %}
        <td id="p{{ place.id }}_type">{{place.get_loc_type_display}}</td>
        <td id="p{{ place.id }}_municipality">{{place.municipality}}</td>
        <td>{{place.region.name}}</td>
        <td id="p{{ place.id }}_country">{{place.country.name}}</td>
    </tr>
    {% empty %}
    
    <tr>
        <td colspan="7">Nothing to show here, sorry</td>
    </tr>
    
    {% endfor %}
</table>
<br><br>
<div class="instructions">
Above is a list of custom locations that you have
defined. A custom location is a place you have flown to or flown over that
does not have an official FAA/ICAO/IATA identifier. If you are trying to log a
flight to an airport which is not in the FlightLogg.in airport database,
a better solution is to go to <a href="http://ourairports.com">OurAirports.com</a>
and create a new airport profile. The data will eventually make it's way into
FlightLogg.in's database from there.
<br><br>
To use a custom location in a flight, just use the identifier you have defined
above. To force the use of a custom location, prefix the identifier with a "!".
For instance, a flight from "DEN - !DEN - DEN" would be from Denver, to
a custom identifier you have defined as "DEN", then back to Denver.
<br><br>
To use a custom location as a flyover point, prefix it with a "@". So a flight
from Denver, then flying over a custom point called "CUS", then landing back at
Denver would be "DEN - !@CUS - DEN". It is important to log fly-over points
accurately to differentiate between flights that quality for Point to Point XC.
</div>

<div id="popup" title="New Location">
	<table id="dragbar">
		<tr>
			<td><span id="titlebar">New Location</span></td>
			<td><span id="close_x" title="Close this popup">[X]</span></td>
		</tr>
	</table>
	
	<form id="new_plane_form" action="{% url locations display_user.username %}" method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<input type="hidden" name="id" id="id_id" value="" />
					</td>
				</tr>
				<tr>
					<td>{{ form.identifier.label_tag }}</td>
					<td>{{ form.identifier }}<br><span class="help_text">{{form.identifier.help_text}}</span></td>
				</tr>
				<tr>
					<td>{{ form.name.label_tag }}</td>
					<td>{{ form.name }}<br><span class="help_text">{{form.name.help_text}}</span></td>
				</tr>
			
				<tr>
					<td>{{ form.coordinates.label_tag }}<br>&nbsp;</td>
					<td>{{ form.coordinates }}<br><span class="help_text">{{form.coordinates.help_text}}</span></td>
				</tr>

				<tr>
					<td>{{ form.municipality.label_tag }}</td>
					<td>{{ form.municipality }}<br><span class="help_text">{{form.municipality.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.loc_type.label_tag }}</td>
					<td>{{ form.loc_type }}<br><span class="help_text">{{form.loc_type.help_text}}</span></td>
				</tr>
			</tbody>
		</table>
		
    	<div id="new_buttons">
			<input type="submit" name="submit" value="Create New Location" />
		</div>
        {% if not shared %}
		<div id="edit_buttons">
			<input type="submit" name="submit" value="Submit Changes" />
			<input type="submit" name="submit" value="Delete Location" />
		</div>
        {% endif %}
	</form>
</div>


{% endblock %}
