{% extends "base.html" %}
{% block logbook-sel %}nav_selected{% endblock%}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/popup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/flight_popup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/logbook.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/sprintf.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        page_totals({{agg_columns|safe}})  // pass in the names of each column that needs a page total
        
        //$("#submit")
        
    });
    
    date_button = "{{MEDIA_URL}}/images/calendar.gif"
    auto_button = {{ auto_button.as_jslist|safe|default:"[]" }}
    ERROR = {{ ERROR|safe|default:"false" }}
</script>
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/logbook.css">
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/popup.css">
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/flight_popup.css">
<link rel="alternate" title="{{display_user.username}}'s flights feed" href="/feeds/flights/{{display_user.username}}" type="application/rss+xml">

{% endblock %}

{% block title %}Flights{% endblock %}

{% block canvas %}
    
    {% if not shared %}
	<input id="new_flight_button" type="button" value="New Flight" />
	{% endif %}
	
	{% include "pagination_table.html" %}
		
	<table id="logbook_table" summary="logbook table">
		<thead>
			<tr>
                    {{ header_row|safe }}
			</tr>
		</thead>
		
		<tfoot>
			<tr>
				<td colspan="3" id="page_total_title">Page Totals:
				</td>
    
                   {% for column in agg_columns %}
                        <td id="{{ column }}_pt" class="{{column}} pt"></td>
                    {% endfor %}

				<td colspan="6">
				</td>
			</tr>
			<tr>
				<td colspan="3" id="overall_total_title">Overall Totals:
				</td>

                    {% for column in overall_totals %}
                        <td>{{column}}</td>
                    {% endfor %}
                    
				<td colspan="6">
				    {% if flights %}
					<a href="{% url mass-edit display_user.username page_of_flights.number %}">Mass Edit</a>
					&nbsp; &nbsp;
					{% endif %}
					<a href="" id="toggle_columns">Show All Columns</a>
				</td>
			</tr>
		</tfoot>
		
		<tbody>

		{% for row in logbook %}
	    <tr class="{% cycle 'odd' 'even' %}" id="tr{{ row.pk }}">

            <td class="date_col" title="Date (click to edit)">
        	    <span style="display: none" class="unformatted_date">{{ row.date }}</span>
        	    <span style="display: none" class="unformatted_plane">{{ row.plane }}</span>
                <a href="" id="f{{row.pk}}">{{ row.date|date:date_format }}</a>                        {# date #}
            </td>

            {% for item in row %}
            <td title="{{item.title}}" class="{{item.system}}_col">{{item.extra}}{{item.disp}}</td>    {# all other columns #}
            {% endfor %}
            
            <td class="remarks_col" title="Remarks">                                                  {# remarks #}
                <span class="flying_event">{{row.events}}</span>
                <span class="remarks">{{ row.remarks }}</span>
            </td>
		</tr>
		{% empty %}
	
		<tr>
			<td colspan="50" class="empty_logbook">No flights to display</td>
		</tr>
			
		{% endfor %}
		</tbody>
	</table>
	
	{% include "pagination_table.html" %}
	
	<form method="get" action="{% url logbook display_user %}">
	<table id="filter_box">
	    <tr>
	        <td>
	            <table>
	                <tr><td>
	                <input type="hidden" name="c" value="t">
	                {{ ff.start_date.label_tag }}</td><td>{{ ff.start_date }}
	                </td></r>
	                
	                <tr><td>
	                {{ ff.end_date.label_tag }}</td><td>{{ ff.end_date }}
	                </td></tr>
	                
	                <tr><td colspan="2">
	                Last {{ ff.last_flights }} Flights
	                </td></tr>
	            </table>
	        </td>
	        
	        <td>
	            {{ ff.render_table }}
	        </td>
	        
	        <td>
	            By Plane Tags<br>
	            {{ ff.plane__tags__icontains }}
	            
	            <br><br>
	            
	            By Plane Type<br>
                {{ ff.plane__type }}
	            
	            <br><br>
	            
	            By Tailnumber<br>
	            {{ ff.plane__tailnumber }}
	            
	            <br><br>
	            
	            By Category/Class<br>
	            {{ ff.plane__cat_class }}
	            
	        </td>
	    </tr>
	    <tr>
	        <td colspan="3"><input type="submit"></td>
	    </tr>
	    
	</table>
	
	</form>
{% include "new_flight.html" %}
{{ff.errors}}
{% endblock %}

