{% extends "base.html" %}
{% block logbook-sel %}nav_selected{% endblock%}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/popup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/new_entry_popup.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/logbook.js"></script>
{% endblock %}
<style>
{% block css %}
    #canvas                                      {width: 98%; max-width: none}
    .flying_event                                {color: darkred; font-weight: bold}

    span.unformatted_date,
    span.unformatted_route                       {display: none}

    #logbook_table                               {width:100%; border: 1px solid black; background: #cce4eb; font-size: x-small}
    #logbook_table td                            {border: 1px solid darkgray; white-space: nowrap;}
    #logbook_table td:last-child:not([colspan])  {white-space: normal; text-align: left}

    #logbook_table thead td,
    #logbook_table tfoot td:not([colspan])       {background: #E0FFFF; border: 1px solid darkgray}

    #logbook_table tfoot td[colspan]             {border: none; text-align:right}

    #logbook_table tbody tr:nth-child(even) td   {background: #e2eeee}
    #logbook_table tbody tr:nth-child(odd) td    {background: #FFFFFF}

    td.empty_logbook                             {font-weight: bold; font-size: large; padding: 10px}

    #new_flight_button                            {margin: 10px }
    
    span.found_airport                           {color: MediumSlateBlue; text-decoration: underline}
    span.found_navaid                            {color: SeaGreen;        text-decoration: underline}
                                                  
    span.not_found                               {color: gray}

    /**********************************************************************************************/

    #popup                                      {position: absolute;
                                                 top: 500px;
                                                 left: 50px;
                                                 display: none;
                                                 width: 480px;
                                                 background: white;
                                                 font-size: small !important;
                                                 text-align:center;
                                                 border: 2px solid black}

    #dragbar                                    {background: lightblue; width:100%; text-align: right; margin-bottom: .5em; border-bottom: 1px solid black}
    #dragbar td:first-child                     {width:100%; text-align:center; font-weight: bold; font-size: larger}
    #dragbar td:last-child                      {text-align:right}

    #close_x                                    {cursor: pointer; font-weight: bold}
					 
    #new_entry_popup td                         {padding: 0}

    #flying_div                                 {padding: 5px}
    #table_holder                               {overflow: hidden; width:100%; border: 0px solid green}

    #flight_left_table                          {width: 53%; border: 0px solid black; float: left; margin-right: -10px}

    #flight_left_table input[type=text],
    textarea, select                            {width: 145px}

    #flight_left_table textarea                 {height: 5.5em}
    #flight_left_table tr td:first-child        {text-align: right; padding-right: 5px}
    #flight_left_table tr td:last-child	        {text-align: left}

    #flight_right_table                         {width: 47%; border: 0px solid black; float: right}
    #flight_right_table input[type=text]		{width: 2.5em}
    #flight_right_table input[type=button]		{margin-left: 5px}
    #flight_right_table tr td:last-child		{text-align: left; padding-left: 5px}
    #flight_right_table tr td:first-child		{text-align: right}

    #landings_table                             {width: 100%; margin-top: 5px; margin-bottom: 5px}
    #landings_table input[type=text]            {width: 2em}

    #flight_events_table                        {width: 99%;
                                                 border:1px solid black;
                                                 margin-left: auto;
                                                 margin-right: auto;
                                                 margin-bottom: 5px;
                                                 background: lightblue}

    #flight_events_table td                     {text-align: left;}
    
    ul.errorlist                                {color: red; margin: 0px; margin-right: 5px; padding: 0px; list-style-type: none; text-align: center; border: 1px solid red}

    #non_events_table                           {width: 100%; border:0px solid black; margin: 0em; background: lightblue}
    #non_events_table td                        {text-align: left; width: 33%;}

    #non_flying_div                             {text-align: center}
    #non_flying_div table:first-child, 
    #non_flying_div textarea                    {width: 85%; height: 5.5em;}
    #non_flying_div table:first-child td:first-child  {width: 30%; text-align: right; padding-right: 5px}
    #non_flying_div table:first-child td:last-child   {text-align: left}
    #non_flying_div input[type=text]            {width: 120px}


    #flight_buttons, #non_buttons               {width:100%; float: left; margin-bottom: 10px}


    #flight_left_table tr:first-child           {display:none}

{% endblock %}
</style>
{% block title %}{{ title }}{% endblock %}

{% block canvas %}

	<input id="new_flight_button" type="button" value="New Flight" />
	
	{% include "pagination_table.html" %}
		
	<table id="logbook_table" summary="logbook table">
		<thead>
			<tr>
                    {{ columns.header_row|safe }}
			</tr>
		</thead>
		
		<tfoot>
			<tr>
				<td colspan="3" id="page_total_title">Page Totals:</td>
    
                   {% for column in totals_columns %}
                        <td class="{{column}} pt"></td>
                    {% endfor %}

				<td colspan="6"></td>
			</tr>
			<tr>
				<td colspan="3" id="overall_total_title">Overall Totals:</td>

                    {% for column in overall_totals %}
                        <td>{{column}}</td>
                    {% endfor %}
                    
				<td colspan="6">
				    {% if flights %}
					<a href="{% url mass-edit page_of_flights.number %}">Mass Edit</a>
					&nbsp; &nbsp;
					{% endif %}
					<a href="" id="toggle_columns">Show All Columns</a>
				</td>
			</tr>
		</tfoot>
		
		<tbody>

		{% for row in logbook %}
	    <tr class="{% cycle 'odd' 'even' %}" id="tr{{ row.pk }}">

            <td class="date_col" title="Date (click to edit)">
        	    <span class="unformatted_date">{{ row.date }}</span>
                <a href="" id="f{{row.pk}}">{{ row.date|date:date_format }}</a>                        {# date #}
            </td>

            <td class="plane_col" title="Plane">{{ row.plane }}</td>                                   {# plane #}

            <td class="route_col" title="Route">                                                       {# route #}
                <span class="unformatted_route">{{row.raw_route}}</span>{{ row.route|safe }}
            </td>

            {% for item in row %}
            <td title="{{item.title}}" class="{{item.system}}_col">{{item.extra}}{{item.disp}}</td>    {# all other columns #}
            {% endfor %}
            
             <td class="remarks_col" title="Remarks">                                                  {# remarks #}
                <span class="flying_event">{{row.events}}</span>
                <span class="remarks">{{ row.remarks }}</span>
             </td>
		</tr>
		{% empty %}
	
		<tr>
			<td colspan="21" class="empty_logbook">No flights to display</td>
		</tr>
			
		{% endfor %}
		</tbody>
	</table>
	
	{% include "pagination_table.html" %}
{% include "new_flight.html" %}
{% endblock %}

