{% extends "base.html" %}
{% block maps-sel %}nav_selected{% endblock%}

{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/{{ title|lower }}.js"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block canvas %}

All Routes:
<a href="{% url kml-route display_user "all" %}">kml</a>

<br>

<span style="color:#D20014">Red: Single-Engine</span>, <span style="color:#0078FF">Blue: Multi-Engine</span>
<a href="{% url kml-route display_user "cat_class" %}">kml</a>

<br>

<span style="color:#00F014">Green: Instrument</span>,
<span style="color:#D20014">Red: PIC/Dual Given/Solo</span>,
<span style="color:#780078">Purple: SIC</span>,
<span style="color:#0078FF">Blue: Dual Received</span>
<a href="{% url kml-route display_user "flight_time" %}">kml</a>

{% endblock %}
