{% extends "base.html" %}
{% block maps-sel %}nav_selected{% endblock%}

{% block javascript %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/maps.css">
{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block canvas %}
<h2>Routes</h2>
<table class="maps_table">
    <tr>
        <td>All Routes:</td>
        <td>{% url kml-route display_user "all" as all_routes_url %}
            <a href="{{ all_routes_url }}">Earth</a>&nbsp;&nbsp;
            <a href="http://maps.google.com?q={{ SITE_URL }}{{ all_routes_url|urlencode }}">Maps</a>
        </td>
        
    </tr>
    <tr>
        <td>
            <span class="red">Red: Single-Engine</span><br>
            <span class="blue">Blue: Multi-Engine</span>
        </td>
        <td>{% url kml-route display_user "cat_class" as cat_class_url %}
            <a href="{{cat_class_url }}">Earth</a>&nbsp;&nbsp;
            <a href="http://maps.google.com?q={{ SITE_URL }}{{cat_class_url|urlencode}}">Maps</a>
        </td>
    </tr>
    
    <tr>
        <td>
            <span class="green">Green: Instrument</span><br>
            <span class="red">Red: PIC/Dual Given/Solo</span><br>
            <span class="purple">Purple: SIC</span><br>
            <span class="blue">Blue: Dual Received</span>
        </td>
        
        <td>{% url kml-route display_user "flight_time" as flight_time_url %}
            <a href="{{ flight_time_url }}">Earth</a>&nbsp;&nbsp;
            <a href="http://maps.google.com?q={{ SITE_URL }}{{ flight_time_url|urlencode }}" target="_blank">Maps</a>
        </td>
    </tr>
</table>


<h2>Airports</h2>

<table class="maps_table">
    <tr>
        <td>All Airports:</td>
        <td>{% url kml-airport display_user "all" as all_points_url %}
            <a href="{{ all_points_url }}">Earth</a>&nbsp;&nbsp;
            <a href="http://maps.google.com?q={{ SITE_URL }}{{ all_points_url|urlencode }}" target="_blank">Maps</a>
        </td>
        
    </tr>
</table>
{% endblock %}
