{% extends "base.html" %}
{% block mass-sel %}nav_selected{% endblock%}

{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/{{ title|lower }}.js"></script>
	<script>
	    $(document).ready(function() {
	        $(".vDateField").datepicker({							// add the date pickers
			        dateFormat: "yy-mm-dd",
			        yearRange: "-10:+1", 
			        showOn: "button", 
			        buttonImage: "{{ MEDIA_URL }}/images/calendar.gif", 
			        buttonImageOnly: true 
	        }).addClass("embed");
	    });
	</script>
{% endblock %}

{% block css %}
    #canvas                                   {max-width: 100%}
    
    table.mass_table                          {width: 100%; border-collapse: collapse}
    table.mass_table input                    {font-size: small}
    
    tr.header_row td                          {font-size: x-small; background: white; padding: 0}
    table.mass_table tr:nth-child(even)       {background: #DDDDDD}
    
    input.route_line                          {width: 8em}
    input.person_line                         {width: 8em}
    input.vDateField                          {width: 8em;}
    input.float_line                          {width: 2.4em; margin: 1px}
    
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block canvas %}
{% include "pagination_table.html" %}

{% if edit %}
<form action="{% url mass-edit page %}" method="post">
{% else %}
<form action="{% url mass-entry %}" method="post">
{% endif %}
<div>{{ formset.management_form }}{{formset.errors}}</div>
<table class="mass_table">
<tr class="header_row">
    {% if edit %}
    <td>Delete</td>
    {% endif %}
    <td>Date</td><td>Plane</td><td>Route</td><td>Total</td><td>PIC</td><td>SIC</td>
    <td>Solo</td><td>Night</td><td>Dual R.</td><td>Dual G.</td><td>XC</td><td>Actual</td>
    <td>Hood</td><td>Night L.</td><td>Day L.</td><td>App.</td><td>Person</td><td>Remarks</td>
</tr>
{% for form in formset.forms %}
<tr>
    {% if edit %}
    <td>{{form.DELETE}}{{form.id}}</td>
    {% endif %}
    
    <td>{{form.date}}</td>
    <td>{{form.plane}}</td>
    <td>{{form.route}}</td>
    <td>{{form.total}}</td>
    <td>{{form.pic}}</td>
    <td>{{form.sic}}</td>
    <td>{{form.solo}}</td>
    <td>{{form.night}}</td>
    <td>{{form.dual_r}}</td>
    <td>{{form.dual_g}}</td>
    <td>{{form.xc}}</td>
    <td>{{form.act_inst}}</td>
    <td>{{form.sim_inst}}</td>
    <td>{{form.night_l}}</td>
    <td>{{form.day_l}}</td>
    <td>{{form.app}}</td>
    <td>{{form.person}}</td>
    <td>{{form.remarks}}</td>
</tr>
{% if form.errors %}
<tr>
    <td>{{ form.errors }}</td>
</td>
{% endif%}
{% endfor %}
<tr class="header_row">
    {% if edit %}
    <td>Delete</td>
    {% endif %}
    <td>Date</td><td>Plane</td><td>Route</td><td>Total</td><td>PIC</td><td>SIC</td>
    <td>Solo</td><td>Night</td><td>Dual R.</td><td>Dual G.</td><td>XC</td><td>Actual</td>
    <td>Hood</td><td>Night L.</td><td>Day L.</td><td>App.</td><td>Person</td><td>Remarks</td>
</tr>
</table>
<input type="submit" name="submit" value="Submit" />
</form>
{% include "pagination_table.html" %}
{% endblock %}
