{% extends "base.html" %}

{% block description %}{{ request.display_user.username }}'s flight time milestones{% endblock%}

{% block title %}Milestones{% endblock %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/milestones.css">
<script type="text/javascript">NAVBAR_HIGHLIGHT = "milestones-sel";</script>
{% endblock %}

{% block canvas %}
{% for curr in currencies %}
<h2>{{ curr.top_title }}</h1>
<table class="milestone_table">
    {% for item in curr.result %}
        <tr>
            <td>
                {{ item.icon|safe }}
                {% if item.reg %}
                    {{ item.reg }}
                {% endif %}
            </td>
            
            <td>
                {{ item.title }}
            </td>
            {% if not item.bool %}
            
                <td>
                    {{ item.mine }} / {{ item.goal }}
                </td>
                
                <td>
                    {% url smallbar item.mine item.goal as url %}
                    <img src="{{ url }}">
                </td>
                
            {% else %}
            
                <td colspan="2">
                    {{ item.mine|join:', ' }}
                </td>
            
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endfor %}

<br>
<div class="instructions">
1: Includes up to 25 hours for each night landing after 20 total. <em>§ 61.159(5)(b)</em><br>
2: Includes up to 50 hours of instrument time in a Simulator/FTD/PCATD <em>§ 61.159(3)(i)</em><br>
3: Total time for any flight that depicts a landing at more than one unique airport, regardless of length. (may not be logged as 'XC')<br>
4: Total time for any flight that depicts a route of more than 50 NM (may not be logged as 'XC')
</div>

{% endblock %}
