{% extends "base.html" %}
{% block milestones-sel %}nav_selected{% endblock %}

{% block description %}{{ display_user.username }}'s flight time milestones{% endblock%}

{% block title %}Milestones{% endblock %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/milestones.css">
{% endblock %}

{% block canvas %}

<h2>Part 135 IFR Minimums {{ part135.overall|safe }}</h2>
<table class="milestone_table">
    <tr>
        <td>{{ part135.icon_total|safe }}</td>
        <td>Total Time</td>
        <td>{{ part135.total }} / {{ part135.goal_total }}</td>
        <td><img src="{% url smallbar part135.total part135.goal_total %}"></td>
    </tr>
    
    <tr>
        <td>{{ part135.icon_night|safe }}</td>
        <td>Night</td>
        <td>{{ part135.night }} / {{ part135.goal_night }}</td>
        <td><img src="{% url smallbar part135.night part135.goal_night %}"></td>
    </tr>
    
    <tr>
        <td>{{ part135.icon_p2p|safe }}</td>
        <td>Point to Point<sup>3</sup></td>
        <td>{{ part135.p2p }} / {{ part135.goal_p2p }}</td>
        <td><img src="{% url smallbar part135.p2p part135.goal_p2p %}"></td>
    </tr>

    <tr>
        <td>{{ part135.icon_inst|safe }}</td>
        <td>Instrument<sup>2</sup></td>
        <td>{{ part135.inst }} / {{ part135.goal_inst }}</td>
        <td><img src="{% url smallbar part135.inst part135.goal_inst %}"></td>
    </tr>
</table>

<h2>Part 135 VFR Minimums {{ part135v.overall|safe }}</h2>
<table class="milestone_table">
    <tr>
        <td>{{ part135v.icon_total|safe }}</td>
        <td>Total Time</td>
        <td>{{ part135v.total }} / {{ part135v.goal_total }}</td>
        <td><img src="{% url smallbar part135v.total part135v.goal_total %}"></td>
    </tr>
    
    <tr>
        <td>{{ part135v.icon_night_p2p|safe }}</td>
        <td>Night</td>
        <td>{{ part135v.night_p2p }} / {{ part135v.goal_night_p2p }}</td>
        <td><img src="{% url smallbar part135v.night_p2p part135v.goal_night_p2p %}"></td>
    </tr>
    
    <tr>
        <td>{{ part135v.icon_p2p|safe }}</td>
        <td>Point to Point</td>
        <td>{{ part135v.p2p }} / {{ part135v.goal_p2p }}</td>
        <td><img src="{% url smallbar part135v.p2p part135v.goal_p2p %}"></td>
    </tr>
</table>

<h2>ATP Airplane Minimums {{ atp.overall|safe }}</h2>
<table class="milestone_table">
    <tr>
        <td>{{ atp.icon_total|safe }}</td>
        <td>Total Time</td>
        <td>{{ atp.total }} / {{ atp.goal_total }}</td>
        <td><img src="{% url smallbar atp.total atp.goal_total %}"></td>
    </tr>
    
    <tr>
        <td>{{ atp.icon_night|safe }}</td>
        <td>Night<sup>1</sup></td>
        <td>{{ atp.night }} / {{ atp.goal_night }}</td>
        <td><img src="{% url smallbar atp.night atp.goal_night %}"></td>
    </tr>
    
    <tr>
        <td>{{ atp.icon_inst|safe }}</td>
        <td>Instrument<sup>2</sup></td>
        <td>{{ atp.inst }} / {{ atp.goal_inst }}</td>
        <td><img src="{% url smallbar atp.inst atp.goal_inst %}"></td>
    </tr>
    
    <tr>
        <td>{{ atp.icon_atp_xc|safe }}</td>
        <td>ATP XC<sup>4</sup></td>
        <td>{{ atp.atp_xc }} / {{ atp.goal_atp_xc }}</td>
        <td><img src="{% url smallbar atp.atp_xc atp.goal_atp_xc %}"></td>
    </tr>

    <tr>
        <td>{{ atp.icon_pic|safe }}</td>
        <td>PIC</td>
        <td>{{ atp.pic }} / {{ atp.goal_pic }}</td>
        <td><img src="{% url smallbar atp.pic atp.goal_pic %}"></td>
    </tr>

    <tr>
        <td>{{ atp.icon_pic_night|safe }}</td>
        <td>Night PIC</td>
        <td>{{ atp.pic_night }} / {{ atp.goal_pic_night }}</td>
        <td><img src="{% url smallbar atp.pic_night atp.goal_pic_night %}"></td>
    </tr>

    <tr>
        <td>{{ atp.icon_pic_xc|safe }}</td>
        <td>PIC XC</td>
        <td>{{ atp.pic_xc }} / {{ atp.goal_pic_xc }}</td>
        <td><img src="{% url smallbar atp.pic_xc atp.goal_pic_xc %}"></td>
    </tr>

</table>
<br>
<div class="instructions">
1: Includes up to 25 hours for each night landing after 20 total. <em>§ 61.159(5)(b)</em><br>
2: Includes up to 50 hours of instrument time in a Simulator/FTD/PCATD <em>§ 61.159(3)(i)</em><br>
3: Total time for any flight that depicts a landing at more than one unique airport, regardless of length. (may not be logged as 'XC')<br>
4: Total time for any flight that depicts a route of more than 50 NM (may not be logged as 'XC')
</div>

{% endblock %}
