{% extends "base.html" %}
{% load profile_lists %}
{% load humanize %}

{% block description %}{{ model|upper }} model profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Model Profile - {{ model }}{% endblock %}


{% block canvas %}

<h1>{{ model }}</h1>
{{ manufacturers|join:", " }}

{% ifnotequal t_flights 0 %}
<br>
<a href="{% url routes_for_type-kml model as url %}{{ url }}">View all flights in this type with Google Earth</a>
{% endifnotequal %}


<table class="main">
    <tr>
        <th>Users who have flown {{ model }}</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total hours logged in {{ model }}</th>
        <td><big><strong>{{ t_hours|floatformat:1|intcomma }}</strong></big></td>
    </tr>
    <tr>
        <th>Total number of flights logged in {{ model }}</th>
        <td><big><strong>{{ t_flights|intcomma }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that are a {{ model }}</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
</table>
<br>
<img src="{% url histogram-model model %}" alt="Speed Histogram">

{% endblock %}
