{% if user.is_authenticated %}

<table style="float:left" class="nav_bar" summary="Top navigation bar">
	<tbody>
		<tr align="center">
		
			{% ifequal title "Home" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Home</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../home">Home</a></td>{% endifequal %}
			<td class="nav_bar_logged" ><a href="http://forums.FlightLogg.in">Forums</a></td>
			{% ifequal title "Logbook" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Logbook</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../logbook">Logbook</a></td>{% endifequal %}
			{% ifequal title "Preferences" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Preferences</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../preferences">Preferences</a></td>{% endifequal %}
			{% ifequal title "Stats" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Stats</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../stats">Stats</a></td>{% endifequal %}
			{% ifequal title "Records" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Records</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../records">Records</a></td>{% endifequal %}
			{% ifequal title "Planes" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Planes</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../planes">Planes</a></td>{% endifequal %}
			{% ifequal title "Mass Entry" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Mass Entry</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../mass_entry">Mass Entry</a></td>{% endifequal %}
			{% ifequal title "Import/Export" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Import/Export</a></td>
			{% else %}<td class="nav_bar_logged" ><a href="../import">Import/Export</a></td>{% endifequal %}
			<td class="nav_bar_logged"><a href="../logout">Log Out</a></td>
		
		</tr>
	</tbody>
</table>

{% else %}

<table style="float:left" class="nav_bar" summary="Top navigation bar">
	<tbody>
		<tr align="center">
		
		{% ifequal title "Home" %}<td class="nav_bar_logged top_nav_selected" ><a href=".">Home</a></td>
		{% else %}<td class="nav_bar_logged" ><a href="../home">Home</a></td>
		{% endifequal %}
			
			<td class="nav_bar_logged" ><a href="http://forums.FlightLogg.in">Forums</a></td>
			
			<td class="nav_bar_logged"><a href="">Log Out</a></td>
		</tr>
	</tbody>
</table>

{% endif %}
