<div id="new_entry_popup" title="New Entry">
	<table id="dragbar">
		<tr>
			<td><span id="titlebar">New Entry</span></td>
			<td><span id="close_x" title="Close this popup">[X]</span></td>
		</tr>
	</table>
	
	<form id="new_entry_form" action="." method="post">
	
		<div id="flying_div">
			<div id="table_holder">
			<table id="flight_left_table">
				<tbody>
					<tr>
						<td>		
							<input type="hidden" name="page" value="{{ flights.number }}" />
							<input type="hidden" name="id" id="id_id" value="" />
							<input type="hidden" name="non-id" id="id_non-id" value="" />
						</td>
					</tr>
		
			
					<tr class="date_field">
						<td>{{ flightform.date.label_tag }}</td>
						<td>{{ flightform.date }}</td>
					</tr>
			
			
					<tr class="route_field">
						<td>{{ flightform.route.label_tag }}</td>
						<td>{{ flightform.route }}</td>
					</tr>
				
					<tr class="plane_field">
						<td>{{ flightform.plane.label_tag }}</td>
						<td>{% include "plane_dropdown.html" %}</td>
					</tr>
					
					<tr class="person_field">
						<td>{{ flightform.instructor.label_tag }}</td>
						<td>{{ flightform.instructor }}</td>
					</tr>
							
					<tr class="remarks_field">
						<td>{{ flightform.remarks.label_tag }}</td>
						<td>{{ flightform.remarks }}</td>
					</tr>
				</tbody>
			</table>
		
			<table id="flight_right_table">
				<tbody>
					<tr class="total_field">
						<td>{{ flightform.total }}<input type="button" title="Shortcut Button" value="&nbsp;" id="auto_button" /></td>
						<td>{{ flightform.total.label_tag }}</td>
					</tr>
				
					<tr class="pic_field">
						<td>{{ flightform.pic }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_pic" /></td>
						<td>{{ flightform.pic.label_tag }}</td>
					</tr>
				
					<tr class="sic_field">
						<td>{{ flightform.sic }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_sic" /></td>
						<td>{{ flightform.sic.label_tag }}</td>
					</tr>
				
					<tr class="solo_field">
						<td>{{ flightform.solo }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_solo" /></td>
						<td>{{ flightform.solo.label_tag }}</td>
					</tr>
				
					<tr class="dual_r_field">
						<td>{{ flightform.dual_r }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_dual_r" /></td>
						<td>{{ flightform.dual_r.label_tag }}</td>
					</tr>
				
					<tr class="dual_g_field">
						<td>{{ flightform.dual_g }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_dual_g" /></td>
						<td>{{ flightform.dual_g.label_tag }}</td>
					</tr>
				
					<tr class="sim_inst_field">
						<td>{{ flightform.sim_inst }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_sim_inst" /></td>
						<td>{{ flightform.sim_inst.label_tag }}</td>
					</tr>
				
					<tr class="act_inst_field">
						<td>{{ flightform.act_inst }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_act_inst" /></td>
						<td>{{ flightform.act_inst.label_tag }}</td>
					</tr>
				
					<tr class="xc_field">
						<td>{{ flightform.xc }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_xc" /></td>
						<td>{{ flightform.xc.label_tag }}</td>
					</tr>
				
					<tr class="night_field">
						<td>{{ flightform.night }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_night" /></td>
						<td>{{ flightform.night.label_tag }}</td>
					</tr>
				</tbody>
			</table>
			</div>

			<table id="landings_table">
				<tbody>					
					<tr>
						<td class="day_l_field">{{ flightform.day_l.label_tag }}	{{ flightform.day_l }}</td>
						<td class="night_l_field">{{ flightform.night_l.label_tag }}	{{ flightform.night_l }}</td>
						<td class="app_field">{{ flightform.app.label_tag }}	{{ flightform.app }}</td>
					</tr>
				</tbody>
			</table>
			
			<table id="flight_events_table" summary="Non-flying event selection">
				<tbody>
					<tr>
						<td>{{ flightform.pilot_checkride }}</td>
						<td>{{ flightform.pilot_checkride.label_tag }}</td>
						
						<td>{{ flightform.flight_review }}</td>
						<td>{{ flightform.flight_review.label_tag }}</td>
						
						<td>{{ flightform.holding }}</td>
						<td>{{ flightform.holding.label_tag }}</td>
					</tr>
					<tr>
						<td>{{ flightform.cfi_checkride }}</td>
						<td>{{ flightform.cfi_checkride.label_tag }}</td>
						
						<td>{{ flightform.ipc }}</td>
						<td>{{ flightform.ipc.label_tag }}</td>
						
						<td>{{ flightform.tracking }}</td>
						<td>{{ flightform.tracking.label_tag }}</td>
					</tr>
				</tbody>
			</table>
		
			<div id="flight_buttons">
			
				<div id="new_flight_buttons">
					<input type="submit" name="submit" value="Submit New Flight" id="submit_new_flight"/>
			
					<br />
					<br />
			
					<a href="" id="toggle_entry_fields">Show All Entry Fields</a>
			
					&nbsp; &nbsp; &nbsp;
			
					<a href="" id="switch_to_non">New Non-Flying Event</a>

				</div>
	
				<div id="edit_flight_buttons">
					<input type="submit" name="submit" value="Edit Flight" id="submit_edit_flight" />
					<input type="submit" name="submit" value="Delete Flight" id="submit_delete_flight" />
				</div>
	
			</div>
		</div>
	
<!---############################################################################################################################################# !-->
	
		<div id="non_flying_div" style="display:none">	
			<table summary="non-flying event selection">
				<tbody>
					<tr>
						<td>{{ nonform.date.label_tag }}</td>
						<td>{{ nonform.date }}</td>
					</tr>
					<tr>	
						<td>{{ nonform.remarks.label_tag }}</td>
						<td>{{ nonform.remarks }}</td>
					</tr>
				</tbody>
			</table>
		
			<table id="non_events_table" summary="non-flying event selection">
				<tbody>
					<tr>

						<td><input type="radio" name="non-non_flying" id="radio1" value="1" /> 1st Class Medical</td>
						<td><input type="radio" name="non-non_flying" id="radio2" value="2" /> 2nd Class Medical</td>
						<td><input type="radio" name="non-non_flying" id="radio3" value="3" /> 3rd Class Medical</td>
					</tr>

					<tr>
						<td><input type="radio" name="non-non_flying" id="radio4" value="4" /> CFI Renewal</td>
						<td><input type="radio" name="non-non_flying" id="radio5" value="5" /> Student Signoff</td>
						<td></td>
					</tr>
				</tbody>
			</table>			
	
			<div id="non_buttons">
				<div id="new_non_buttons">
					<input type="submit" name="submit" value="Submit New Entry" id="submit_new_non" />
					<br /><br />
					<a href="" id="switch_to_flying">New Flying Event</a>
				</div>		

				<div id="edit_non_buttons">
					<input type="submit" name="submit" value="Edit Entry" id="submit_edit_non" />
					<input type="submit" name="submit" value="Delete Entry" id="submit_delete_non" />				
				</div>
			</div>
		</div>
	</form>
</div>

{{ nonform.errors }}
{{ flightform.errors }}
