<div id="new_entry_popup" title="New Entry">
	<table id="dragbar">
		<tr>
			<td><span id="titlebar">New Entry</span></td>
			<td><span id="close_x" title="Close this popup">[X]</span></td>
		</tr>
	</table>
	
	<form id="new_entry_form" action="{% nonflight_post %}" method="post">
	
		<div id="non_flying_div" style="display:none">	
			<table summary="non-flying event selection">
				<tbody>
					<tr>
						<td>{{ nonform.date.label_tag }}</td>
						<td>{{ nonform.date }}</td>
					</tr>
					<tr>	
						<td>{{ nonform.remarks.label_tag }}</td>
						<td>{{ nonform.remarks }}</td>
					</tr>
				</tbody>
			</table>
		
			<table id="non_events_table" summary="non-flying event selection">
				<tbody>
					<tr>

						<td><input type="radio" name="non-non_flying" id="radio1" value="1" /> 1st Class Medical</td>
						<td><input type="radio" name="non-non_flying" id="radio2" value="2" /> 2nd Class Medical</td>
						<td><input type="radio" name="non-non_flying" id="radio3" value="3" /> 3rd Class Medical</td>
					</tr>

					<tr>
						<td><input type="radio" name="non-non_flying" id="radio4" value="4" /> CFI Renewal</td>
						<td><input type="radio" name="non-non_flying" id="radio5" value="5" /> Student Signoff</td>
						<td></td>
					</tr>
				</tbody>
			</table>			
	
			<div id="non_buttons">
				<div id="new_non_buttons">
					<input type="submit" name="submit" value="Submit New Entry" id="submit_new_non" />
					<br /><br />
					<a href="" id="switch_to_flying">New Flying Event</a>
				</div>		

				<div id="edit_non_buttons">
					<input type="submit" name="submit" value="Edit Entry" id="submit_edit_non" />
					<input type="submit" name="submit" value="Delete Entry" id="submit_delete_non" />				
				</div>
			</div>
		</div>
	</form>
</div>

{{ nonform.errors }}
{{ flightform.errors }}
