<div id="new_entry_popup" title="New Entry">
	<table id="dragbar">
		<tr>
			<td><span id="titlebar">New Entry</span></td>
			<td><span id="close_x" title="Close this popup">[X]</span></td>
		</tr>
	</table>
	
	<form id="new_entry_form" action="." method="post">
	
		<div id="flying_div">
			<div id="table_holder">
			<table id="flight_left_table">
				<tbody>
					<tr>
						<td>		
							<input type="hidden" name="page" value="{{ flights.number }}" />
							<input type="hidden" name="id" id="id_id" value="" />
							<input type="hidden" name="non-id" id="id_non-id" value="" />
						</td>
					</tr>
		
			
					<tr class="date_field">
						<td>{{ form.date.label_tag }}</td>
						<td>{{ form.date }}<br>{{form.date.errors}}</td>
					</tr>
			
			
					<tr class="route_field">
						<td>{{ form.route.label_tag }}</td>
						<td>{{ form.route }}<br>{{form.route.errors}}</td>
					</tr>
				
					<tr class="plane_field">
						<td>{{ form.plane.label_tag }}</td>
						<td>{{ form.plane }}<br>{{form.plane.errors}}</td>
					</tr>
					
					<tr class="person_field">
						<td>{{ form.instructor.label_tag }}</td>
						<td>{{ form.instructor }}<br>{{form.person.errors}}</td>
					</tr>
							
					<tr class="remarks_field">
						<td>{{ form.remarks.label_tag }}</td>
						<td>{{ form.remarks }}<br>{{form.remarks.errors}}</td>
					</tr>
				</tbody>
			</table>
		
			<table id="flight_right_table">
				<tbody>
					<tr class="total_field">
						<td>{{ form.total }}<input type="button" title="Shortcut Button" value="&nbsp;" id="auto_button" /></td>
						<td>{{ form.total.label_tag }}</td>
					</tr>
				
					<tr class="pic_field">
						<td>{{ form.pic }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_pic" /></td>
						<td>{{ form.pic.label_tag }}</td>
					</tr>
				
					<tr class="sic_field">
						<td>{{ form.sic }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_sic" /></td>
						<td>{{ form.sic.label_tag }}</td>
					</tr>
				
					<tr class="solo_field">
						<td>{{ form.solo }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_solo" /></td>
						<td>{{ form.solo.label_tag }}</td>
					</tr>
				
					<tr class="dual_r_field">
						<td>{{ form.dual_r }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_dual_r" /></td>
						<td>{{ form.dual_r.label_tag }}</td>
					</tr>
				
					<tr class="dual_g_field">
						<td>{{ form.dual_g }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_dual_g" /></td>
						<td>{{ form.dual_g.label_tag }}</td>
					</tr>
				
					<tr class="sim_inst_field">
						<td>{{ form.sim_inst }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_sim_inst" /></td>
						<td>{{ form.sim_inst.label_tag }}</td>
					</tr>
				
					<tr class="act_inst_field">
						<td>{{ form.act_inst }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_act_inst" /></td>
						<td>{{ form.act_inst.label_tag }}</td>
					</tr>
				
					<tr class="xc_field">
						<td>{{ form.xc }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_xc" /></td>
						<td>{{ form.xc.label_tag }}</td>
					</tr>
				
					<tr class="night_field">
						<td>{{ form.night }}<input type="button" title="Shortcut Button" value="&nbsp;" id="button_night" /></td>
						<td>{{ form.night.label_tag }}</td>
					</tr>
				</tbody>
			</table>
			</div>

			<table id="landings_table">
				<tbody>					
					<tr>
						<td class="day_l_field">{{ form.day_l.label_tag }}	{{ form.day_l }}</td>
						<td class="night_l_field">{{ form.night_l.label_tag }}	{{ form.night_l }}</td>
						<td class="app_field">{{ form.app.label_tag }}	{{ form.app }}</td>
					</tr>
				</tbody>
			</table>
			
			<table id="flight_events_table" summary="Non-flying event selection">
				<tbody>
					<tr>
						<td>{{ form.pilot_checkride }}</td>
						<td>{{ form.pilot_checkride.label_tag }}</td>
						
						<td>{{ form.flight_review }}</td>
						<td>{{ form.flight_review.label_tag }}</td>
						
						<td>{{ form.holding }}</td>
						<td>{{ form.holding.label_tag }}</td>
					</tr>
					<tr>
						<td>{{ form.cfi_checkride }}</td>
						<td>{{ form.cfi_checkride.label_tag }}</td>
						
						<td>{{ form.ipc }}</td>
						<td>{{ form.ipc.label_tag }}</td>
						
						<td>{{ form.tracking }}</td>
						<td>{{ form.tracking.label_tag }}</td>
					</tr>
				</tbody>
			</table>
		
			<div id="flight_buttons">
			
				<div id="new_flight_buttons">
					<input type="submit" name="submit" value="Submit New Flight" id="submit_new_flight"/>
			
					<br />
					<br />
			
					<a href="" id="toggle_entry_fields">Show All Entry Fields</a>	
			</div>
		</div>
	</form>
</div>
{{form.errors}}
