{% extends "base.html" %}
{% load cache %}

{% block description %}{{ request.display_user.username }}'s electronic pilot logbook application{% endblock%}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/news.css">
    <link rel="alternate" title="FlightLogg.in' News feed" href="/feeds/news" type="application/rss+xml">
{% endblock %}

{% block title %}News{% endblock %}
{% block canvas %}
    {% if not user.is_authenticated %}
    <div id="demo_link">
    Welcome to FlightLogg.in! A online pilot's logbook, similar to Logbook Pro and LogShare.<br>
    See how FlightLogg.in' works first hand, <a href="/demo">click here to log into the demo account!</a>    
    </div>
    {% endif %}
    {% cache 50000 news %}
    
        {% for item in news %}
            <div class="news_box">
                <big>{{ item.title }}</big><br />
                <small>{{ item.date|date:"l, F jS, Y" }}</small>
                <p>
                {{ item.text|safe|linebreaksbr }}
                </p>
            </div>
        {% endfor %}
        
    {% endcache %}
{% endblock %}
