{% extends "base.html" %}
{% block places-sel %}nav_selected{% endblock%}

{% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/popup.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/custom_popup.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        
	        $("a.custom_click").click(function() {
	            prepare_edit_custom(true);
	            fill_in_custom(this.id);
	            fire_popup();
	        });
	        
	        $("#new_custom").click(function() {
	            prepare_new_custom(true);
	            fire_popup();
	        });
	        
	    });
    
	</script>
	
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/popup.css">
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/places.css">
{% endblock %}

{% block title %}Places{% endblock %}

{% block canvas %}

{% if user.is_authenticated and not shared %}
<input type="button" id="new_custom" value="New Place">
{% endif %}

<table id="custom_table">
    <tr>
        <td>Identifier</td><td>Name</td><td>Coordinates</td><td>Type</td><td>Municipality</td><td>Region</td><td>Country</td>
    </tr>
    
    {% for place in customs %}
    <tr>
        <td id="p{{ place.id }}_identifier"><a href="" class="custom_click" id="p{{place.id}}">{{place.identifier}}</a></td>
        <td id="p{{ place.id }}_name">{{place.name}}</td>
        {% if place.location.y and place.location.x %}
        <td id="p{{ place.id }}_coordinates">
            <a href="http://maps.google.com/?q={{place.location.y}},{{place.location.x}}" target="_blank">{{place.location.y}}, {{place.location.x}}</a>
        </td>
        {% else %}
        <td>None</td>
        {% endif %}
        <td id="p{{ place.id }}_type">{{place.get_type_display}}</td>
        <td id="p{{ place.id }}_municipality">{{place.municipality}}</td>
        <td>{{place.region.name}}</td>
        <td id="p{{ place.id }}_country">{{place.country.name}}</td>
    </tr>
    {% empty %}
    
    <tr>
        <td colspan="7">Nothing to show.</td>
    </tr>
    
    {% endfor %}
</table>

<div id="popup" title="New Event">
	<table id="dragbar">
		<tr>
			<td><span id="titlebar">New Place</span></td>
			<td><span id="close_x" title="Close this popup">[X]</span></td>
		</tr>
	</table>
	
	<form id="new_plane_form" action="{% url places user.username %}" method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<input type="hidden" name="id" id="id_id" value="" />
					</td>
				</tr>
				<tr>
					<td>{{ form.identifier.label_tag }}</td>
					<td>{{ form.identifier }}<br><span class="help_text">{{form.identifier.help_text}}</span></td>
				</tr>
				<tr>
					<td>{{ form.name.label_tag }}</td>
					<td>{{ form.name }}<br><span class="help_text">{{form.name.help_text}}</span></td>
				</tr>
			
				<tr>
					<td>{{ form.coordinates.label_tag }}<br>&nbsp;</td>
					<td>{{ form.coordinates }}<br><span class="help_text">{{form.coordinates.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.country.label_tag }}</td>
					<td>{{ form.country }}<br><span class="help_text">{{form.country.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.municipality.label_tag }}</td>
					<td>{{ form.municipality }}<br><span class="help_text">{{form.municipality.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.type.label_tag }}</td>
					<td>{{ form.type }}<br><span class="help_text">{{form.type.help_text}}</span></td>
				</tr>
			</tbody>
		</table>
		
    	<div id="new_buttons">
			<input type="submit" name="submit" value="Create New Place" />
		</div>
        {% if not shared %}
		<div id="edit_buttons">
			<input type="submit" name="submit" value="Submit Changes" />
			<input type="submit" name="submit" value="Delete Place" />
		</div>
        {% endif %}
	</form>
</div>


{% endblock %}
