{% extends "base.html" %}
{% load tagging_tags %}
{% block css %}
{{block.super}}
	input[type="submit"],
	input[type="button"]        {margin-bottom: 10px}
	
	input[type=text],
	select, textarea	        {width: 200px; font-size: small !important}
	
	#tags_window                {background: white; font-size: x-small; border: 0px solid blue; padding: 5px;}
	#tags_window a:hover        {color: lightgreen}

	#p_t                        {width:100%; border-collapse: collapse;}
	#p_t td                     {border: 1px solid #DDDDFF; padding: 2px}
	#p_t thead                  {background: #DDDDFF }
	#p_t tbody:nth_child(even)  {background: blue}
	#p_t tbody:nth_child(odd)   {background: red}
	
	#popup                      {position: absolute; top: 50px; left: 50px; display: none; width: 380px; background: white; font-size: small !important;
                                 text-align:center; overflow: hidden; border: 2px solid black}
	#popup table                {margin-left: auto; margin-right: auto}

	#dragbar                    {background: lightblue; width:100%; text-align: right; margin-bottom: .5em; border-bottom: 1px solid black}
	#dragbar td:first-child     {width:100%; text-align:center; font-weight: bold; font-size: larger}
	#dragbar td:last-child      {text-align:right}

	#close_x                    {cursor: pointer; font-weight: bold}

	#plane_buttons              {width:100%; float: left; margin-bottom: 10px}
	
	textarea                    {height: 50px}
	
	span.help_text              {color: gray; font-size: x-small; font-style: italic}
	
	td.empty_row                {font-weight: bold; font-size: large; padding: 10px}
	
	.tag1       {font-size: xx-small}
	.tag2       {font-size: xx--small}
	.tag3       {font-size: x-small}
	.tag4       {font-size: small}
	.tag5       {font-size: medium}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/plane_popup.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/popup.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#new_plane").click(function(){
				wipe_clean();
				prepare_new_plane(true)
				fire_popup("popup");
			})
			
			$("#p_t a").click(function(event){
				wipe_clean();
				prepare_edit_plane(true);
				fill_in_plane(this.id);
				fire_popup("popup");
			});

			$("#tags_window a").click(function() {
				tag= $(this).text()

				if(tag.search(' ') >= 0)
				    tag = '"' + tag + '"';
				
				val = $("#id_tags").val();
				
				if(val == "")
    				$("#id_tags").val(val + tag);
    		    else
    		        $("#id_tags").val(val + " " + tag);
			});
		});
	</script>	
{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block canvas %}
<div class="central_div">

	<input id="new_plane" type="button" value="New Plane">
    <input id="manage_planes" type="button" value="Manage Planes">

<table id="p_t">
	<thead>
		<tr>
			<td>Tailnumber</td>
			<td>Manufacturer</td>
			<td>Model Name</td>
			<td>Type</td>
			<td>Category/Class</td>
			<td>Tags</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
	{% for plane in planes %}
		<tr>
			<td id="p{{ plane.id }}_tailnumber"><a href="" id="p{{ plane.id }}">{{ plane.tailnumber }}</a></td>
			<td id="p{{ plane.id }}_manufacturer">{{ plane.manufacturer }}</td>
			<td id="p{{ plane.id }}_model">{{ plane.model }}</td>
			<td id="p{{ plane.id }}_type">{{ plane.type }}</td>
			<td id="p{{ plane.id }}_cat_class">{{ plane.get_cat_class_display }}</td>
			<td id="p{{ plane.id }}_tags">{{ plane.get_tags_quote|join:", " }}</td>
			<td id="p{{ plane.id }}_description">{{ plane.description }}</td>
		</tr>		
	{% empty %}
	    <tr>
	        <td class="empty_row" colspan="7">No planes</td>
	    </tr>
	{% endfor %}
	
	
	</tbody>
</table>
</div>

<div id="popup" title="New Entry">
	<table id="dragbar">
		<tr>
			<td><span id="titlebar">New Plane</span></td>
			<td><span id="close_x" title="Close this popup">[X]</span></td>
		</tr>
	</table>
	
	<form id="new_plane_form" action="{% url planes user.username %}" method="post">
		<table>
			<tbody>
				<tr>
					<td>		
						{# <input type="hidden" name="user" id="id_user" value="{{ user.id }}" /> #}
						<input type="hidden" name="id" id="id_id" value="" />
					</td>
				</tr>
				<tr>
					<td>{{ form.tailnumber.label_tag }}<br>&nbsp;</td>
					<td>{{ form.tailnumber }}<br><span class="help_text">{{form.tailnumber.help_text}}</span></td>
				</tr>
				<tr>
					<td>{{ form.manufacturer.label_tag }}<br>&nbsp;</td>
					<td>{{ form.manufacturer }}<br><span class="help_text">{{form.manufacturer.help_text}}</span></td>
				</tr>
			
				<tr>
					<td>{{ form.type.label_tag }}<br>&nbsp;</td>
					<td>{{ form.type }}<br><span class="help_text">{{form.type.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.model.label_tag }}<br>&nbsp;</td>
					<td>{{ form.model }}<br><span class="help_text">{{form.model.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.cat_class.label_tag }}</td>
					<td>{{ form.cat_class }}</td>
				</tr>
				
				<tr>
					<td>{{ form.description.label_tag }}</td>
					<td>{{ form.description }}</td>
				</tr>
				
				<tr>
					<td>Tags</td>
					<td>{{ form.tags }}</td>
				</tr>
			</tbody>
		</table>
		
		<div id="tags_window">
			{% tag_cloud_for_model plane.Plane as cloud with distribution=log min_count=20 steps=5 %}
			
			{% for tag in cloud %}
            <a href="" title="Add this tag" class="tag{{tag.font_size}}">{{ tag }}</a>
            {% endfor %}
		</div>
		
		<div id="new_plane_buttons">
			<input type="submit" name="submit" value="Create New Plane" id="submit_new_flight" />
		</div>

		<div id="edit_plane_buttons">
			<input type="submit" name="submit" value="Submit Changes" id="submit_edit_flight" />
			<input type="submit" name="submit" value="Delete Plane" id="submit_delete_flight" />
		</div>

	</form>
</div>

{{ form.errors }}

{% endblock %}

