{% extends "base.html" %}
{% load tagging_tags %}
{% block planes-sel %}nav_selected{% endblock%}

{% block description %}{{ request.display_user.username }}'s planes{% endblock%}

{% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/plane_popup.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/popup.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/popup.css">
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/planes.css">
{% endblock %}

{% block title %}Planes{% endblock %}


{% block canvas %}
    {% if not request.shared %}
	<input id="new_plane" type="button" value="New Plane">
    {% endif %}
    <table id="p_t" class="minor_table">
	    <thead>
		    <tr>
			    <td>Tailnumber</td>
			    <td>Manufacturer</td>
			    <td>Type</td>
			    <td>Model Name</td>
			    <td>Category/Class</td>
			    <td>Tags</td>
			    <td>Description</td>
		    </tr>
	    </thead>
	    <tbody>
	    {% for plane in planes %}
		    <tr>
			    <td id="p{{ plane.id }}_tailnumber" title="Tailnumber (click to edit)">
			    <a href="" id="p{{ plane.id }}" class="popup_link">
			    {%if not plane.tailnumber%}
			    &nbsp;&nbsp;
			    {%else%}
			    {{ plane.tailnumber }}
			    {%endif%}</a></td>
			    <td id="p{{ plane.id }}_manufacturer">{{ plane.manufacturer }}</td>
			    <td id="p{{ plane.id }}_type">{{ plane.type }}</td>
			    <td id="p{{ plane.id }}_model">{{ plane.model }}</td>
			    <td id="p{{ plane.id }}_cat_class">{{ plane.get_cat_class_display }}</td>
			    <td id="p{{ plane.id }}_tags">{{ plane.get_tags_quote|join:", " }}</td>
			    <td id="p{{ plane.id }}_description">{{ plane.description }}</td>
		    </tr>		
	    {% empty %}
	        <tr>
	            <td colspan="7">Nothing to show here, sorry</td>
	        </tr>
	    {% endfor %}
	
	
	    </tbody>
    </table>
    <div id="mass_edit_link">
        {% if not request.shared %}
        <a href="{% url mass-planes request.display_user %}">Mass Edit/Entry</a>
        {% endif %}
    </div>

<div id="popup" title="New Entry">
	<table id="dragbar">
		<tr>
			<td><span id="titlebar">New Plane</span></td>
			<td><span id="close_x" title="Close this popup">[X]</span></td>
		</tr>
	</table>
	
	<form id="new_plane_form" action="{% url planes request.display_user.username %}" method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<input type="hidden" name="id" id="id_id" value="" />
					</td>
				</tr>
				<tr>
				    <td style="display: none" id="{{edit_or_new}}_error_cell">{{ form.errors }}</td>
				</tr>
				<tr>
				    <td colspan="2">
				        {{ form.non_field_errors }}
				    </td>
				</tr>
				<tr>
					<td>{{ form.tailnumber.label_tag }}<br>&nbsp;</td>
					<td>{{ form.tailnumber }}{{ form.tailnumber.errors|default:"<br>" }}
					<span class="help_text">{{form.tailnumber.help_text}}</span></td>
				</tr>
				<tr>
					<td>{{ form.manufacturer.label_tag }}<br>&nbsp;</td>
					<td>{{ form.manufacturer }}{{ form.manufacturer.errors|default:"<br>" }}
					<span class="help_text">{{form.manufacturer.help_text}}</span></td>
				</tr>
			
				<tr>
					<td>{{ form.type.label_tag }}<br>&nbsp;</td>
					<td>{{ form.type }}{{ form.type.errors|default:"<br>" }}
					<span class="help_text">{{form.type.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.model.label_tag }}<br>&nbsp;</td>
					<td>{{ form.model }}{{ form.model.errors|default:"<br>" }}
					<span class="help_text">{{form.model.help_text}}</span></td>
				</tr>
				
				<tr>
					<td>{{ form.cat_class.label_tag }}</td>
					<td>{{ form.cat_class }}</td>
				</tr>
				
				<tr>
					<td>Tags</td>
					<td>{{ form.tags }}</td>
				</tr>
				
				<tr>
					<td>{{ form.description.label_tag }}</td>
					<td>{{ form.description }}</td>
				</tr>
				
			</tbody>
		</table>
		
		<div id="tags_window">
			{% tag_cloud_for_model plane.Plane as cloud with distribution=log min_count=20 steps=5 %}
			
			{% for tag in cloud %}
            <a href="" title="Add this tag" class="tag{{tag.font_size}}">{{ tag }}</a>
            {% endfor %}
		</div>
		
		<div id="new_plane_buttons">
			<input type="submit" name="submit" value="Create New Plane" id="submit_new_flight" />
		</div>
        {% if not request.shared %}
		<div id="edit_plane_buttons">
			<input type="submit" name="submit" value="Submit Changes" id="submit_edit_flight" />
			<input type="submit" name="submit" value="Delete Plane" id="submit_delete_flight" />
		</div>
        {% endif %}
	</form>
</div>
<br>
<div class="instructions">
Tip: If the plane you are creating is a Beechcraft, Cessna or Piper, just fill
in the type designator (eg. PA-28-151), and the other details will be filled
in for you.
</div>

{% endblock %}

