<select id="id_plane" name="plane">
{% for plane in planes %}
	<option value="{{ plane.id }}"
	
	{% ifequal plane.category_class 15 %} class="sim"{% endifequal %}
	{% ifequal plane.category_class 16 %} class="sim"{% endifequal %}
	{% ifequal plane.category_class 17 %} class="sim"{% endifequal %}
	{% ifequal plane.category_class 18 %} class="sim"{% endifequal %}
	{% ifequal plane.category_class 19 %} class="sim"{% endifequal %}
	
	>{{ plane.tailnumber }} - {{ plane.type }}</option>
{% endfor %}

</select>
