{% extends "base.html" %}
{% block profile-sel %}nav_selected{% endblock%}

{% block javascript %}
	<script type="text/javascript">
	    $(document).ready(function() {
	        $("#id_dob").datepicker({							// add the date pickers
			        dateFormat: "yy-mm-dd",
			        yearRange: "-80:+1", 
			        showOn: "button", 
			        buttonImage: "{{ MEDIA_URL }}/images/calendar.gif", 
			        buttonImageOnly: true 
	        }).addClass("embed");
	    });
	</script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/preferences.css">
{% endblock %}


{% block title %}Preferences{% endblock %}


{% block canvas %}

<div class="central_div central_prefs">
		
	<h1>Preferences</h1>
	
	<form id="prefs_form" action="{% url profile %}" method="post">
		<fieldset>

			<legend>General</legend>
		
			<table class="prefs_table">
			    <tr>
					<td>{{ user_form.username.label_tag }}</td>
					<td colspan="2">{{ user_form.username }}</td>
					<td>{{ user_form.username.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.email.label_tag }}</td>
					<td colspan="2">{{ profile_form.email }}</td>
					<td>{{ profile_form.email.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.real_name.label_tag }}</td>
					<td colspan="2">{{ profile_form.real_name }}</td>
					<td>{{ profile_form.real_name.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.dob.label_tag }}</td>
					<td colspan="2">{{ profile_form.dob }}</td>
					<td>{{ profile_form.date.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.style.label_tag }}</td>
					<td colspan="2">{{ profile_form.style }}</td>
					<td></td>
				</tr>
				
				<tr>
					<td>{{ profile_form.share.label_tag }}</td>
					<td colspan="2">{{ profile_form.share }}</td>
					<td></td>
				</tr>
				
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				
			</table>
		</fieldset>


    	<fieldset id="logbook_section">

			<legend>Logbook</legend>
		
			<table class="prefs_table">	
				<tr>
					<td colspan="4">
						<table id="columns_table">
							<tr>	
								<td>Auto Button</td>
								<td>Display Column</td>
								<td></td>
							</tr>
{% for field in bool_fields %}
{{field|safe}}
{% endfor %}
						</table>
					</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.per_page.label_tag }}</td>
					<td colspan="2">{{ profile_form.per_page }}</td>
					<td>{{ profile_form.per_page.errors }}</td>
				</tr>
				<tr>
					<td>{{ profile_form.minutes.label_tag }}</td>
					<td colspan="2">{{ profile_form.minutes }}</td>
					<td>{{ profile_form.minutes.errors }}</td>
				</tr>
				<tr>
					<td>{{ profile_form.date_format.label_tag }}</td>
					<td colspan="2">{{ profile_form.date_format }}</td>
					<td>{{ profile_form.date_format.errors }}<br>
					    Default: "Y-m-d" For a guide to date formatting, <a target="_blank" href="http://us3.php.net/manual/en/function.date.php">click here</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			
			</table>
			
		</fieldset>
		
		<fieldset>

			<legend>Automatic Backups</legend>
			
			<table class="prefs_table">
				<tr>
					<td>{{ profile_form.backup_email.label_tag }}</td>
					<td colspan="2">{{ profile_form.backup_email }}</td>
					<td>{{ profile_form.backup_email.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.backup_freq.label_tag }}</td>
					<td colspan="2">{{ profile_form.backup_freq }}</td>
					<td>{{ profile_form.backup_freq.errors }}</td>
				</tr>
				
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</fieldset>
		
		<div>
			<input class="prefs_submit_button" type="submit" value="Submit" />
		</div>
	</form>
</div>
{{profile_form.errors}}
{{auto_form.errors}}
{{column_form.errors}}

{% endblock %}
