{% extends "base.html" %}
{% block profile-sel %}nav_selected{% endblock%}

{% block javascript %}
	<script type="text/javascript">
		cat_classes = {{ cat_classes|safe }};
	</script>

	<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/{{ title|lower }}.js"></script>
{% endblock %}

{% block css %}
<style type="text/css">
fieldset                      {text-align: right}
legend                        {font-size: large; font-weight: bold; color: #11566d}
input, select                 {width: 80%}
input[type='submit']          {width: auto; margin-top: 15px}

ul                            {font-sze: inherit; margin: 0; color: red; font-weight: bold}

.prefs_table                  {width:100%; border: 0px solid black; font-size: medium; margin-right: auto; margin-left: auto}

.prefs_table td:first-child   {border: 0px solid green; width: 50%; text-align: right; padding-right: 10px}
.prefs_table td               {border: 0px solid blue; text-align: left; width: 10%}
.prefs_table td:last-child    {border: 0px solid red; width: 30%}

.embed + img                  {position: relative; right: 19px; top: 3px; cursor: pointer; z-index: 2}

td[colspan='4']               {padding-bottom: 10px; text-align: center}

#columns_table                        {margin-right: auto; margin-left: auto; border: 1px solid purple}
#columns_table td:last-child          {text-align: left; width: 13em}
#columns_table tr:first-child > td    {padding: 3px !important;}
#columns_table td                     {font-size: small; text-align: center; padding: 0px !important; width: 3em}
</style>

{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block canvas %}

<div class="central_div central_prefs">
		
	<h1>Preferences {{ cat_classes|safe }}</h1>
	
	<form id="prefs_form" action="{% url profile %}" method="post">
		<fieldset>

			<legend>General</legend>
		
			<table class="prefs_table">
			    <tr>
					<td>{{ profile_form.username.label_tag }}</td>
					<td colspan="2">{{ profile_form.username }}</td>
					<td>{{ profile_form.username.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.email.label_tag }}</td>
					<td colspan="2">{{ profile_form.email }}</td>
					<td>{{ profile_form.email.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.real_name.label_tag }}</td>
					<td colspan="2">{{ profile_form.real_name }}</td>
					<td>{{ profile_form.real_name.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.dob.label_tag }}</td>
					<td colspan="2">{{ profile_form.dob }}</td>
					<td>{{ profile_form.date.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.style.label_tag }}</td>
					<td colspan="2">{{ profile_form.style }}</td>
					<td></td>
				</tr>
				
				<tr>
					<td>{{ profile_form.share.label_tag }}</td>
					<td colspan="2">{{ profile_form.share }}</td>
					<td></td>
				</tr>
				
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				
			</table>
		</fieldset>


		<fieldset>
			<legend>Currency Reminders</legend>

			<table class="prefs_table">
				<tr>
					<td></td>
					<td>Day</td>
					<td>Night</td>
					<td></td>
				</tr>
				
{% for field in currency_fields %}
{{field}}
{% endfor %}
				
			</table>
				
		</fieldset>

		<fieldset id="logbook_section">

			<legend>Logbook</legend>
		
			<table class="prefs_table">	
				<tr>
					<td colspan="4">
						<table id="columns_table">
							<tr>	
								<td>Auto Button</td>
								<td>Display Column</td>
								<td></td>
							</tr>
{% for field in bool_fields %}
{{field|safe}}
{% endfor %}
						</table>
					</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.per_page.label_tag }}</td>
					<td colspan="2">{{ profile_form.per_page }}</td>
					<td>{{ profile_form.per_page.errors }}</td>
				</tr>
				<tr>
					<td>{{ profile_form.minutes.label_tag }}</td>
					<td colspan="2">{{ profile_form.minutes }}</td>
					<td>{{ profile_form.minutes.errors }}</td>
				</tr>
				<tr>
					<td>{{ profile_form.date_format.label_tag }}</td>
					<td colspan="2">{{ profile_form.date_format }}</td>
					<td>{{ profile_form.date_format.errors }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			
			</table>
			
		</fieldset>
		
		<fieldset>

			<legend>Automatic Backups</legend>
			
			<table class="prefs_table">
				<tr>
					<td>{{ profile_form.backup_email.label_tag }}</td>
					<td colspan="2">{{ profile_form.backup_email }}</td>
					<td>{{ profile_form.backup_email.errors }}</td>
				</tr>
				
				<tr>
					<td>{{ profile_form.backup_freq.label_tag }}</td>
					<td colspan="2">{{ profile_form.backup_freq }}</td>
					<td>{{ profile_form.backup_freq.errors }}</td>
				</tr>
				
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</fieldset>
		
		<div>
			<input class="prefs_submit_button" type="submit" value="Submit" />
		</div>
	</form>
</div>
{{profile_form.errors}}
{{auto_form.errors}}
{{column_form.errors}}

{% endblock %}
