{% extends "base.html" %}
{% block realtime-sel %}nav_selected{% endblock%}

{% block javascript %}
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/realtime.css">
<script type="text/javascript">
    var users_system_ts = new Date().getTime() / 1000
    var SERVER_OFFSET = {{ gmt|date:"U" }} - users_system_ts;
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}/jquery/epiclock/jquery.epiclock.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/date_format.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/realtime.js"></script>
<style type="text/css">
    
    .on_duty    {width: 80%; background: lightgray; padding: 10px;
                 margin: 0 auto 0 auto;}

</style>
{% endblock %}

{% block title %}Realtime{% endblock %}


{% block canvas %}



{# gmt|date:"m-d-Y__H:i:s" #}

<div id="epiclock"></div>

<br>
<form action="{% url realtime request.display_user %}" method="post">
    <input type="hidden" name="user" id="id_user" value="{{request.display_user.pk}}">
    <span {#style="display: none"#}>
        {{ form.start }}{{ form.end }}
    </span>
    {% if on_duty %}
    
        <div class="on_duty">
            ** Currently on duty **<br><br>
            went on: {{latest_open_duty.start|date:"m-d-Y H:i:s T"}}<br>
            expires: {{latest_open_duty.time_expire_duty|date:"m-d-Y H:i:s T"}}
        <br><br>
        
        <input name="submit" id="start_block" type="submit" value="Start Block Time">
        
        <br><br>
        
        <input name="submit" id="off_duty" type="submit" value="Go Off Duty">
        </div>
        
    {% else %}
        <input name="submit" id="on_duty" type="button" value="Go On Duty">
    {% endif %}
</form>
{{form.errors}}
{% endblock %}














