{% extends "base.html" %}
{% block realtime-sel %}nav_selected{% endblock%}

{% block javascript %}
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/realtime.css">
<script type="text/javascript">
    var users_system_ts = new Date().getTime() / 1000
    var SERVER_OFFSET = {{ gmt|date:"U" }} - users_system_ts;
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}/jquery/epiclock/jquery.epiclock.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/date_format.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/realtime.js"></script>
<style type="text/css">

    input[type="text"]         {width: 11em}
    
    .on_duty      {width: 90%; background: lightgray; padding: 10px;
                   margin: 0 auto 0 auto;}
    
    .block        {width: 90%; background: lightblue; margin: 5px auto 5px auto;
                   border: 1px solid gray}

    .open_block   {background: pink !important}
    
    .block_table  {margin: 0 auto 0 auto}
    
    .duty_header_table      {font-size: bigger;
                             margin: 0 auto 0 auto;
                             border: 1px solid gray}
                             
    .duty_header_table td   {border: 1px solid gray; padding: 3px}
    
    .duty_header_table th   {text-align: right;
                             font-weight: normal;
                             border: 1px solid gray; padding: 3px}
</style>
{% endblock %}

{% block title %}Realtime{% endblock %}


{% block canvas %}



{# gmt|date:"m-d-Y__H:i:s" #}

<div id="epiclock"></div>

<br>
<form action="{% url realtime request.display_user %}" method="post">
    <input type="hidden" name="user" id="id_user" value="{{request.display_user.pk}}">
    <span style="display: none">
        {{ form.start }}{{ form.end }}
    </span>
    {% if on_duty %}
    
        <div class="on_duty">
            <table class="duty_header_table">
                <tr>
                    <td colspan="2"><strong>** Currently on duty **</strong></td>
                </tr>
                <tr>
                    <th>Duty Started:</th>
                    <td><input name="duty_start" value="{{ latest_open_duty.start }}"></td>
                </tr>
                <tr>
                    <th>Must be off duty by:</th>
                    <td>{{ latest_open_duty.time_expire_duty }}</td>
                </tr>
            </table>
        
        {% for block in latest_open_duty.closed_blocks %}
            
            {% with "CLOSED" as block_title %}
            {% with "block" as class %}
            
            {% include "block.html" %}
            
            {% endwith %}
            {% endwith %}
            
        {% endfor %}
        
        {% if latest_open_duty.latest_open_block %}
        
            {% with latest_open_duty.latest_open_block as block %}
            {% with "OPEN" as block_title %}
            {% with "block open_block" as class %}
            
            {% include "block.html" %}
            
            {% endwith %}
            {% endwith %}
            {% endwith %}
            
        {% else %}
        
            <input name="submit" id="start_block" type="submit" value="Start Block Time">
            <br><br>
            <input name="submit" id="off_duty" type="submit" value="Go Off Duty">
            
        {% endif %}
                
        </div>
        
    {% else %}
        <input name="submit" id="on_duty" type="submit" value="Go On Duty">
    {% endif %}
    <br>
    <input name="submit" type="submit" value="Commit">
    
</form>
{{form.errors}}
{% endblock %}














