{% extends "base.html" %}
{% block records-sel %}nav_selected{% endblock%}

{% block javascript %}
	<script type="text/javascript">
	    $(document).ready(function() {
	        $("input[id$=date]").datepicker({
			        dateFormat: "yy-mm-dd",
			        yearRange: "-80:+1", 
			        showOn: "button", 
			        buttonImage: "{{ MEDIA_URL }}/images/calendar.gif", 
			        buttonImageOnly: true 
	        }).addClass("embed");
	    });
	</script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/records.css">
{% endblock %}

{% block title %}Records{% endblock %}

{% block canvas %}
	<div id="nonflights_instructions">
		Enter Non flying events for currenct tracking
	</div>
	
<form action="{% url records display_user %}" method="post">
    <table class="new_nonflight">
       <tr>
           <td>Date{{formset.management_form}}</td><td>Type</td><td>Remarks</td><td>Delete?</td>
       </tr>
    {% for form in formset.forms %}
        <tr>
            <td class="date">{{form.date}}</td>
            <td class="non_flying">{{form.non_flying}}</td>
            <td class="remarks">{{form.remarks}}</td>
            
            {% if form.instance.pk %}
                <td class="delete">{{form.DELETE}}{{form.id}}</td>
            </tr>
            {% else %}
                <td class="delete"></td>
            </tr>
            {% endif %}
            
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
    {% endfor %}
    
    <tr>
        <td colspan="5"><input type="submit" value="Save"/></td>
    </tr>
    
    </table>
    

	<div id="records_instructions">
		Use this space to record any information you'd normally put in the back of a paper logbook.
		Phone numbers and addresses of contacts; dates of endorsements; student signoffs and outcomes; notes, etc.
	</div>
	
	<br />

	<div>
		<textarea style="width:80%;height:400px" cols="50" rows="10" name="records">{{ records.text }}</textarea>

		<br />
		<br />

		<input type="submit" value="Save" />
		
		{% if saved %}
		
		<br /><br />
		<span style="color: red; font-weight: bold">Saved</span>
		
		{% endif %}

	</div>
</form>
</div>

{% endblock %}
