{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block canvas %}
	<div>
		Use this space to record any information you'd normally put in the back of a paper logbook.
		Phone numbers and addresses of contacts; dates of endorsements; student signoffs and outcomes; notes, etc.
	</div>
	
	<br />

	<form action="." method="post">
		<div>
			<textarea style="width:80%;height:400px" cols="50" rows="10" name="records">{{ records.text }}</textarea>
	
			<br />
			<br />

			<input type="submit" value="Save" />
			
			{% if saved %}
			
			<br /><br />
			<span style="color: red; font-weight: bold">Saved</span>
			
			{% endif %}

		</div>
	</form>
</div>

{% endblock %}
