{% extends "base.html" %}
{% block records-sel %}nav_selected{% endblock%}

{% block javascript %}
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/records.css">
{% endblock %}

{% block title %}Records{% endblock %}

{% block canvas %}

<form action="{% url records display_user %}" method="post">
    <div id="records_instructions">
		Use this space to record any information you'd normally put in the back of a paper logbook.
		Phone numbers and addresses of contacts; dates of endorsements; student signoffs and outcomes; notes, etc.
	</div>

	<div>
		<textarea style="width:80%;height:400px" cols="50" rows="10" name="records">{{ records.text }}</textarea>

		<br>
		<br>
		
        {% if not shared %}
		<input type="submit" value="Save" />
		{% endif %}
		
		{% if saved %}
		
		<br /><br />
		<span style="color: red; font-weight: bold">Saved</span>
		
		{% endif %}

	</div>
</form>


{% endblock %}
