{% extends "base.html" %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Tailnumber Profile - {{ pk|upper }}{% endblock %}


{% block canvas %}

<h1>{{ pk|upper }}</h1>
<h2>Users who have flown this route:</h2>

{% spaceless %}
{% for user in users %}
    
    {# the span is so it works with spaceless better #}
    {% if not forloop.first %}<span>, </span>{% endif %}
    
    {% if user.get_profile.logbook_share %}
    
        <a title="This user does not allow others to view his/her logbook"
           class="noshare" href="">{{user.username}}</a>
           
    {% else %}
    
        <a href="{% url logbook user.username %}"
           title="Click to see this user's logbook">{{user.username}}</a>
           
    {% endif %}
    
{% empty %}

    (None)

{% endfor %}
{% endspaceless %}

<h2>Total number of flights logged with this route</h2>
<big><strong>{{ t_flights }}</strong></big>

<h2>Tailnumbers that have flown this route:</h2>
<big><strong>{{ tailnumbers|join:", " }}</strong></big>

<h2>Types that have flown this route</h2>
<big><strong>{{ types|join:", " }}</strong></big>

{% endblock %}
