{% extends "base.html" %}

{% block description %}{{ pk|upper }} route profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Route Profile - {{ pk|upper }}{% endblock %}


{% block canvas %}

<h1>{{ pk|upper }}</h1>

<table id="route_table">
{% for rb in rbs %}
    <tr>      {% url profile-airport rb.location.identifier as url %}
        <td><a href="{{ url }}">{{ rb.location.identifier }}</a></td>
        <td>{{ rb.location.name }} - {{ rb.location.location_summary }}</td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="2">Total distance: {{ route.total_line_all|floatformat:1 }} NM</td>
    </tr>
</table>

<table class="main">
    <tr>
        <th>Users who have flown this route</th>
        <td>
        {% spaceless %}
        {% for user in users %}
            
            {# the span is so it works with spaceless better #}
            {% if not forloop.first %}<span>, </span>{% endif %}
            
            {% if user.get_profile.logbook_share %}
            
                <a title="This user does not allow others to view his/her logbook"
                   class="noshare" href="">{{user.username}}</a>
                   
            {% else %}
            
                <a href="{% url logbook user.username %}"
                   title="Click to see this user's logbook">{{user.username}}</a>
                   
            {% endif %}
            
        {% empty %}

            (None)

        {% endfor %}
        {% endspaceless %}
        </td>
    </tr>
    <tr>
        <th>Total number of flights logged with this route</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that have flown this route:</th>
        <td>
            {% spaceless %}
                {% for tn in tailnumbers %}
                    {% url profile-tailnumber tn|upper as url %}
                    
                    {% if not forloop.first %}<span>, </span>{% endif %}
                    
                    <a href="{{ url }}">{{ tn }}</a>
                {% endfor %}
            {% endspaceless %}
        </td>
    </tr>
    <tr>
        <th>Types that have flown this route</th>
        <td><big><strong>{{ types|join:", " }}</strong></big></td>
    </tr>
</table>

{% endblock %}
