{% extends "base.html" %}
{% load profile_lists %}
{% block description %}{{ pk|upper }} route profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Route Profile - {{ pk|upper }}{% endblock %}


{% block canvas %}

<h1>{{ pk|upper }}</h1>

<table id="route_table">
{% for rb in rbs %}
    <tr>      {% url profile-airport rb.location.identifier as url %}
        <td><a href="{{ url }}">{{ rb.location.identifier }}</a></td>
        <td>{{ rb.location.name }} - {{ rb.location.location_summary }}</td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="2">Total distance: {{ route.total_line_all|floatformat:1 }} NM</td>
    </tr>
</table>

<table class="main">
    <tr>
        <th>Users who have flown this route</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total number of flights logged with this route</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that have flown this route:</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
    <tr>
        <th>Types that have flown this route</th>
        <td><big><strong>{{ types|join:", " }}</strong></big></td>
    </tr>
</table>

{% endblock %}
