{% extends "base.html" %}
{% block sigs-sel %}nav_selected{% endblock%}

{% block description %}{{ display_user.username }}'s signature images generator{% endblock%}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/sigs.js"></script>
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/sigs.css">
{% endblock %}

{% block title %}Sigs{% endblock %}

{% block canvas %}
<p class="instructions">
Create a small image that always displays the totals of various times in your
logbook. Select the columns you want shown, then click the generate button.
</p>
{{checkbox_table}}

<input type="button" value="Generate" id="generate_button">
<hr>
<div id="image_div">
    <img src="sigs/pic.png" id="sig_image">
</div>
<div id="sig_url"></div>
{% endblock %}

