{% extends "base-no-nav.html" %}
{% load humanize %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/site_stats.css"> 
{% endblock %}

{% block title %}Site Stats{% endblock %}
{% block canvas %}

<div>Updated every 3 Hours<br>Last updated: {{cs.dt|date:"D, F, jS, Y -- g:00 A"}} EST</div>
<hr>
<table id="site_stats">
    <tr>
        <td>Total user accounts</td>
        <td>{{ cs.users }}</td>
    </tr>
    <tr>
        <td>Number of users with a non-empty logbook</td>
        <td>{{ cs.non_empty_users }}</td>
    </tr>
    <tr>
        <td>Total flight hours from all users</td>
        <td>{{ cs.total_hours|floatformat:1|intcomma }}</td>
    </tr>
    <tr>
        <td>Total number of flights logged</td>
        <td>{{ cs.total_logged|intcomma }}</td>
    </tr>
    <tr>
        <td>Average duration of all logged flights</td>
        <td>{{ cs.avg_duration|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>Average total hours logged per non-empty-logbook user</td>
        <td>{{ cs.avg_per_active|floatformat:1|intcomma }}</td>
    </tr>
    
    <tr>
        <td>The user with the most hours logged has X hours</td>
        <td>{{ cs.pwm_hours|floatformat:1|intcomma }}</td>
    </tr>
    
    <tr>
        <td>The user with the most flights logged has X entries</td>
        <td>{{ cs.pwm_count|intcomma }}</td>
    </tr>
    
    <tr>
        <td>Total number of flights logged in the past 7 days</td>
        <td>{{ cs.num_7_days|intcomma }}</td>
    </tr>
    
    <tr>
        <td>Number of unique users who have logged a flight in the past 7 days</td>
        <td>{{ cs.user_7_days|intcomma }}</td>
    </tr>
    
    <tr>
        <td>Total flight hours logged in the past 7 days</td>
        <td>{{ cs.time_7_days|floatformat:1|intcomma }}</td>
    </tr>
    
    <tr>
        <td>Total unique airports visited by all users</td>
        <td>{{ cs.unique_airports|intcomma }}</td>
    </tr>
    <tr>
        <td>Total unique countries visited by all users</td>
        <td>{{ cs.unique_countries|intcomma }}</td>
    </tr>
    <tr>
        <td>Total distance of all routes</td>
        <td>{{ cs.total_dist|floatformat:1|intcomma }} NM</td>
    </tr>
    <tr>
        <td>Total distance of all routes in Earth Circumferences</td>
        <td>{{ cs.route_earths|floatformat:1|intcomma }} Earths</td>
    </tr>
    <tr>
        <td>Airports visited by the most users</td>
        <td>{{ cs.auv|linebreaksbr }}</td>
    </tr>
    <tr>
        <td>Tailnumbers used by the most users</td>
        <td>{{ cs.most_common_tail|linebreaksbr }}</td>
    </tr>
    
    <tr>
        <td>Types used by the most users</td>
        <td>{{ cs.most_common_type|linebreaksbr }} </td>
    </tr>
    
    <tr>
        <td>Most common manufacturers</td>
        <td>{{ cs.most_common_manu|linebreaksbr }}</td>
    </tr>
</table>
<hr>
<table id="openid"> 
    <tr>  
        <th colspan="3">Openid Providers:</th>
    </tr>
    
    <tr>
        <td>Google</td>
        <td>{{ ss.google }} </td><td> {{ ss.g_p|floatformat:1 }}%</td>
    </tr>
    <tr>
        <td>Yahoo</td>
        <td>{{ ss.yahoo }} </td><td> {{ ss.y_p|floatformat:1 }}%</td>
    </tr>
    <tr>    
        <td>AOL</td>
        <td>{{ ss.aol }} </td><td> {{ ss.a_p|floatformat:1 }}%</td>
    </tr>
    <tr>
         <td>MyOpenID</td>
         <td>{{ ss.my }} </td><td> {{ ss.m_p|floatformat:1 }}%</td>
    </tr>
    <tr>
         <td>Others</td>
         <td>{{ ss.others }} </td><td> {{ ss.o_p|floatformat:1 }}%</td>
    </tr>
</table>    

{% endblock %}
