{% extends "base.html" %}
{% load humanize %}

{% block description %}FlightLogg.in' overall stats page{% endblock%}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/site_stats.css"> 
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/site_stats.js"></script>
{% endblock %}

{% block title %}Site Stats{% endblock %}
{% block canvas %}

<div>Updated every 3 Hours<br>Last updated: {{cs.dt|date:"D, F, jS, Y -- g:00 A"}} EST</div>
<hr>
<table id="site_stats">
    <tr>
        <td>{{ t.users.0 }} <a href="" class="graph_popup" id="users">G</a></td>
        <td>{{ cs.users }}</td>
    </tr>
    <tr>
        <td>{{ t.non_empty_users.0 }} <a href="" class="graph_popup" id="non_empty_users">G</a></td>
        <td>{{ cs.non_empty_users }}</td>
    </tr>
    <tr>
        <td>{{ t.total_hours.0 }} <a href="" class="graph_popup" id="total_hours">G</a></td>
        <td>{{ cs.total_hours|floatformat:1|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.total_logged.0 }} <a href="" class="graph_popup" id="total_logged">G</a></td>
        <td>{{ cs.total_logged|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.avg_duration.0 }} <a href="" class="graph_popup" id="avg_duration">G</a></td>
        <td>{{ cs.avg_duration|floatformat:2 }}</td>
    </tr>
    
    <tr>
        <td>{{ t.avg_per_active.0 }} <a href="" class="graph_popup" id="avg_per_active">G</a></td>
        <td>{{ cs.avg_per_active|floatformat:1|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.pwm_hours.0 }} <a href="" class="graph_popup" id="pwm_hours">G</a></td>
        <td>{{ cs.pwm_hours|floatformat:1|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.pwm_count.0 }} <a href="" class="graph_popup" id="pwm_count">G</a></td>
        <td>{{ cs.pwm_count|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.num_7_days.0 }} <a href="" class="graph_popup" id="num_7_days">G</a></td>
        <td>{{ cs.num_7_days|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.user_7_days.0 }} <a href="" class="graph_popup" id="user_7_days">G</a></td>
        <td>{{ cs.user_7_days|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.time_7_days.0 }} <a href="" class="graph_popup" id="time_7_days">G</a></td>
        <td>{{ cs.time_7_days|floatformat:1|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.unique_airports.0 }} <a href="" class="graph_popup" id="unique_airports">G</a></td>
        <td>{{ cs.unique_airports|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.unique_countries.0 }} <a href="" class="graph_popup" id="unique_countries">G</a></td>
        <td>{{ cs.unique_countries|intcomma }}</td>
    </tr>
    
    <tr>
        <td>{{ t.total_dist.0 }} <a href="" class="graph_popup" id="total_dist">G</a></td>
        <td>{{ cs.total_dist|floatformat:1|intcomma }} NM</td>
    </tr>
    
    <tr>
        <td>{{ t.route_earths.0 }} <a href="" class="graph_popup" id="route_earths">G</a></td>
        <td>{{ cs.route_earths|floatformat:1|intcomma }} Earths</td>
    </tr>
    
    <tr>
        <td>{{ t.unique_tn.0 }} <a href="" class="graph_popup" id="unique_tn">G</a></td>
        <td>{{ cs.unique_tn }}</td>
    </tr>
    
    <tr>
        <td>{{ t.day_wmu.0 }}</td>
        <td>{{ cs.day_wmu }}</td>
    </tr>
    
    <tr>
        <td>{{ t.day_wmh.0 }}</td>
        <td>{{ cs.day_wmh }}</td>
    </tr>
    
    <tr>
        <td>{{ t.most_common_airports.0 }}</td>
        <td>{{ linked_airports|safe|linebreaksbr }}</td>
    </tr>
    <tr>
        <td>{{ t.most_common_tails.0 }}</td>
        <td>{{ linked_tail|safe|linebreaksbr }}</td>
    </tr>
    
    <tr>
        <td>{{ t.most_common_types.0 }}</td>
        <td>{{ linked_mct|safe|linebreaksbr }} </td>
    </tr>
    
    <tr>
        <td>{{ t.most_common_manu.0 }}</td>
        <td>{{ cs.most_common_manu|linebreaksbr }}</td>
    </tr>
</table>
<hr>
<table id="openid"> 
    <tr>  
        <th colspan="3">Openid Providers:</th>
    </tr>
    
    <tr>
        <td>Google</td>
        <td>{{ ss.google }} </td><td> {{ ss.g_p|floatformat:1 }}%</td>
    </tr>
    <tr>
        <td>Yahoo</td>
        <td>{{ ss.yahoo }} </td><td> {{ ss.y_p|floatformat:1 }}%</td>
    </tr>
    <tr>    
        <td>AOL</td>
        <td>{{ ss.aol }} </td><td> {{ ss.a_p|floatformat:1 }}%</td>
    </tr>
    <tr>
         <td>MyOpenID</td>
         <td>{{ ss.my }} </td><td> {{ ss.m_p|floatformat:1 }}%</td>
    </tr>
    <tr>
         <td>Others</td>
         <td>{{ ss.others }} </td><td> {{ ss.o_p|floatformat:1 }}%</td>
    </tr>
</table>

<div id="popup_div"><div class="x"><a href="" title="close this popup" class="x">X</a></div><img src="dummy"></div>

<img src="{% url histogram-user_totals %}" alt="Distribution of Logbook Totals amoung users">

{% endblock %}
