{% extends "base.html" %}


{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/{{ title|lower }}.js"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block body %}

<div class="central_div">

	
	<script type="text/javascript">
		var hash = "{{ hash }}";
		var pilot_id = "{{ user.id }}";
	</script>
	
	
	
	

	<div class="big_time_box">
		<a href="map.php">Route Map</a>, <a href="map.php?type=markers">Airport Map</a>
	</div>

	<div class="big_time_box">

		<a href="stats.php?career=yes">Career Totals</a>, <a href="stats.php?eighty710=yes">8710 data</a>
	</div>
	
	
	
	
	

	<form id="sig_form">
		<div class="big_time_box">Signature Image: 
	
			<select name="color">
				<option value="1">			Blue			</option>
				<option value="2">			Red			</option>
				<option value="3">			Green			</option>
			</select>

			<select name="time">
				<option value="total">			Total			</option>
				<option value="act_instrument">		Actual Instrument	</option>
				<option value="multi">			Multi-Engine		</option>
				<option value="turbine">		Turbine			</option>
				<option value="turbine_pic">		Turbine PIC		</option>
				<option value="dual_given">		Dual Given		</option>
			</select>
			<input type="button" onclick="make_sig()" value="Generate Code" />
	
		</div>
	</form>


	<form id="the_form" action="stats.php">

		<input type="hidden" name="sec" value="1" />

		<div class="big_time_box">
			Bar Graph: <select name="bar_time">
				<option value="total">			Total			</option>
				<option value="landings">		Landings		</option>
				<option value="solo"			>Solo			</option>

				<option value="pic_sic">		PIC/SIC			</option>
				<option value="dual_recieved">		Dual Recieved		</option>
				<option value="dual_given">		Dual Given		</option>
				<option value="instrument">		Instrument		</option>
				<option value="xc">			Cross Country		</option>
				<option value="night">			Night			</option>

			</select>
	
			<select name="bar_item">
				<option value="tail_number">		by Tailnumbers		</option>
				<option value="year">			by Year			</option>
				<option value="month">			by Months		</option>
				<option value="student">		by Student		</option>
				<option value="instructor">		by Instructor		</option>
				<option value="fo">			by First Officer	</option>
				<option value="captain">		by Captain		</option>
				<option value="category_class">		by Category/Classes	</option>
				<option value="type">			by Types		</option>
				<option value="model">			by Model		</option>
				<option value="manufacturer">		by Manufacturers	</option>

			</select>
	
			<input type="button" name="Go" value="Go" onclick="javascript:make_graph();" />
	
		</div>
	
		<div class="big_time_box">
			Accumulative Line Plot:
	
			<select name="line_item">
				<option value="total">			Total			</option>
				<option value="day_landings">		Day Landings		</option>
				<option value="night_landings">		Night Landings		</option>
				<option value="pic">			PIC			</option>
				<option value="sic">			SIC			</option>
				<option value="solo">			Solo			</option>
				<option value="dual_recieved">		Dual Recieved		</option>
				<option value="dual_given">		Dual Given		</option>
				<option value="act_instrument">		Actual Instrument	</option>
				<option value="sim_instrument">		Simulated Instrument	</option>
				<option value="xc">			Cross Country		</option>
				<option value="night">			Night			</option>
			</select>
	
			<select name="line_year">
				<option value="all">			All			</option>

				{% for y in years %}
				<option value="{{ y }}">		{{ y }}			</option>
				{% endfor %}
				
			</select>
	
			<input type="button" name="Go" value="Go" onclick="javascript:make_line();" />
		</div>

	</form>

	
	<div id="graph_div" style="width:100%"></div>
</div>
{% endblock body %}
