{% extends "base.html" %}
{% load profile_lists %}
{% block description %}{{ tn|upper }} tailnumber profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Tailnumber Profile - {{ tn|upper }}{% endblock %}


{% block canvas %}

<h1>{{ tn|upper }}</h1>

{% ifnotequal t_flights 0 %}
<br><a href="{% url s-tailnumber-kml tn %}">View all flights in this tailnumber with Google Earth</a>
{% endifnotequal %}


<table class="main">
    <tr>
        <th>Users who have flown an aircraft with this tailnumber</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total hours logged with this tailnumber</th>
        <td><big><strong>{{ t_hours }}</strong></big></td>
    </tr>
    <tr>
        <th>Total number of flights logged with this tailnumber</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Airports this aircraft has landed at</th>
        <td>{{ airports|list_airports }}</td>
    </tr>
    <tr>
        <th>Types this tailnumber has been registered to</th>
        <td>{{ types|list_types }}</td>
    </tr>
</table>
{% endblock %}
