{% extends "base.html" %}
{% block realtime-sel %}nav_selected{% endblock%}

{% block description %}{{ pk|upper }} tailnumber profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Tailnumber Profile - {{ pk|upper }}{% endblock %}


{% block canvas %}

<h1>{{ pk|upper }}</h1>
{{types|join:", "}}

{% ifnotequal t_flights 0 %}
<br><a href="{% url s-tailnumber-kml pk %}">View all flights in this plane with Google Earth</a>
{% endifnotequal %}


<table class="main">
    <tr>
        <th>Users who have flown an aircraft with this tailnumber</th>
        <td>
            {% spaceless %}
            {% for user in users %}
                
                {# the span is so it works with spaceless better #}
                {% if not forloop.first %}<span>, </span>{% endif %}
                
                {% if user.get_profile.logbook_share %}
                
                    <a href="{% url logbook user.username %}"
                       title="Click to see this user's logbook">{{user.username}}</a>
                       
                {% else %}
                    
                     <a title="This user does not allow others to view his/her logbook"
                       class="noshare" href="">{{user.username}}</a>  
                       
                {% endif %}
                
            {% empty %}

                (None)

            {% endfor %}
            {% endspaceless %}
        </td>
    </tr>
    <tr>
        <th>Total hours logged with this tailnumber</th>
        <td><big><strong>{{t_hours}}</strong></big></td>
    </tr>
    <tr>
        <th>Total number of flights logged with this tailnumber</th>
        <td><big><strong>{{t_flights}}</strong></big></td>
    </tr>
        <th>Airports this aircraft has landed at</th>
        <td>
            {% spaceless %}
            {% for a in airports %}
                {% url profile-airport a|upper as url %}
                
                {% if not forloop.first %}<span>, </span>{% endif %}
                
                <a href="{{ url }}">{{ a }}</a>
            {% endfor %}
            {% endspaceless %}
        </td>
    </tr>
</table>

{% endblock %}
