{% extends "base.html" %}
{% load profile_lists %}
{% block description %}{{ ty|upper }} type profile{% endblock%}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/item_profile.css">
{% endblock %}

{% block title %}Type Profile - {{ ty|upper }}{% endblock %}


{% block canvas %}

<h1>{{ ty|upper }}</h1>
{{manufacturers|join:", "}}

{% ifnotequal t_flights 0 %}
<br><a href="{% url routes_for_type-kml ty %}">View all flights in this type with Google Earth</a>
{% endifnotequal %}


<table class="main">
    <tr>
        <th>Users who have flown this aircraft type</th>
        <td>{{ users|list_users }}</td>
    </tr>
    <tr>
        <th>Total hours logged in this type</th>
        <td><big><strong>{{ t_hours }}</strong></big></td>
    </tr>
    <tr>
        <th>Total number of flights logged in this type</th>
        <td><big><strong>{{ t_flights }}</strong></big></td>
    </tr>
    <tr>
        <th>Number of unique airports this type has visited</th>
        <td><big><strong>{{ u_airports }}</strong></big></td>
    </tr>
    <tr>
        <th>Tailnumbers that are of this type</th>
        <td>{{ tailnumbers|list_tailnumbers }}</td>
    </tr>
</table>
<br>
<img src="{% url histogram-type ty %}" alt="Speed Histogram">

{% endblock %}
