{% extends "base.html" %}

{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/{{ title|lower }}.js"></script>
    {% endblock %}

{% block css %}
    img     {border: 2px solid black}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block canvas %}

		After you fist sign up, go to the "Planes" section and enter at least one airplane. You can not log any flights until you have entered at least one
		plane into your plane database.
	
		<div style="text-align: center; padding:10px">

			<img alt="Planes screenshot" src="{{ MEDIA_URL }}walkthrough/planes-1.png" />
		</div>
	
		Only "Tailnumber" and either "type" or "model" is required for each plane. Each tag must be comma separated, are not case sensitive, and may contain spaces.
		Common tags include "Complex", "High Performance", the name of the operator such as "Express Jet" or "Airnet", "Glass", "G1000", "Turbo", "Turbine",
		and "Jet". These tags are used to tally up totals based on hours flown in aircraft with various tags.<br /><br /> Also note that the Boeing has the "Type Rating Required"
		checkbox checked. This is so we can track type rating currency for this type.
	
		Now go to the Preferences section by clicking the link on the top navigation bar.
	
		<div style="text-align: center; padding:10px">
			<img alt="Preferences screenshot" src="{{ MEDIA_URL }}walkthrough/prefs-1.png" />
		</div>
	
		Both date of birth and Real name are optional. Your <strong>real name</strong> is only used for two things: printing your name at
		the top of each page telling you who is logged in, and for in the header when you export as a the printer friendly logbook.<br /><br />

	
		<strong>Date of birth</strong>, on the other hand, has a little more utility. It is used	to determine if your medical certificate should expire
		based on whether or not you are over 40 years old. If this field is left blank, it will assume you are over the age of 40, and will indicate your
		medical certificates will expire accordingly.<br /><br />
	
		You can also select from a few different <strong>Styles</strong>. For the rest of the {{ MEDIA_URL }}walkthrough, we'll use the "Red" scheme.
	
		<div style="text-align: center; padding:10px">
			<img alt="Preferences screenshot" src="{{ MEDIA_URL }}walkthrough/prefs-2.png" />
		</div>
	
		Under the "<strong>Currency Reminders</strong>" section there is a series of checkboxes. If you only have single engine airplanes in your plane database,
		only single engine airplane related currencies will be shown. Since we have both single and multi-engine aircraft in our plane database,
		single and multi-engine currencies are shown. Also, since we have one aircraft that has been checked "Type rating required", we have an
		option to track day and night landing currency for that type.<br /><br />

	
		We have also changed various options effecting the look and feel of the logbook screen, such as entries to show per page, and the format of the date column.<br /><br />
	
		There are seven different "<strong>Logbook Modes</strong>" that the user can select.
		Each mode hides a different set of fields from the new entry popup with the intent of reducing clutter and streamlining the user interface. If you are an
		Airline First Officer, for instance, you are not going to be logging PIC or Simulated Instrument time on a regular basis, so selecting this mode will hide those
		fields from the new entry popup and the logbook view. More on this feature later.<br /><br />
	
		Now you are ready to start logging flights. Navigate to the Logbook section, and click on the "New Entry" button at the top.
	
		<div style="text-align: center; padding:10px">
			<img alt="New Entry screenshot" src="{{ MEDIA_URL }}walkthrough/new_entry-1.png" />
		</div>
	
		Since we are in "Airline First Officer" mode, the only entry fields shown are Total, SIC, Actual Instrument, Night, and Cross Country. If, for whatever reason, you needed
		to log time into another field such as Simulated Instrument, click on the <strong>Show all Fields</strong> link at the bottom and all fields will be shown.<br /><br />

	
		Notice how the <strong>Route</strong> section is composed. First the three or four letter identifier of the departure airport followed by a single dash,
		then the identifier of the second airport, etc. It is recommended that all routes be logged this way. Local flights should be logged either
		"LGA-LGA", "LGA-LOCAL" or just "LGA". A space can also be used to seperate the identifiers instead of a dash. You have the freedom to log the route however you like,
		but not logging it in the recommended manner may cause problems with the <strong>Google Map route plotting feature</strong> and the <strong>Part 135 minimums</strong>
		calculator.<br /><br /> More on this below.
	
		The button next to each field is called a <strong>shortcut button</strong> that allows you to fill out fields faster and easier. If you click on the button next to the
		Cross Country field, it will copy the Total value to the Cross Country field. This way you don't have to type "12.5" into each box appropriate box individually.<br /><br />

	
		The button next to the Total box works a little differently. In "Airline First Officer" mode, it will copy the contents of Total to Cross Country and SIC. Since
		theoretically every flight you do as an airline first officer will be cross country time and SIC time, this button saves a little more time. The total button's
		behaviour is different for each mode.<br /><br />
	
		Another neat time saving feature is to enter a mathematical expression into the field. Instead of pulling out your calculator to add up the time of each leg, just enter
		"2.5+3.5+6.5" and press the shortcut button and it will evaluate the total for you. This feature comes in handy for determine total time from Hobbs start and end
		values, and for airline pilots who log flights from company paperwork where time is represented by each leg.<br /><br />
	
		If you'd like to use this site to keep track of your medical certificates, CFI renewals, and various other aviation events not associated with flight time,
		click the "<strong>New Non-flying Event</strong>" link in the new entry popup. Here you can enter the type of event, as well as a comment describing the event.
	
		<div style="text-align: center; padding:10px">
			<img alt="New Entry screenshot" src="{{ MEDIA_URL }}walkthrough/new_entry-2.png" />
		</div>
	
		After a few flights have been logged, the logbook screen should look like this. Since we are in "Airline First Officer" mode, columns like Dual Given and PIC are hidden.
		To show all columns, click the "<strong>Show all columns</strong>" link at the bottom.
	
		<div style="text-align: center; padding:10px">

			<img alt="Logbook screenshot" src="{{ MEDIA_URL }}walkthrough/logbook-1.png" />
		</div>
	
		The flight on August 5th, 2006 has "[Pilot Checkride]" in the comments section because that flight was checked off as a "<strong>Pilot Checkride</strong>" in the
		new entry popup. The date of this flight is whats used to determine your Pilot Certificate Currency. Since pilot checkrides count as a flight
		review, it will reset your status just as a flight tagged as "<strong>Flight Review</strong>" would. As you can see in the grey box at the bottom, this pilot is
		not current since his last flight review/pilot checkride was more than 24 calendar months ago.<br /><br />
	
		This pilot is Boeing 737-400 current, since he has 3 landings in the past 90 days in a plane of that type. Any landing in a plane with a type of "B-737-400" will
		be counted towards that <strong>type rating currency</strong>, even if that particular tail number has not been checked as "Type Rating Required". He is also
		multi-engine current since the Boeing is a multi-engine airplane. His logbook does not show any single engine landings in the past 90 days, so that
		box is grayed.<br /><br />
	
		Since this pilot has no flights checked as "<strong>Instructor Checkride</strong>", or as  "<strong>Instructor Refresher</strong>", any CFI currency can not be calculated.
		It should be noted that a flight checked "Instructor checkride" does not reset the Flight Review currency status. The FAA has came out and officially said that flight
		instructor checkrides do not implicitly imply that your pilot skills were being evaluated, so the site does not count for a Flight Review. Only if during your
		instructor checkride the examiner were to sign your logbook saying he explicitly gave you a Flight Review, you may check that flight as both
		"Instructor Checkride", and "Flight Review".
	
		<div style="text-align: center; padding:10px">

			<img alt="Currency screenshot" src="{{ MEDIA_URL }}walkthrough/ATP-1.png" />
		</div>
	
		Below all the currency boxes, you will see two additional boxes that show your flight times in relation to the minimum flight times required to take the ATP checkride,
		and the flight times required to act as PIC on a part 135 flight. Most of these values are taken directly from the totals in your logbook, such as Night, PIC and Total.
		Other times are calculated conditionally. For instance, XC time required for the 135 minimums does not require a landing at an airport 50 miles away. To calculate this
		time, it goes by the route field. If you logged the flight as going to another airport, it will count all that time as <strong>p2p (point to point) XC</strong>. In our
		example, all the flights logged count as 135 XC except for the "LGA-LGA" flight, and the three "LRR-LRR" flights.<br /><br />
	
		The number in parenthesis after your night hours in the ATP box represents the number of extra hours added due to night landings. The regulations say that if you have
		more than 20 night landings, you can substitute one night landing for one night flight hour towards that requirement. Since we have a total of 31 night landings, we add
		an additional 11 night hours towards that requirement, hence the "(+11)".<br /><br />
	
		There may also be a number next to the Instrument requirements due to the fact that up to a maximum of 25 hours of instrument time can be used towards that requirement
		if it's in an FTD or Simulator. Additionally, up to 100 hours of Simulator time will be added to the total time in the ATP requirement box in the same manner.<br /><br />
	
		That should just about do it. The rest of the site's features should be self explanitory. If something is still unclear, consult the FAQ section, or head on over to
		the forums and make a post there.

{% endblock %}

