<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script type="text/javascript" src="{% static "js/gmaps.js" %}"></script>
<script type="text/javascript">
    var kml_url = "http://flightlogg.in{{ kml_url }}"
</script>


<div id="view_in_googleearth">
    <a href="{{ kml_url }}">View in Google Earth</a>
</div>

<div id="gmap" class="{{ map_height|default:'short' }}">
</div>

<div id="toggle">
    <a href="" >Show Map Key</a>
</div>

<div id="key">
    <table id="icon">
    <tr>
        <td><img src="{% static "icons/yellow_pad.png" %}" alt="yellow dot"><br>Small Airport</td>
        <td><img src="{% static "icons/orange_pad.png" %}" alt="orange dot"><br>Medium Airport</td>
        <td><img src="{% static "icons/red_pad.png" %}" alt="red dot"><br>Large Airport</td>
        <td><img src="{% static "icons/green_pad.png" %}" alt="green dot"><br>Off Airport</td>
        <td><img src="{% static "icons/purple_pad.png" %}" alt="purple dot"><br>Heliport</td>
        <td><img src="{% static "icons/cyan_pad.png" %}" alt="cyan dot"><br>Seaport</td>
        <td><img src="{% static "icons/teal_pad.png" %}" alt="teal dot"><br>Balloon Port</td>
        <td><img src="{% static "icons/gray_pad.png" %}" alt="gray dot"><br>Closed</td>
        <td><img src="{% static "icons/white_pad.png" %}" alt="white dot"><br>Unknown</td>
    </tr>
    </table>

    <table id="line">
    <tr>
        <td><img src="{% static "icons/green_line.png" %}" alt="green line"><br>Actual Instrument</td>
        <td><img src="{% static "icons/orange_line.png" %}" alt="orange line"><br>Dual Given</td>
        <td><img src="{% static "icons/red_line.png" %}" alt="red line"><br>PIC</td>
        <td><img src="{% static "icons/purple_line.png" %}" alt="purple line"><br>SIC</td>
        <td><img src="{% static "icons/blue_line.png" %}" alt="blue line"><br>Dual Received</td>
    </tr>
    </table>
</div>
