{% extends "base.html" %}

{% block description %}{{ request.display_user.username }}'s maps{% endblock%}

{% block javascript %}
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/maps.css">
	<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}/gmaps.css">
	<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/item_profile.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ GOOGLE_MAPS_KEY }}"></script>
	<script type="text/javascript">
	NAVBAR_HIGHLIGHT = "maps-sel";
	
    {% url user-kml request.display_user as url %}
    var kml_url = "http://flightlogg.in{{ url }}"
    
</script>
{% endblock %}

{% block title %}Maps{% endblock %}


{% block canvas %}

{% url user-kml request.display_user as url %}
<div id="view_in_googleearth">
    <a href="{{ url }}">View in Google Earth</a>
</div>
<div id="gmap" class="tall"></div>

<table id="images_table">
    <tr>
        <td>
            <h3>All states colored equally</h3>
            {% url state-map request.display_user "colored" "png" as colored %}
            <img src="{{ colored }}"><br>
            {{ SITE_URL }}{{ colored }}
        </td>
        <td>
            <h3>States colored by total visits</h3>
            {% url state-map request.display_user "count" "png" as count %}
            <img src="{{ count }}"><br>
            {{ SITE_URL }}{{ count }}
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <h3>States colored by unique airports visited</h3>
            {% url state-map request.display_user "unique" "png" as unique %}
            <img src="{{ unique }}"><br>
            {{ SITE_URL }}{{ unique }}
        </td>
    </tr>
</table>

{% endblock %}
