
div#gmap                        {width: 100%;
                                 margin: 10px auto 0px auto;
                                 background: green;}
                                 
div#gmap.short                  {height: 25em;}
div#gmap.tall                   {height: 50em;}

div#view_in_googleearth         {font-size: x-small;
                                 text-align: left;
                                 margin-bottom: -5px}
