
#main_content                                {overflow: visible}

#canvas                                      {overflow: visible;
                                              width: 98%; 
                                              max-width: 98%;}

/* the [Pilot Checkride] tag in the remarks section*/
.flying_event                                {color: darkred; font-weight: bold}

/* hidden data for the popup window */
.date_col span                               {display: none}


#logbook_table                               {width:100%;
                                              border: 0px solid #C3C3C3;
                                              background: white;
                                              font-size: x-small;
                                              border-collapse: collapse}

/* odd rows */
#logbook_table tbody tr:nth-child(even) td   {background: #E2EEEE}

/* even rows */
#logbook_table tbody tr:nth-child(odd) td    {background: white}

/* all table cells */
#logbook_table td                            {border: 1px solid #C3C3C3; padding: 1px}

/* the remarks column */
#logbook_table td:last-child:not([colspan])  {white-space: normal; text-align: left}

/* both header rows at the top and bottom */
#logbook_table tr.header td                  {background: #E0FFFF !important}

/* mass edit link */
#logbook_table tfoot td[colspan]             {border: none; text-align:right}

td.empty_logbook                             {font-size: x-large; padding: 10px !important}

.small_popup                                 {background: #E0FFFF;
                                              display:none;
                                              position: absolute;
                                              padding: 3px;
                                              font-size: x-small;
                                              border: 1px solid black;}
