
#main_content                             {overflow: visible}

#canvas                                   {overflow: visible;
                                           text-align: center}

table.mass_table                          {margin: 0 auto 0 auto;
                                           background: white;
                                           border-collapse: collapse;
                                           overflow: visible}
                                           
table.mass_table input                    {font-size: small}

tr.header_row td                          {font-size: x-small;
                                           background: white;
                                           padding: 0}
                                           
table.mass_table tr:nth-child(even)       {background: #DDDDDD}

input.route_line                          {width: 8em}
input.person_line                         {width: 8em}
input[id$=fuel_burn]                      {width: 3em}
input.vDateField                          {width: 6.5em}
input.float_line                          {width: 2.4em; margin: 1px}
