
/* the "new" button at the top */
input[type="button"]        {margin: 10px}

#popup                      {position: absolute;
                             top: 50px;
                             left: 50px;
                             display: none;
                             width: 380px;
                             background: white;
                             font-size: small !important;
                             text-align:center;
                             overflow: hidden;
                             border: 2px solid black}
                             
#popup table                {margin-left: auto; margin-right: auto}

#dragbar                    {background: #CCE4EB;
                             width: 100%;
                             text-align: right;
                             margin-bottom: .5em;
                             border-bottom: 1px solid black}
                             
#dragbar td:first-child     {width:100%;
                             text-align:center;
                             font-weight: bold;
                             font-size: larger}
                             
#dragbar td:last-child      {text-align:right}

#close_x                    {cursor: pointer; font-weight: bold}

#edit_buttons,
#new_buttons                {padding: 10px}

ul.errorlist                {color: red;
                             margin: 0;
                             margin-left: auto;
                             margin-right: auto;
                             padding: 0px; 
                             width: 80%;
                             list-style-type: none;
                             text-align: center;
                             border: 1px dotted red}
