fieldset                              {text-align: right}
legend                                {font-size: large; font-weight: bold;
                                        color: #11566d}
input, select                         {width: 80%}
input[type="checkbox"]                {width: auto}
input[type='submit']                  {width: auto; margin-top: 15px}

ul                                    {font-sze: inherit; margin: 0; color: red;
                                        font-weight: bold}

.prefs_table                          {width:100%; border: 0px solid black;
                                        font-size: medium; margin-right: auto;
                                        margin-left: auto}

.prefs_table td:first-child           {border: 0px solid green; width: 50%;
                                        text-align: right; padding-right: 10px}
.prefs_table td                       {border: 0px solid blue; text-align: left;
                                       width: 10%}

/* The help text column */
.prefs_table td:last-child            {font-size: small; color:gray; width: 30%}

td[colspan='4']                       {padding-bottom: 10px; text-align: center}

#columns_table                        {color: black; border: 1px solid gray;
                                        margin-right: auto; margin-left: auto}

/* the titles column */
#columns_table td                     {font-size: small; text-align: left;
                                        padding: 0 3px 0 3px !important;
                                        width: 20em}

/* the first two columns where the checkboxes are */
#columns_table td:nth-child(2),
#columns_table td:first-child         {text-align: center; width: 2em}

/* header row */
#columns_table tr:first-child > td    {width: 2em !important;
                                        background: white !important}

/* striping */
#columns_table tr:nth-child(even) td  {background: #EDEDED}
#columns_table tr:nth-child(odd) td   {background: #E0FFFF}

/* help text row */
#columns_table td:last-child          {width: 40em; font-size: xx-small;
                                        font-style: italics; color: black}

.delete_box                           {text-align: center }

#instructions                         {text-align: center; color: gray}
