
#checktable                     {margin-left: auto; margin-right: auto}
#checktable td                  {text-align: left}

#sig_url                        {min-width: 800px;
                                 padding: 20px;
                                 width: 50%;
                                 font-size: large;
                                 background: pink;
                                 text-align: center;
                                 margin: 0 auto 0 auto}
                             
#image_div                      {padding: 20px;
                                 background: clear;
                                 min-width: 10%}
