#canvas             {text-align: left}
div.currbox         {width: 100%; overflow: hidden; margin-bottom: 10px; text-align: center}
div.currbox p       {margin-top: 3px}
h2                  {margin-left: auto; margin-right: auto}                  
h3                  {font-size: large; color: black; margin-bottom: 3px}

div.inner_currbox   {border: 1px solid black; width: 49%; height: 100px}
div.medical_third   {border: 1px solid black; width: 32%; height: 100px; float: left; margin: 5px}
div.inst_four       {border: 1px solid black; width: 23.5%; height: 50px;
                     float: left; margin: 5px; font-size: xx-small;
                     padding-top: 3px}
                     
.inst_bar            {width: 99% !important; height: 30px !important}

div.day             {float: left}
div.night           {float: right}

div.bfr             {float: left}
div.cfi             {float: right}

.expired            {background-color: gray}
.current            {background-color: DarkSeaGreen}
.alert              {background-color: #d53823}

.nothing            {font-size: large; margin: 10px; text-align: center}



table.currbox                 {width: 100%; border: 1px solid black;
                               text-align: center; font-size: xx-small;
                               height: 100px; border-collapse: collapse;}
                               
table.currbox strong          {font-size: small}
table.currbox td              {width: 25%; border: 1px solid black}
tr.full_bar td                {text-align: center}
