
table.milestone_table        {margin: 0 auto 0 auto; border: 2px solid gray}
table.milestone_table td     {text-align: left; padding-left: 10px}

/* not yet met */
.x                           {color: red}

/* already met */
.v                           {color: green}

/* don't know */
.q                           {color: purple; font-weight: bold}
