
#site_stats                     {font-size: large;
                                 margin: 0 auto 0 auto;
                                 text-align: right;
                                 border-collapse: collapse;
                                 width: 100%}

#site_stats td                  {border: 1px dotted gray;
                                 padding-right: 10px}
                                  
#site_stats td:last-child       {text-align: left;
                                 font-weight: bold;
                                 padding-left: 10px}

/* striping */                              
#site_stats tr:nth-child(odd)   {background-color: #DDDDDD}
#site_stats tr                  {background-color: white}
                                 
#openid td, #openid th          {border: 1px dotted gray; text-align: center}
#openid                         {margin: 0 auto 0 auto;}
#openid td                      {text-align: left; padding: 0 10px 0 10px}
#openid td:first-child          {text-align: right}
