<h1>Sign in with your OpenID</h1>
<table border=1>
    <tr>
        <td><strong>To use this provider</strong></td>
        <td><strong>enter this into the box below</strong></td>
    </tr>
    <tr>
        <td>Google:</td>
        <td>https://www.google.com/accounts/o8/id</td>
    </tr>
    
    <tr>
        <td>Yahoo:</td>
        <td>yahoo.com</td>
    </tr>
    
    <tr>
        <td>AOL:</td>
        <td>http://openid.aol.com/[your username]</td>
    </tr>
    
       <tr>
        <td>MySpace:</td>
        <td>your profile url such as http://www.myspace.com/[numbers or username]</td>
    </tr>
    
</table>

</table>
{% if form.errors %}
<p class="errors">Please correct errors below:<br />
	{% if form.openid_identifier.errors %} 
		<span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
	{% endif %}
	{% if form.next.errors %} 
		<span class="error">{{ form.next.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
<form name="fopenid" action="{{ action }}" method="post">
	<fieldset>
		<legend>Sign In Using Your OpenID</legend>
        <div class="form-row">
            <label for="id_openid_identifier">OpenID:</label><br />
            {{ form.openid_identifier }}
        </div>
        <div class="submit-row "><input name="bsignin" type="submit" value="Sign in"></div>

 {% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
 {% endif %}

</fieldset>
