{% extends "base.html" %}

{% block title %}Sign in using OpenID{% endblock %}

{% block javascript %}
<meta name="description" content="Login with OpenID">
<script type="text/javascript" src="{% static "openid-realselector/js/jquery.openid.min.js" %}"></script>	
<link rel="stylesheet" href="{% static "openid-realselector/css/style.css" %}">

<script type="text/javascript">
		$(document).ready(function() {
			$('#openid').openid({
       			img_path: '{% static "openid-realselector/img/" %}',
      });
	});
</script>
{% endblock %}

{% block canvas %}
<h1>Login with OpenID</h1>
<div class="instructions">
    FlightLogg.in no longer allows new accounts to be created using OpenID authentication (as of April 29th, 2013).
    All new accounts created after that date should be using password-based authentication.
    However if you already created a FlightLogg.in account prior to that date you may
    still log in using that OpenID provider (such as Google, Yahoo, AOL, LiveJournal and a bunch others).
    <br><br>
    To log in, select the OpenID provider you used when you created your account. You
    will then be automatically logged in.
    <br><br>
    <a href="http://openidexplained.com/" target="_blank">Click here for more Information about OpenID</a>
</div>

<br>

{% if old_browser %}
    {% include "openid/basic_login.html" %}
{% else%}
    {% include "openid/fancy_login.html" %}
{% endif %}

{% endblock %}
