<script>
    $(document).ready(function() {
        // set the navbar to the correct item
        var url = window.location.pathname;
        if(url.indexOf('logbook') != -1) {
            var username = url.split('/')[2];
            url = '/logbook/' + username;
        }
        var li = $('ul.nav li a[href="'+ url +'"]');
        li.parent().addClass('active');
    });
</script>

<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/">FlightLogg.in'</a>
        <ul class="nav">
            {% if not shared or user.get_profile.logbook_share %}
            <li class="pull-left">
                <a href="/logbook/{{ user.username }}">Flights</a>
            </li>
            {% endif %}
            
            {% if not shared or user.get_profile.logbook_share %}
            <li class="pull-left">
                <a href="{% url planes user.username as url %}{{ url }}">Planes</a>
            </li>
            {% endif %}
            
            {% if not shared or user.get_profile.events_share %}
            <li class="pull-left">
                <a href="{% url events user.username as url %}{{ url }}">Events</a>
            </li>
            {% endif %}
            
            {% if not shared or user.get_profile.logbook_share %}
            <li class="pull-left">
                <a href="{% url locations user.username as url %}{{ url }}">Locations</a>
            </li>
            {% endif %}
            
            {% if not shared or user.get_profile.records_share %}
            <li class="pull-left">
                <a href="{% url records user.username as url %}{{ url }}">Records</a>
            </li>
            {% endif %}
                
            {% if not shared or user.get_profile.other_share %}
            
            <li class="dropdown pull-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Visualize
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url linegraphs user.username as url %}{{ url }}">Graphs</a>
                    </li>
                    <li>
                        <a href="{% url bargraphs user.username as url %}{{ url }}">Bar Graphs</a>
                    </li>
                    <li>
                        <a href="{% url maps user.username as url %}{{ url }}">Maps</a>
                    </li>
                    <li>
                        <a href="{% url states user.username as url %}{{ url }}">States</a>
                    </li>
                    <li>
                        <a href="{% url sigs user.username as url %}{{ url }}">Sigs</a>
                    </li>
                </ul>
            </li>
            
            <li class="dropdown pull-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Analyze
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url est user.username as url %}{{ url }}">8710</a>
                    </li>
                    <li>
                        <a href="{% url currency user.username as url %}{{ url }}">Currency</a>
                    </li>
                    <li>
                        <a href="{% url milestones user.username as url %}{{ url }}">Milestones</a>
                    </li>
                </ul>
            </li>

            <li class="pull-left">
                <a href="{% url badges user.username as url %}{{ url }}">Badges ({{ badges_count }})</a>
            </li>
            
            {% endif %}
            
            {% if not shared %}

            <li class="dropdown pull-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Data
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url mass-entry user.username as url %}{{ url }}">Mass Entry</a>
                    </li>
                    <li>
                        <a href="{% url import user.username as url %}{{ url }}">Import</a>
                    </li>
                    
                    <li>
                        <a href="{% url export user.username as url %}{{ url }}">Export</a>
                    </li>
                </ul>
            </li>                    

            <li>
                <a href="{% url profile user.username as url %}{{ url }}">Preferences</a>
            </li>
            {% endif %}

            <li class="pull-right">
                <a>Logged in as</a>
            </li>

        </li>
    </div>
</div>