{% extends "base.html" %}
{% load cache %}

{% block description %}{{ request.display_user.username|default:"Pilot" }}'s electronic logbook application{% endblock%}

{% block javascript %}
    <link rel="canonical" href="http://flightlogg.in{% url news %}">
    <link rel="alternate" title="FlightLogg.in' News feed" href="/feeds/news" type="application/rss+xml">
{% endblock %}

{% block title %}News{% endblock %}
{% block canvas %}
    <h1>News</h1>
    {% for item in news %}
        <div class="news_box">
            <h2>{{ item.title }}</h2><br />
            <h3>{{ item.date|date:"l, F jS, Y" }}</h3>
            <p>
            {{ item.text|safe|linebreaksbr }}
            </p>
        </div>
    {% endfor %}
{% endblock %}
