GOOGLE_ANALYTICS_CODE = ''
RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''
FACEBOOK_API_KEY = ''
FACEBOOK_SECRET_KEY = ''
AWS_ACCESS_KEY = ''
AWS_SECRET_KEY = ''
GOOGLE_MAPS_KEY = ""
SECRET_KEY = ''