GOOGLE_ANALYTICS_CODE = ''
FACEBOOK_API_KEY = ''
FACEBOOK_SECRET_KEY = ''
AWS_ACCESS_KEY = ''
AWS_SECRET_KEY = ''
GOOGLE_MAPS_KEY = ''
SECRET_KEY = ''
SMTP_USERNAME = ''
SMTP_PASSWORD = ''

# these below will change depending on deployment
DATABASE_USER = 'chris'
DATABASE_PASS = 'spatula'