<!-- recaptcha -->

<script type="text/javascript">var RecaptchaOptions = {theme : 'white'};</script>
<script type="text/javascript" src="http://api.recaptcha.net/challenge?k={{ RECAPTCHA_PUBLIC_KEY }}{{ captcha_error}}">
</script>

<noscript>
<iframe src="http://api.recaptcha.net/noscript?k={{ RECAPTCHA_PUBLIC_KEY }}{{ captcha_error }}"
        height="300" width="500" frameborder="0"></iframe><br>
<textarea name="recaptcha_challenge_field" rows="3" cols="40">
</textarea>
<input type="hidden" name="recaptcha_response_field" 
       value="manual_challenge">
</noscript>

<!-- recaptcha -->
